    .e-image {
        height: 13px;
        width: 14px;
        vertical-align: middle;
    }

    .statustemp {
        position: relative;
        border-radius: 15px;
        text-align: center;
        background-color: #C3F1D0;
        color: #00752F;
        width: 47px;
    }

    .e-bigger.tailwind .e-grid .statustemp, .e-bigger.tailwind-dark .e-grid .statustemp,
    .e-bigger.bootstrap5 .e-grid .statustemp, .e-bigger.bootstrap5-dark .e-grid .statustemp{
        padding-top: 1px;
    }

    .statustemp.e-lowgdp {
        background-color: #FFDBDB;
        color: #BD0000;

    }

    td.e-rowcell .statustxt {
        color: #398120;
        position: relative;
    }

    td.e-rowcell .statustxt.e-lowgdp {
        color: #e60000;
        position: relative;
    }

    .rating .star {
        font-size: 132%;
        color: lightgrey;
    }

    .rating .star.checked {
        color: #EE9E54;
    }

    .rating .star:before {
        content: '★';
    }
    .negativeTimeZone {
        transform: rotate(180deg);
    }
    #myBar {
        position: absolute;
        width: 10%;
        height: 100%;
        background-color: #00b300;
    }

    #myBar.progressdisable {
        background-color: #df2222;
    }

    #treegridlabel {
        position: relative;
        left: 10px;
        line-height: 18px;
        font-size: 10px;
        color: white;
    }
    .highcontrast .e-grid #myProgress {
        background-color: whitesmoke;
    }
    #myProgress {
        position: relative;
        height: 18px;
        width: 10em;
        text-align: left;
        background-color: whitesmoke;
    }
    #myBar.progressdisable {
        background-color: #df2222;
    }

    .tailwind .e-grid #coordinates.e-checkbox-wrapper .e-label, .e-css.e-checkbox-wrapper .e-label,
    .tailwind-dark .e-grid #coordinates.e-checkbox-wrapper .e-label, .e-css.e-checkbox-wrapper .e-label {
        display: inline;
    }

    #coordinates .e-image {
        filter: brightness(180%);
    }

    .e-bigger .e-grid .e-rowcell {
        line-height: 24px;
    }
        .material3-dark .rating .star.checked, .material3 .rating .star.checked {
        color: #6750A4;
    }

    .material3-dark #myBar, .material3 #myBar {
        background-color: #53CA17;
    }

   .material3-dark #myBar.progressdisable, .material3 #myBar.progressdisable {
        background-color: rgba(242, 184, 181, 1);
    }
