<div class="col-lg-12 control-section">
  <app-ai-toast></app-ai-toast>
    <div class="content-wrapper">
        <div id='container' style="height: 100%;width: 100%;">
            <div id="documenteditor_titlebar" class="e-de-ctn-title"></div>
            <ejs-documenteditorcontainer #container id='DocumentEditor' [enableToolbar]="true" height="98vh" width="100%"
              serviceUrl="https://services.syncfusion.com/js/production/api/documenteditor/"
              (created)="documenedContainercreated()" (customContextMenuSelect)="onCustomContextMenuSelect($event)">

            </ejs-documenteditorcontainer>
            <ejs-dialog #dialog id="dialog" header="AI Rephrase" [showCloseIcon]="true" [buttons]="buttonSettings"
              [visible]="false" target="#DocumentEditor" width="50%" height="auto" [isModal]="true" (close)="onclose()"
              (beforeOpen)="onBeforeOpen()" (open)="onOpen($event)">
              <ng-template #content>
                <!-- help: https://ej2.syncfusion.com/angular/documentation/splitter/split-panes/#horizontal-layout -->
                <ejs-splitter height="auto" orientation="Vertical" width="100%">
                  <e-panes>
                    <e-pane size="auto" [collapsible]='true'>
                      <ng-template #content>
                        <div>
                          <div id="e-de-qus-parent">
                            <div #qdiv id="e-de-qus-div"></div>
                            <ejs-toolbar id="e-de-qus-toolbar" prefixIcon="e-icons e-chevron-left">
                              <e-items>
                                <e-item prefixIcon="e-icons e-chevron-left" align="Center"
                                  (click)="moveToPreviousPara()"></e-item>
                                <e-item prefixIcon="e-icons e-chevron-right" align="Center" (click)="moveToNextPara()"></e-item>

                              </e-items>
                            </ejs-toolbar>
                            <div id="e-de-qus-toolbar"></div>
                          </div>
                        </div>
                      </ng-template>
                    </e-pane>
                    <e-pane  size="auto" [collapsible]='true'>
                      <ng-template #content>
                        <div>
                          <div #editable id="e-de-editable-div" contenteditable="true"
                            style="height: 100px; padding: 5px;background: #f9fafb;"></div>
                        </div>
                      </ng-template>
                    </e-pane>

                  </e-panes>
                </ejs-splitter>
                <ejs-toolbar #toolbar id="toolbar" (created)="onToolbarCreated()">
                  <!-- 1st Toolbar -->
                  <e-items>
                    <e-item prefixIcon="e-icons e-chevron-left" (click)="moveToPrevious()"></e-item>
                    <e-item type="Input" align="Left" cssClass="page-count">
                      <ng-template #template>
                        <div>
                          <input type="text" id="numeric" style="width: 20px; padding-left: 10px;">
                          <span class="total-page"> of 3 </span>
                        </div>
                      </ng-template>
                    </e-item>
                    <e-item prefixIcon="e-icons e-chevron-right" (click)="moveToNext()"></e-item>
                    <e-item text="Rewrite" align="Right" (click)="onRewriteClick()"></e-item>
                    <e-item prefixIcon="e-icons e-settings" (click)="onSettingsClick()"></e-item>

                    <!-- 2nd Toolbar -->

                    <e-item prefixIcon="e-icons e-close" (click)="onCloseSecndaryToolbar()"></e-item>
                    <e-item type="Input" align="Left">
                      <ng-template #template>
                        <ejs-combobox [width]="'125px'" (change)="onToneChange($event)" [value]="toneValue"
                          [dataSource]="toneList" [popupWidth]="'125px'" [showClearButton]="false"
                          [readonly]="false"></ejs-combobox>
                      </ng-template>
                    </e-item>
                    <e-item type="Input" align="Left">
                      <ng-template #template>
                        <ejs-combobox [width]="'200px'" (change)="onFormatChange($event)" [value]="formatValue"
                          [dataSource]="formatValueList" [popupWidth]="'200px'" [showClearButton]="false"
                          [readonly]="false"></ejs-combobox>
                      </ng-template>
                    </e-item>
                    <e-item type="Input" align="Left">
                      <ng-template #template>
                        <ejs-combobox [width]="'100px'" (change)="onLengthChange($event)" [value]="lengthValue"
                          [dataSource]="lengthList" [popupWidth]="'100px'" [showClearButton]="false"
                          [readonly]="false"></ejs-combobox>
                      </ng-template>
                    </e-item>
                    <e-item text="Rewrite" (click)="onRewriteClick()"></e-item>

                    <!-- 3rd Toolbar -->

                    <e-item type="Input" align="Left">
                      <ng-template #template>
                        <ejs-combobox [width]="'160px'" (change)="onLanguageChange($event)" [value]="'French'"
                          [dataSource]="languageList" [popupWidth]="'160px'" [showClearButton]="false"
                          [readonly]="false"></ejs-combobox>
                      </ng-template>
                    </e-item>
                    <e-item text="Translate" (click)="onTranslateClick()"></e-item>


                    <!-- 4th Toolbar -->

                    <e-item type="Input" align="Left">
                      <ng-template #template>
                        <ejs-multiselect [width]="'250px'" (change)="ValueChangeHandler($event)" [dataSource]="grammer"
                          [fields]="{ text: 'name', value: 'name' }" placeholder="e.g. Spelling Errors" mode="CheckBox"
                          showSelectAll="true" selectAllText="Select All" showDropDownIcon="true" enableSelectionOrder="true"
                          filterBarPlaceholder="Search grammar suggestion"></ejs-multiselect>
                      </ng-template>
                    </e-item>
                    <e-item text="Rewrite" align="Right" (click)="onGrammerCheckClick()"></e-item>
                  </e-items>
                </ejs-toolbar>
              </ng-template>
            </ejs-dialog>

        </div>
    </div>
    <div id="action-description">
        <p>
            This sample demonstrates the capabilities of the Smart Editor in enhancing document editing within the
            Syncfusion Angular Document Editor. Users can refine their content by:
        </p>
        <ul>
            <li>Rewriting text for improved clarity and style.</li>
            <li>Checking grammar to ensure correct language use.</li>
            <li>Translating content into different languages seamlessly.</li>
        </ul>
        <p>With the selection context feature, users can enhance their writing quality directly within the editor,
            making
            it easier to achieve polished and accurate documents.</p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
                href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/'
                aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
                repository</a>.</p>
    </div>
    <div id='description'>
        <p>
            <strong>Rewriting:</strong> The rewriting feature enables users to rephrase sentences or paragraphs,
            enhancing
            content clarity and adapting the tone to fit different contexts. This tool is designed to improve the
            overall
            readability and effectiveness of the document.
        </p>
        <p><strong>Grammar Check:</strong> The grammar check function scans the document for grammatical errors,
            providing
            suggestions for corrections related to subject-verb agreement, punctuation, and sentence structure. This
            ensures
            the document maintains high grammatical accuracy.</p>
        <p><strong>Translation:</strong> The translation feature allows users to convert the document content into
            multiple
            languages. This is particularly useful for creating multilingual documents or understanding content written
            in
            foreign languages.</p>
            
    </div>
     <app-ai-toast></app-ai-toast>
</div>