    .control-section {
        height: 100%;
        min-height: 350px;
    }

    .ajaxsample .e-dialog .e-dlg-header img.img1 {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        margin-top: 5px;
        float: left;
    }
    .ajaxsample .e-dialog .e-dlg-header {
        width: 90%;
    }
    .fabric .ajaxsample .e-dialog .e-dlg-content {
        font-size: 13px;
    }    

    .bootstrap .ajaxsample .e-dialog .e-dlg-header img.img1 {
        margin-top: 1px;
    }

    .bootstrap4 .ajaxsample .e-dialog .e-dlg-header img.img1 {
        margin-top: 0px;
    }

    .bootstrap .ajaxsample .e-dialog .e-dlg-header {
        margin-top: 6px;
    }

    .ajaxsample .e-footer-content button.e-control.e-btn.e-flat {
        width: 100%
    }

    .ajaxsample .e-dialog .e-footer-content .e-btn {
        margin-left: 0px;
    }
    
    .highcontrast .ajaxsample .e-dialog .e-footer-content .e-btn,
    .fabric .ajaxsample .e-dialog .e-footer-content .e-btn,
    .highcontrast .ajaxsample .e-footer-content button.e-control.e-btn.e-flat,
    .fabric .ajaxsample .e-footer-content button.e-control.e-btn.e-flat {
        margin-top: 10px;
	}
	
    .ajaxsample .e-dlg-header-content {
       min-height: 65px; 
    }

    .bootstrap4 .ajaxsample .e-dlg-header-content {
        min-height: 50px; 
     } 

	.ajaxsample .e-dialog .e-icon-dlg-close::before{
	    top: 6px;
    }
    
	.e-bigger.e-dialog .e-footer-content .e-btn, .e-bigger .e-dialog .e-footer-content .e-btn{
	   margin-left: 0px;
    }
    
	.ajaxsample .e-footer-content button.e-control.e-btn.e-flat {
		width: initial;
    }

    .ajaxsample .e-btn .e-btn-icon {
        margin-top: -12px;
    }