.material button#sendButton, button#sendButton {
    top: 4px;
    position: relative;
}
.control-section.template {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 350px;
}
.bootstrap button#sendbtn {
    margin-right: 1%;
}
.material .template .e-dialog .e-dlg-header-content, .template .e-dialog .e-dlg-header-content {
    background-color: #3f51b5;
}
.fabric .template .e-dialog .e-dlg-header-content {
    background-color: #0078d7;
}
.bootstrap .template .e-dialog .e-dlg-header-content {
    background-color: #428bca;
}
.bootstrap4 .template .e-dialog .e-dlg-header-content {
    background-color: #007bff;
}
.highcontrast .template .e-dialog .e-dlg-header-content {
    background-color: #ffd939;
}
.material.e-bigger .template .e-dialog .e-footer-content {
    padding-left: 23px;
}

.template .e-dlg-header-content .e-btn.e-dlg-closeicon-btn,  .e-bigger .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 5px;
    left: -11px;
}
.e-bigger .template .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 3px;
    left: -11px;
}
.bootstrap4 .template .e-dlg-header-content .e-btn.e-dlg-closeicon-btn,
.bootstrap4.e-bigger .template .target-element .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    top: 8px;
}
.template .e-dialog.e-rtl .e-dlg-header-content .e-btn.e-dlg-closeicon-btn,  .e-bigger .template .e-dialog.e-rtl .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    left: 11px;
}
.template .e-dialog .e-dlg-header {
    position: relative;
}
.template .e-dialog.e-rtl .e-dlg-header {
    left: -7px;
}
.template .e-dialog .e-footer-content, .highcontrast.e-bigger .template .e-dialog .e-footer-content {
    padding: 15px;
}
.template .e-dialog .e-dlg-content {
    padding: 0;
}
.fabric button#sendButton, .highcontrast button#sendButton {
    position: relative;
}

.fabric button#sendbtn, .highcontrast button#sendbtn {
    top: -2px;
}

 .fabric .template input.e-input,  .highcontrast .template input.e-input {
    float: left;
    height: 35px;
}

.fabric.e-bigger .template input.e-input {
    height: 40px;
}

.e-bigger.highcontrast button#sendbtn {
    margin-right: -17px;
    margin-top: -2%;
}

.template .e-dialog .e-dlg-header-content {
    padding: 6px;
}
.e-bigger.e-dialog .e-dlg-header-content, .e-bigger .template .e-dialog .e-dlg-header-content {
    padding: 8px;
}
.template .e-open-icon::before {
    content: '\e782';
}
.template .e-dialog .e-dlg-header >img.img2 {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    vertical-align: middle;
}
#dlg-template {
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}
.template input.e-input {
    width: 75%;
    float: left;
}
.template .e-rtl input.e-input {
    float: right;
}

.template .e-icon-settings.e-icons {
    float: left;
    position: relative;
    left: 14%;
    top: -33px;
}

.template .e-dialog.e-rtl .e-footer-content .e-btn {
    margin-left: 0;
}

.template .e-dialog.e-rtl .e-icon-settings.e-icons {
    left: 0;
}

.fabric .template .e-icon-settings.e-icons, .highcontrast .template .e-icon-settings.e-icons {
    top: -37px;
}

.e-bigger.fabric .template .e-icon-settings.e-icons, .e-bigger.highcontrast .template .e-icon-settings.e-icons {
    top: -35px;
}
.template .dialogContent .dialogText {
    font-size: 13px;
    padding: 5%;
    word-wrap: break-word;
    border-radius: 6px;
    text-align: justify;
    font-style: initial;
    display: block;
}
.template .e-dlg-header .e-icon-settings, .e-icon-btn {
    color: #fff;
}

.template .dialogContent .dialogText, .template .dialogContent .dialogText  {
    background-color: #f5f5f5;
}

.material .template .e-dialog .e-footer-content, .template .e-dialog .e-footer-content, .fabric .template .e-dialog .e-footer-content {
    border-top: 0.5px solid rgba(0, 0, 0, 0.42);
}
.highcontrast .template .e-dialog .e-footer-content, .fabric .template .e-dialog .e-footer-content {
    padding: 20px 25px;
}

.highcontrast .template .e-dialog .e-footer-content {
    border-top: 0.5px solid #fff;
}
.bootstrap4 .template .e-dialog .e-footer-content {
    border-top: 1px solid #e9ecef;
}
.highcontrast .template .dialogContent .dialogText { 
    background-color: #bfbfbf;
}
.template .dialogContent {
    display: block;
    font-size: 15px;
    word-wrap: break-word;
    text-align: center;
    font-style: italic;
    border-radius: 6px;
    padding: 3%;
    position: relative;
    top: 25px;
}
.e-bigger.e-dialog .e-dlg-content, .e-bigger .template .e-dialog .e-dlg-content {
    padding: 0;
}
.e-bigger .template .e-dialog .dialogContent {
    top: 20px;
}
.e-bigger.bootstrap .template .e-dialog .dialogContent {
    top: 30px;
}
.control-wrapper .e-control.e-dialog {
    width: 30%;
}
.template .e-dialog .e-dlg-header-content .e-icon-dlg-close {
  color: #fff;
}
.fabric .template .e-dialog .e-btn.e-dlg-closeicon-btn:hover span {
    color: #8ECBFF;
}
.material .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover, .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.material .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus, .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    background-color: rgba(255,255,255, 0.10);
}
.bootstrap4 .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.bootstrap4 .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
    background-color : transparent;
}
.material .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:active .e-icon-dlg-close ,
.material .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus .e-icon-dlg-close,
.material .template .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover .e-icon-dlg-close {
    color: #fff;
}
.template .e-dialog .e-dlg-header-content .e-dlg-header .e-avatar.template-image {
    background-image: url(~/assets/dialog/images/1.png);
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
}
