.ddt-template .head {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.e-rtl.ddt-template .e-badge.icons {
    left: 0;
    right: unset;
}

.e-rtl.ddt-template .eimage {
    padding: 11px 0 11px 16px;
    float: right;
}

.ddt-template .footer {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

.ddt-template .head,
.ddt-template .footer {
    background-color: #F5F5F5;
    color: #718292;
    box-sizing: border-box;
    font-weight: bold;
}

.highcontrast .ddt-template .head,
.highcontrast .ddt-template .footer,
.highcontrast .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #000;
}

.material-dark .ddt-template .head,
.material-dark .ddt-template .footer,
.material-dark .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #333;
}

.fabric-dark .ddt-template .head,
.fabric-dark .ddt-template .footer,
.fabric-dark .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #3333;
}

.bootstrap-dark .ddt-template .head,
.bootstrap-dark .ddt-template .footer,
.bootstrap-dark .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #1A1A1A;
}

.bootstrap5-dark .ddt-template .head,
.bootstrap5-dark .ddt-template .footer,
.bootstrap5-dark .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #212529;
}

.material3 .e-ddt.ddt-template .e-treeview .e-fullrow,
.material3-dark .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-bigger.material3 .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-bigger.material3-dark .e-ddt.ddt-template .e-treeview .e-fullrow,
.tailwind3 .e-ddt.ddt-template .e-treeview .e-fullrow,
.tailwind3-dark .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-bigger.tailwind3 .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-bigger.tailwind3-dark .e-ddt.ddt-template .e-treeview .e-fullrow {
    height: 90px;
}

.e-bigger .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-ddt.ddt-template .e-treeview .e-fullrow {
    height: 72px;
}

.e-ddt.ddt-template .e-treeview .e-list-text {
    line-height: normal;
}

.e-ddt.ddt-template .e-treeview .e-list-parent.e-ul {
    width: 100%;
}

.ddt-template .eimage {
    float: left;
    padding: 11px 16px 11px 0;
    height: 48px;
    width: 48px;
    box-sizing: content-box;
}

.ddt-template .ename {
    font-size: 16px;
    padding: 14px 0 0;
}

.ddt-template .ejob {
    font-size: 14px;
    opacity: .87;
    padding: 5px;
}

.bootstrap5-dark .ddt-template .ejob,
.bootstrap5\.3-dark .ddt-template .ejob,
.material-dark .ddt-template .ejob,
.material3-dark .ddt-template .ejob,
.fluent-dark .ddt-template .ejob,
.fluent2-dark .ddt-template .ejob,
.tailwind-dark .ddt-template .ejob,
.highcontrast .ddt-template .ejob,
.fluent2-highcontrast .ddt-template .ejob {
    color: #979A9C;
}

.ddt-template .e-badge.icons {
    padding: 0;
    right: 0;
    position: absolute;
    top: 25px;
    background: transparent;
}

.ddt-template .footer-content .e-badge {
    display: flex;
}

.ddt-template .display {
    width: 100%;
}

.ddt-template .status {
    margin-right: 10px;
}

.ddt-template .footer .e-badge.icons {
    position: relative;
}

.ddt-template .e-badge.icons span,
.ddt-template .status {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
}

.ddt-template .busy {
    background-color: #FF4B4B;
}

.ddt-template .online {
    background-color: #98E16E;
}

.ddt-template .away {
    background-color: #FFE65E;
}

.e-ddt.e-popup.ddt-template .e-treeview {
    display: block;
}

.bootstrap5\.3-dark .ddt-template .head,
.bootstrap5\.3-dark .ddt-template .footer,
.bootstrap5\.3-dark .ddt-template .footer-content .e-badge,
.material3-dark .ddt-template .head,
.material3-dark .ddt-template .footer,
.material3-dark .ddt-template .footer-content .e-badge,
.fluent-dark .ddt-template .head,
.fluent-dark .ddt-template .footer,
.fluent-dark .ddt-template .footer-content .e-badge,
.fluent2-dark .ddt-template .head,
.fluent2-dark .ddt-template .footer,
.fluent2-dark .ddt-template .footer-content .e-badge,
.fluent2-highcontrast .ddt-template .head,
.fluent2-highcontrast .ddt-template .footer,
.fluent2-highcontrast .ddt-template .footer-content .e-badge,
.tailwind-dark .ddt-template .head,
.tailwind-dark .ddt-template .footer,
.tailwind-dark .ddt-template .footer-content .e-badge,
.tailwind3-dark .ddt-template .head,
.tailwind3-dark .ddt-template .footer,
.tailwind3-dark .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #1f2937;
}
