.ddt-template .head {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
}

.ddt-template .footer {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}

.ddt-template .head,
.ddt-template .footer {
    background-color: #F5F5F5;
    color: #718292;
    box-sizing: border-box;
    font-weight: bold;
}

.highcontrast .ddt-template .head,
.highcontrast .ddt-template .footer,
.highcontrast .ddt-template .footer-content .e-badge {
    color: #fff;
    background-color: #000;
}

.e-bigger .e-ddt.ddt-template .e-treeview .e-fullrow,
.e-ddt.ddt-template .e-treeview .e-fullrow {
    height: 72px;
}

.e-ddt.ddt-template .e-treeview .e-list-text {
    line-height: normal;
}

.e-ddt.ddt-template .e-treeview .e-list-parent.e-ul {
    width: 100%;
}

.ddt-template .eimage {
    float: left;
    padding: 11px 16px 11px 0;
    height: 48px;
    width: 48px;
    box-sizing: content-box;
}

.ddt-template .ename {
    font-size: 16px;
    padding: 14px 0 0;
}

.ddt-template .ejob {
    font-size: 14px;
    color: #979A9C;
    opacity: .87;
    padding: 5px;
}

.ddt-template .e-badge.icons {
    padding: 0;
    right: 0;
    position: absolute;
    top: 25px;
    background: transparent;
}

.ddt-template .footer-content .e-badge {
    display: flex;
}

.ddt-template .display {
    width: 100%;
}

.ddt-template .status {
    margin-right: 10px;
}

.ddt-template .footer .e-badge.icons {
    position: relative;
}

.ddt-template .e-badge.icons span,
.ddt-template .status {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
}

.ddt-template .busy {
    background-color: #FF4B4B;
}

.ddt-template .online {
    background-color: #98E16E;
}

.ddt-template .away {
    background-color: #FFE65E;
}

.e-ddt.e-popup.ddt-template .e-treeview {
    display: block;
}