.db-carousel-section .carousel-sample {
  border: 1px solid #e5e5e5;
  border-radius: 0.5em;
  margin: 0 auto 2em;
  max-width: 420px;
  height: 420px;
}

.db-carousel {
  background-color: inherit;
  border-radius: 0.5em;
}

.db-carousel .e-carousel-items .e-carousel-item .card-title,
.db-carousel .e-carousel-items .e-carousel-item .card-text {
  opacity: 0;
  text-align: justify;
  transform: translateY(20px);
}

.db-carousel .e-carousel-items .e-carousel-item.e-active .card-title,
.db-carousel .e-carousel-items .e-carousel-item.e-active .card-text {
  opacity: 1;
  transform: translateY(0px);
}

.db-carousel .e-carousel-items .e-carousel-item .card-title {
  font-size: 20px;
  transition: transform 0.4s ease 0.2s;
}

.db-carousel .e-carousel-items .e-carousel-item .card-text {
  font-size: 14px;
  transition: transform 0.4s ease 0.2s;
}

.db-carousel .e-carousel-indicators {
  height: 3em;
}

.db-carousel .e-carousel-indicators.e-default .e-indicator-bar .e-indicator div {
  background-color: #e7e7e7;
}

@media screen and (max-width: 480px) {
  .db-carousel-section .carousel-sample {
    width: 100%;
    height: 440px;
  }
}
