<div id="action-description">
    <p>This sample demonstrates the default rendering of the TreeGrid with minimum configuration.</p>
</div>
<div class="control-section">
    <ejs-treegrid [dataSource]='data' allowPaging='true' childMapping='subtasks' [treeColumnIndex]='1'>
        <e-columns>
            <e-column field='taskID' headerText='Task ID' width='70' textAlign='Right'></e-column>
            <e-column field='taskName' headerText='Task Name' width='200'></e-column>
            <e-column field='startDate' headerText='Start Date' width='90' format="yMd" textAlign='Right'></e-column>
            <e-column field='endDate' headerText='End Date' width='90' format="yMd" textAlign='Right'></e-column>
            <e-column field='duration' headerText='Duration' width='80' textAlign='Right'></e-column>
            <e-column field='progress' headerText='Progress' width='80' textAlign='Right'></e-column>
            <e-column field='priority' headerText='Priority' width='90'></e-column>
        </e-columns>
    </ejs-treegrid>
</div>
    <div id="description">
        <p>
            The TreeGrid component is used to display and manipulate hierarchy data with configuration options to control the way the data
            is presented and manipulated. It will pull the data from a data source, such as an array of JSON objects, OData web
            services, or <code><a target="_blank" class="code"
        href="http://ej2.syncfusion.com/documentation/data/api-dataManager.html">
        DataManager</a></code>; binding data fields to columns.
        </p>
        <p>
            The user needs to import <code>TreeGridModule</code> into the application to use TreeGrid component. The <code>TreeGridModule</code> contains declarations required to instantiate the TreeGrid component.
        </p>
        <p><code>ejs-treegrid</code> is the CSS selector to render TreeGrid component.</p>
        <p>
            In this demo, the TreeGrid is populated with its minimum default settings.
        </p>
        <p>
            More information on the TreeGrid instantiation can be found in the
          documentation section.
        </p>
    </div>
