.button-control {
    width: 100%;
    margin: 8% 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .button-control {
        margin-left: -3%;
    }
}

.button-section {
    width: 80%;
    margin: auto;
}

.button-control .col-xs-12 {
    margin: 15px 0;
}

.e-small::before {
    content: 'Clear';
}