.kanban-card-template .e-card table {
  table-layout: fixed;
}

.kanban-card-template .e-card .e-time {
  display: inline-flex;
}
.kanban-card-template .e-card .e-kanban-date {
  padding-right: 3px;
}
.kanban-card-template .e-card .e-date {
  display: contents;
}
.kanban-card-template .e-card .e-size {
  color: #b8860b
}

.kanban-card-template .e-card .e-mins {
  padding-left: 3px;
}

.kanban-card-template .e-card .e-clock {
  padding-top: 2px;
}

.kanban-card-template .e-card .e-clock::before {
  content: '\e20c';
  color: #ffa500;
  font-size: 10px;
}

.kanban-card-template .e-card .e-done::before {
  content: '\ea84';
  color: #008000;
  font-size: 16px;
}

.fabric .kanban-card-template .e-card .e-clock::before {
  content: '\e97f';
}

.bootstrap .kanban-card-template .e-card .e-clock::before {
  content: '\e93e';
}

.bootstrap4 .kanban-card-template .e-card .e-clock::before {
  content: '\e7c7';
}

.bootstrap4 .kanban-card-template .e-card .e-done::before {
  content: '\e7d9';
}

.highcontrast .kanban-card-template .e-card .e-clock::before {
  content: '\e97f';
}

.kanban-card-template .e-card .card-template-wrap {
  line-height: normal;
  font-size: 12px;
  width: 100%;
}

.kanban-card-template .e-card .card-template-wrap td {
  background: none !important;
  border: none !important;
  height: auto !important;
  line-height: 1.6;
}

.kanban-card-template .e-card .e-image img {
  background: #ececec;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.kanban-card-template .e-card .e-image {
  padding-right: 5px;
  padding-left: 10px;
}

.kanban-card-template .e-card .card-header {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.kanban-card-template .e-card .card-content {
  display: flex;
  justify-content: space-between;
}

.kanban-card-template .e-card .e-description {
  padding-top: 5px;
  padding-bottom: 10px;
}

.kanban-card-template .e-card .e-done {
  padding-top: 5px;
  padding-bottom: 10px;
  position: absolute;
  right: 15px;
}

.kanban-card-template .e-card .e-readyText {
  color: #008000;
}

.kanban-card-template .e-card .e-preparingText {
  color: #9ACD32;
  animation: blinker 1.5s linear infinite;
}

.kanban-card-template .e-card .e-deliveredText {
  color: #ff0000;
}
.e-kanban-dialog .e-kanban-form-wrapper table .e-label, .e-kanban-dialog .e-kanban-form-container table .e-label {
  width: 80px;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
