<div class="control-section">
  <div class="content-wrapper">
    <ejs-kanban #kanbanObj cssClass='kanban-card-template' keyField='Category' [dataSource]='kanbanData'
      [cardSettings]='cardSettings' (dialogClose)="onDialogClose($event)">
      <e-columns>
        <e-column headerText='Menu' keyField='Menu'></e-column>
        <e-column headerText='Order' keyField='Order'></e-column>
        <e-column headerText='Ready to Serve' keyField='Ready to Serve'></e-column>
        <e-column headerText='Delivered' keyField='Delivered,Served'></e-column>
      </e-columns>
      <ng-template #dialogSettingsTemplate let-data>
        <table>
          <tbody>
            <tr>
              <td class="e-label">ID</td>
              <td>
                <div class="e-float-input e-control-wrapper">
                  <input
                    id="Id"
                    name="Id"
                    type="text"
                    class="e-field"
                    value="{{ data.Id }}"
                    disabled
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td class="e-label">Category</td>
              <td>
                <ejs-dropdownlist
                  id="Category"
                  #dropdownStatus
                  name="Category"
                  class="e-field"
                  [dataSource]="categoryData"
                  value="{{ data.Category }}"
                  placeholder="Category"
                >
                </ejs-dropdownlist>
              </td>
            </tr>
            <tr>
              <td class="e-label">Title</td>
              <td>
                <ejs-textbox
                  id="Title"
                  #dropdownAssignee
                  name="Title"
                  value="{{ data.Title }}"
                  placeholder="Title"
                ></ejs-textbox>
              </td>
            </tr>
            <tr>
              <td class="e-label">Size</td>
              <td>
                <ejs-textbox
                  id="Size"
                  #dropdownAssignee
                  name="Size"
                  value="{{ data.Size }}"
                  placeholder="Size"
                ></ejs-textbox>
              </td>
            </tr>
            <tr>
              <td class="e-label">Description</td>
              <td>
                <div class="e-float-input e-control-wrapper">
                  <textarea
                    type="text"
                    name="Description"
                    id="Description"
                    class="e-field"
                    value="{{ data.Description }}"
                  ></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <td class="e-label">Deliver</td>
              <td>
                <div class="e-float-input e-control-wrapper">
                  <ejs-datepicker
                    id="Date"
                    [value]="data.Date"
                    format="MM/dd/yyyy"
                  ></ejs-datepicker>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #cardSettingsTemplate let-data>
        <div class='card-template'>
          <div class='card-template-wrap'>
            <table class='card-template-wrap'>
              <colgroup>
                <col style="width:55px">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td class='e-image'>
                    <img src="./assets/kanban/images/{{data.ImageURL}}" alt="{{data.ImageURL}}" />
                  </td>
                  <td class='e-title'>
                    <div class="e-card-stacked">
                      <div class='e-card-header'>
                        <div class='e-card-header-caption'>
                          <div class='e-card-header-title e-tooltip-text'>{{data.Title}}</div>
                        </div>
                      </div>
                      <div class="e-card-content" style="line-height:2.75em">
                        <table class='card-template-wrap' style="table-layout: auto;">
                          <tbody>
                            <tr>
                              <td colspan="2" *ngIf='data.Category =="Menu" || data.Category=="Order" || data.Category=="Ready to Serve"'>
                                <div class='e-description e-tooltip-text' *ngIf='data.Category == "Menu"'>{{data.Description}}</div>
                                <div class='e-description e-tooltip-text' *ngIf='data.Category != "Menu"'>{{data.OrderID}}</div>
                              </td>
                              <td class='card-content' *ngIf='data.Category == "Delivered" || data.Category == "Served"'>
                                <table>
                                  <tr>
                                    <td class="e-description e-tooltip-text">{{ data.OrderID }}</td>
                                    <td class="e-icons e-done"></td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label class="e-date">Deliver:</label>
                                      <span class="e-kanban-date">{{ data.Date }}</span>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td class='card-content' *ngIf='data.Category == "Menu"'>
                                <div class='e-size e-tooltip-text'>{{data.Size}}</div>
                                <div class='e-price e-tooltip-text'>{{data.Price}}</div>
                              </td>
                              <td class='card-content' *ngIf='data.Category != "Menu"'>
                                <div class='e-preparingText e-tooltip-text' *ngIf='data.Category == "Order"'>Preparing</div>
                                <div class='e-readyText e-tooltip-text' *ngIf='data.Category == "Ready to Serve"'>Ready to Serve</div>
                                <div class='e-deliveredText e-tooltip-text' *ngIf='data.Category == "Delivered" || data.Category == "Served"'>Delivered</div>
                                <div class='e-time e-tooltip-text' *ngIf='data.Category == "Order"'>
                                  <div class='e-icons e-clock'></div>
                                  <div class='e-mins'>15 mins</div>
                                </div>
                                <div class='e-time e-tooltip-text' *ngIf='data.Category == "Ready to Serve"'>
                                  <div class='e-icons e-clock'></div>
                                  <div class='e-mins'>5 mins</div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ejs-kanban>
  </div>
</div>
<div id="action-description">
  <p>
    This sample demonstrates how to customize the Kanban cards using templates. In this demo, the cards are
    customized with
    icons, images, and tags.
  </p>
</div>
<div id="description">
  <p>
    You can customize the default design of the Kanban cards using templates. This can be achieved using the
    <code>cardSettings</code> -> <code>template</code> property, which accepts the string or HTML element`s ID
    value.
  </p>
  <p>In this demo, all the cards are customized with templating as text, images, and tags.</p>
</div>
