.npmrc
.vscode/
node_modules/
spec/**/*.js
spec/**/*.map
src/**/*.js
aot/**/*.js
*ngfactory.ts
*metadata.json
*ngsummary.json
*d.ts
*.map
*.ngstyle.ts
src/**/*.map
coverage/
api/
dist/main.bundle.js
test-report/
src/**/*-plnkr.json
!src/common/typings.d.ts
!src/common/plnk-template/system.config.js
samples/*