.slider-content-wrapper {
    width: 40%;
    margin: 0 auto;
    min-width: 185px;
}

.slider-userselect {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.slider-labeltext {
    text-align: -webkit-left;
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 10px;
}

.material .e-slider-container #height_slider.e-slider .e-handle,
.material.e-bigger .e-slider-container #height_slider.e-slider .e-handle,
.material .e-slider-container #gradient_slider.e-slider .e-handle,
.material.e-bigger .e-slider-container #gradient_slider.e-slider .e-handle {
    height: 16px;
    width: 16px;
}

.material .e-slider-container.e-horizontal #height_slider .e-handle,
.material.e-bigger .e-slider-container.e-horizontal #height_slider .e-handle,
.material .e-slider-container.e-horizontal #gradient_slider .e-handle,
.material.e-bigger .e-slider-container.e-horizontal #gradient_slider .e-handle {
    margin-left: -8px;
    top: calc(50% - 8px);
}

.e-bigger:not(.material) .e-slider-container.e-horizontal #height_slider.e-slider .e-handle,
.e-bigger:not(.material) .e-slider-container.e-horizontal #gradient_slider.e-slider .e-handle {
    margin-left: -11px;
    top: calc(50% - 11px);
}

.e-bigger:not(.material) .e-slider-container #height_slider.e-slider .e-handle,
.e-bigger:not(.material) .e-slider-container #gradient_slider.e-slider .e-handle {
    height: 22px;
    width: 22px;
}

.e-slider-container #height_slider.e-slider .e-handle,
.e-slider-container #gradient_slider.e-slider .e-handle {
    height: 20px;
    width: 20px;
}

.e-slider-container.e-horizontal #height_slider .e-handle,
.e-slider-container.e-horizontal #gradient_slider .e-handle {
    margin-left: -10px;
    top: calc(50% - 10px);
}

.slider_container {
    margin-top: 40px;
}

.e-bigger .slider-content-wrapper {
    width: 80%;
}

#height_slider .e-tab-handle::after {
    background-color: #f9920b;
}

#height_slider.e-control.e-slider .e-slider-track {
    height: 8px;
    top: calc(50% - 4px);
    border-radius: 0;
}

.highcontrast #height_slider.e-control.e-slider .e-slider-track {
    height: 10px;
    top: calc(50% - 5px);
    border-radius: 0;
}

.fabric .slider_container .e-slider-hover .e-slider-track,
.fabric .slider_container .e-slider-container:active .e-slider-track,
.fabric .slider_container .e-slider-container .e-slider .e-tab-track {
    background-color: #c8c8c8;
}

#gradient_slider.e-control.e-slider .e-range {
    height: 6px;
    top: calc(50% - 3px);
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #e1451d 0, #fdff47 17%, #86f9fe 50%, #2900f8 65%, #6e00f8 74%, #e33df9 83%, #e14423 100%);
    background: linear-gradient(left, #e1451d 0, #fdff47 17%, #86f9fe 50%, #2900f8 65%, #6e00f8 74%, #e33df9 83%, #e14423 100%);
    background: -moz-linear-gradient(left, #e1451d 0, #fdff47 17%, #86f9fe 50%, #2900f8 65%, #6e00f8 74%, #e33df9 83%, #e14423 100%);
}

.fabric .slider_container .e-slider-hover .e-slider-track,
.fabric .slider_container .e-slider-container:active .e-slider-track,
.fabric .slider_container .e-slider-container .e-slider .e-tab-track {
    background-color: #c8c8c8;
}

#gradient_slider.e-control.e-slider .e-slider-track {
    height: 8px;
    top: calc(50% - 4px);
    border-radius: 5px;
}