 /* main content area styles */

 .content {
    text-align: center;
    font-size: 20px;
    height: 300px;
    line-height: 300px;
    padding: 15px;
}

@media(max-width:550px) {
    #head .text {
        display: none;
    }
}

.center {
    text-align: center;
    display: none;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}

.sb-content-tab .center {
    display: block;
}

.col-lg-12.col-sm-12.col-md-12,
.control-section {
    padding: 0px;
}
/* end of main content area styles */
/* Header area styles */

#wrapper #head {
    border: none;
    background: #292961;
    width: 100%;
    height: 50px;
    color: #fff;
    padding: 0 30px;
    position: relative;
}

body {
    margin: 0px;
}

#hamburger.menu {
    font-size: 25px;
    cursor: pointer;
    float: left;
    line-height: 50px;
    position: absolute;
}

#hamburger.menu:before {
    content: '\e7f6';
}

#head .text {
    text-align: right;
    position: absolute;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 40px;
}

#head .header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    width: 100%
}
/* end of header area styles */
/* sidebar styles */

.sb-content-tab #wrapper {
    display: none;
}

#sidebar-menu {
    background: #f5f5f5;
    padding: 20px;
}

#wrapper #close:before {
    content: "\e945";
}

#wrapper #close {
    float: right;
    color: rgba(0, 0, 0, 0.61);
    cursor: pointer;
    font-size: 20px;
    line-height: 14px;
}
/* listview style */

#menulist.e-listview .e-list-item,
#menulist.e-listview .e-list-item:last-child {
    height: 51px;
    line-height: 51px;
    text-align: center;
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: none;
}

#menulist.e-listview .e-list-item:hover {
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#menulist {
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
/* end of list view styles */

#sidebar-menu.e-sidebar {
    padding: 22px
}
/* end of sidebar styles */