.api-otp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 400px;
}

#otp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-container {
    height: 220px;
    padding: 1rem 3rem;
    box-shadow: 0 1px 3px #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container>div {
    margin: 17px 0px;
}

.form-container .otp-header {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 500;
    margin: 10px 0px;
}

.form-container .otp-actions {
    display: flex;
    gap: 20px;
}

.otp-actions button {
    width: 80px;
}

.property-panel-content td {
    padding: 10px 0px;
    width: 35%;
}
