#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}
.e-pivottable .e-static {
    width: 80% !important;
}
.pivottable-property-section table tr td:first-child {
    width: 20%;
}
.pivottable-property-section {
    overflow: auto;
}

.sb-sample-content-area {
    min-height: 255px !important;
}
.control-section {
    min-height: 255px !important;
}

.pivottable-property-section .e-multiselect {
    padding: 0;
}