#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 400px) {
    #pivot-table-section {
        overflow: auto;
    }
}

.pivot-table-property-section {
    overflow: auto;
}

.pivot-table-property-section .e-multiselect {
    padding: 0;
}