#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 400px) {
    #pivot-table-section {
        overflow: auto;
    }
}

.pivot-table-property-section {
    overflow: auto;
}

.pivot-table-property-section .e-multiselect {
    padding: 0;
}

.e-bigger .e-multi-select-wrapper .e-delim-values {
    padding-left: 8px !important;
    padding-right: 0px !important;
}