#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 400px) {
    #pivot-table-section {
        overflow: auto;
    }
}

.sb-sample-content-area {
    min-height: 255px !important;
}
.control-section {
    min-height: 255px !important;
}

#PivotViewcontainerwrapper {
    height: auto !important;
}
.e-bigger button.e-dlg-closeicon-btn.e-control.e-btn.e-lib.e-flat.e-icon-btn {
    padding: 0!important;
    left: -9px !important;
}