#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 400px) {
    #pivot-table-section {
        overflow: auto;
    }
}

#PivotViewcontainerwrapper {
    height: auto !important;
}