#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 400px) {
    #pivot-table-section {
        overflow: auto;
    }
}

#PivotViewcontainerwrapper {
    height: auto !important;
}

.e-pivotview .e-pivotchart-type-dialog {
    max-width: 380px !important;
    max-height: 380px !important;
 }