.e-pivotview {
    width: 100%;
    height:100%;
}
#PivotView_PivotFieldList {
    width: auto !important;
}

.e-grid.e-rtl .e-frozenheader>.e-table,
.e-grid.e-rtl .e-frozencontent>.e-table {
    border-left-color: gainsboro;
}

@media only screen and (max-width: 400px) {
    .control-section {
        overflow: auto;
    }
}