#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

.pivottable-property-section hr {
    margin: 1px 10px 0px 0px;
    border-top: 1px solid #eee;
}

.e-bigger .e-float-input.e-control-wrapper {
    width: 100% !important;
}