#PivotView {
    width: 100%;
    height: 100%;
    display: block;
}

.pivot-table-property-section {
    overflow: auto;
}

.pivot-table-property-section .e-multiselect {
    padding: 0;
}

.sb-sample-content-area {
    min-height: 255px !important;
}
.control-section {
    min-height: 255px !important;
}