<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div id='container'>
            <ng-template #toolbarTemplate>
                <button id='anomaly' class="e-btn e-primary" (click)="detectAnomaly()">Detect Anomaly Data</button>
            </ng-template>
            <ejs-grid #grid [dataSource]="machineDb" [toolbar]="toolbarOptions" (queryCellInfo)="customizeCell($event)"
                enableHover="false" rowHeight="75" height="450" allowTextWrap="true">
                <e-columns>
                    <e-column field='MachineID' isPrimaryKey='true' headerText='Machine ID' textAlign='Right'
                        width='85'></e-column>
                    <e-column field='Temperature' headerText='Temperature (C)' textAlign='Right' width='120'></e-column>
                    <e-column field='Pressure' headerText='Pressure (psi)' textAlign='Right' width='100'></e-column>
                    <e-column field='Voltage' headerText='Voltage (V)' textAlign='Right' width='100'></e-column>
                    <e-column field='MotorSpeed' headerText='Motor Speed (rpm)' textAlign='Right' width='140'></e-column>
                    <e-column field='ProductionRate' headerText='Production Rate (units/hr)' textAlign='Right'
                        width='140'></e-column>
                    <e-column field='AnomalyDescription' visible='false' headerText='Anomaly Description'
                        width='290'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
    <div id="action-description">
        <p>This sample demonstrates how the syncfusion Angular DataGrid, enhanced with AI, can detect anomalies within
            its data.
        </p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
            href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/' aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
            repository</a>.</p>
    </div>
    <div id="description">
        <p>In this example, the DataGrid displays details like Machine ID, Voltage, Pressure, Temperature, Motor Speed, and
            Production Rate. AI analyzes this data to identify unusual points and explains why they are considered
            anomalies. When you press the "Detect Anomaly" button, the grid updates to display the anomaly details.
        </p>
    </div>
    <app-ai-toast></app-ai-toast>
</div>