<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div id='container'>
            <ejs-grid #grid id="semantic-grid" [dataSource]='machineDataList' [toolbar]='toolbar' [enableHover]='false'
                [enableStickyHeader]='true' [allowTextWrap]='true' [enableAltRow]='true' (created)='created()' [rowHeight]='75'
                [height]='450'>
                <e-columns>
                    <e-column field="RecordID" headerText="Record ID" textAlign="Right" width="90"></e-column>
                    <e-column field="PatientID" headerText="Patient ID" textAlign="Right" width="90"></e-column>
                    <e-column field="Symptoms" headerText="Symptoms" width="140"></e-column>
                    <e-column field="Diagnosis" headerText="Diagnosis" width="100"></e-column>
                    <e-column field="DoctorDetails" headerText="Doctor Information" width="140"></e-column>
                </e-columns>
            </ejs-grid>
        </div>
        <ng-template #toolbarTemplate>
            <div id='toolbar-template'>
                <ejs-textbox #textbox id='smart_search_input' placeholder='Search here' [width]="200"></ejs-textbox>
                <button id='smart_search_button' style="margin-left: 20px;" class="e-btn e-primary"
                    (click)="smartSearch()">Smart Search</button>
            </div>
        </ng-template>
    </div>
    <div id="action-description">
        <p>This sample demonstrates how the syncfusion Angular DataGrid, integrated with AI, supports Semantic Search.
        </p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
                href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular'
                aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub repository</a>.</p>
    </div>
    <div id="description">
        <p>In this example, the DataGrid displays diagnostic information from medical reports. With Semantic Search, you
            don’t need to enter the exact word to find related information. For instance, if the DataGrid lists "Abdominal
            pain," it can still show relevant reports even if you search for "stomach" instead of the exact term. The grid
            dynamically displays related search results using AI.
        </p>
    </div>
    <app-ai-toast></app-ai-toast>
</div>