    .rowphoto img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }
    
    @media screen and (max-width: 600px) and (min-width: 320px) {
        .rowphoto img {
            width: 50px;
            height: 50px;
        }
    }
    
    @media screen and (max-width: 800px) and (min-width: 600px) {
        .rowphoto img {
            width: 70px;
            height: 70px;
        }
    }
    
    .rowphoto,
    .details {
        border-color: #e0e0e0;
        border-style: solid;
    }
    
    .material-dark .rowphoto,
    .material-dark .details {
        border-color: #616161;
    }

    .fabric-dark .rowphoto,
    .fabric-dark .details {
        border-color: #414040;
    }

    .bootstrap-dark .rowphoto,
    .bootstrap-dark .details {
        border-color: #484848;
    }

    .tailwind-dark .rowphoto,
    .tailwind-dark .details {
        border-color: #4b5563;
    }

    .bootstrap5-dark .rowphoto,
    .bootstrap5-dark .details {
        border-color: rgb(68, 76, 84);
    }

    .highcontrast .rowphoto,
    .highcontrast .details {
        border-color: #969696;
    }
    
    .rowphoto {
        border-width: 1px 0px 0px 0px;
        text-align: center;
    }
    
    .details {
        border-width: 1px 0px 0px 0px;
        padding-left: 18px;
    }

    .e-bigger .details {
        padding-left: 25px;
    }

    .e-device .details {
        padding-left: 8px;
    }
    
    .details > table {
        width: 100%;
    }
    
    .CardHeader {
        font-weight: bolder;
    }
    
    td {
        padding: 2px 2px 3px 4px;
    }