.control-wrapper {
    margin: 0 auto;
    width: 500px;
}

.property-section .right-side {
    padding-left: 10px;
}

.property-section .left-side {
    margin-left: 10px; 
    width: 140px;
}

@media screen and (max-width: 480px) {
    .control-wrapper {
        width: 300px;
    }
}