/* custom code start*/
.control-section {
    height: 550px;
}

.control-section .e-spreadsheet .e-cell .e-radio-wrapper {
    margin: 5px;
}

.control-section .e-spreadsheet .e-cell .e-radio-wrapper:first-child {
    margin-left: 0;
}

.control-section .e-spreadsheet .e-cell .e-radio + label .e-label {
    color: rgba(0, 0, 0, 0.87);
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-input-group.e-control-wrapper {
    background-color: rgb(56, 56, 56);
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-radio + label .e-label {
    color: #000;
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-radio + label::before {
    background-color: #fff;
    border-color: #757575;
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-radio:checked + label::before {
    border-color: #00b0ff;
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-radio-wrapper {
    padding-right: 10px;
}

.material-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-btn.e-flat {
    color: #000;
}

.fluent2-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-btn.e-flat {
    background-color: #292929;
}

.bootstrap5\.3-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-btn.e-flat {
    background-color: #212529;
    color: #dee2e6;
}

.tailwind3-dark .e-custom-spreadsheet.e-spreadsheet .e-sheet .e-sheet-content .e-cell-template .e-btn.e-flat {
        background-color: #111827;
}

.e-spreadsheet .e-row-header .e-table .e-header-cell {
    vertical-align: middle
}

/* custom code end*/
