.control-section.gemini-clone {
  min-height: 550px;
}
.gemini-aiassist {
  width: 60vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.gemini-aiassist.middle-footer {
  height: 350px; 
  gap: 10px;
}

.gemini-aiassist.bottom-footer {
  height: 500px;
}

@media only screen and (max-width: 750px) {
  .gemini-aiassist {
    width: 100%;
  }
}

.gemini-aiassist .gemini-header {
  display: flex;
  justify-content: flex-start;
  height: 150px;
  align-items: end;
}

.gemini_model .model-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.gemini_model .model-item .model-description {
  font-size: 11px;
}

.gemini_model .model-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gemini_model.e-dropdown-popup ul .e-item {
  line-height: 18px;
  padding: 25px 20px 25px 12px;
}

.gemini-aiassist .gemini-buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  flex-shrink: 0;
  opacity: 1;
  transform: translateY(0);
}

.gemini-aiassist.bottom-footer .gemini-buttons-container {
  opacity: 0;
  pointer-events: none;
}

.gemini-aiassist .gemini-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gemini-aiassist #gemini_aiassistview  {
  border: none;
}

.gemini-aiassist h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.gemini-aiassist .e-footer .e-dropdown-btn.e-btn:hover,
.gemini-aiassist .e-footer .e-dropdown-btn.e-btn:active {
    color: var(--color-sf-icon-color);
}

.gemini-aiassist .e-dropdown-btn, .gemini-aiassist .e-dropdown-btn.e-btn {
    box-shadow: none;
}

.gemini-aiassist .e-btn.e-flat.e-active,
.gemini-aiassist .e-dropdown-btn:active,
.gemini-aiassist .e-dropdown-btn.e-btn:active,
.gemini-aiassist .e-dropdown-btn.e-btn:hover,
.gemini-aiassist .e-dropdown-btn:focus,
.gemini-aiassist .e-dropdown-btn.e-btn:focus {
    background: unset;
    border: 1px solid transparent;
    box-shadow: none;
    color: unset;
}