.integration-speechtotext-section {
  height: 550px;
  width: 550px;
  margin: 0 auto;
}

.integration-speechtotext-section .e-view-container {
  margin: auto;
}
.integration-speechtotext-section .e-banner-view {
  margin-left: 0;
}
.integration-speechtotext-section .banner-info .e-listen-icon:before {
    font-size: 35px;
}

.integration-speechtotext-section .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 330px;
    text-align: center;
}

.integration-speechtotext-section #assistview-sendButton:not(.e-assist-stop) {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.e-bigger .integration-speechtotext-section #assistview-sendButton:not(.e-assist-stop) {
  width: 52px;
  height: 52px;
  font-size: 24px;
}

.integration-speechtotext-section #assistview-sendButton.e-assist-stop {
  width: 32px;
  height: 32px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.e-bigger .integration-speechtotext-section #assistview-sendButton.e-assist-stop {
  width: 40px;
  height: 40px;
  margin: 6px;
}

.integration-speechtotext-section #speechToText.visible,
.integration-speechtotext-section #assistview-sendButton.visible {
  display: inline-block;
}

.integration-speechtotext-section #speechToText,
.integration-speechtotext-section #assistview-sendButton {
  display: none;
}

.integration-speechtotext-section #speechToText {
    box-shadow: unset;
    background: unset;
    border: none;
    color: #555555;
  }
  body[class*="dark"] .integration-speechtotext-section #speechToText,
  body[class*="high"] .integration-speechtotext-section #speechToText {
    color: #fff;
  }

@media only screen and (max-width: 750px) {
  .integration-speechtotext-section {
    width: 100%;
  }
}

.integration-speechtotext-section .e-footer-wrapper {
  display: flex;
  border: 1px solid #c1c1c1;
  margin: 5px 5px 0 5px;
  border-radius: 10px;
}

.integration-speechtotext-section .content-editor {
  width: 100%;
  overflow-y: auto;
  font-size: 14px;
  min-height: 25px;
  max-height: 200px;
  padding: 10px;
}

.integration-speechtotext-section .content-editor[contentEditable='true']:empty:before {
  content: attr(placeholder);
  font-style: italic;
  font-weight: 200;
}

.integration-speechtotext-section .option-container {
  align-self: flex-end;
}
