#panetext {
    font-size: 11px;
}
#pane-heading {
    font-size: 14px;
    margin-bottom: 4px;
}

.control-section {
    min-height: 370px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.default-splitter .content {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100%;
}
/* <!-- custom code start --> */
    .pane1 {
        margin: 20px auto;
        max-width: 440px;
    }

    .pane2 {
        margin: 20px auto;
        max-width: 440px;
    }
/* <!-- custom code end --> */
