
.control-section {
    min-height: 370px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#Innersplitter {
    border: none;
}

.default-splitter .splitter-expand-content p,
.default-splitter .splitter-expand-content a {
    padding: 10px;
}

.splitter-expand .splitter-expand-content {
    padding: 12px;
}

.splitter-expand .splitter-expand-content {
    padding: 10px;
}

/* styles to hide scroll bars */
.splitter-expand .e-pane.e-pane-horizontal.e-scrollable::-webkit-scrollbar,
.splitter-expand .e-pane.e-pane-vertical.e-scrollable::-webkit-scrollbar {
    display: none;
}

.splitter-expand .e-pane.e-pane-horizontal.e-scrollable,
.splitter-expand .e-pane.e-pane-vertical.e-scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
}