#htmlTemplate {
    height: 385px;
}

#htmlTemplate #customization {
    display: table;
    margin: 0 auto;
}

.e-tooltip-template-css {
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.25));
}

#democontent {
    font-size: 14px;
    line-height: 20px;
    border: 0.5px solid;
    padding-left: 12px;
    padding-right: 5px;
}

#democontent #bird {
    float: right;
    margin-left: 8px;
    height: 125px;
    width: 125px;
}

.material #democontent,
.bootstrap #democontent {
    border-color: #D2D2D2;
}

.fabric #democontent,
.highcontrast #democontent {
    border-color: #CCCCCC;
}

#democontent a {
    color: #62e0f7;
}
