/* custom code start*/
/**
* ej2 Menu styles
*/
#apiMenu .menu-control {
    margin-top: 45px;
    text-align: center;
}

#apiMenu .property-panel-content {
    padding: 0 10px 10px 0;
    overflow: auto;
}
/* custom code end*/