<div id="menuTemplate" class="control-section">
    <div class="menu-control">
        <ejs-menu [items]='dataSource' [fields]='menuFields' [animationSettings]="animation" cssClass="e-template-menu">
            <ng-template #template let-dataSource="">
                {{dataSource.category}}
                <div *ngIf="dataSource.value" style="width:100%;display:flex;justify-content:space-between;">
                    <img *ngIf="dataSource.url" class="e-avatar e-avatar-small" src="./assets/menu/platforms/{{dataSource.url}}.png" />
                    <span style="width:100%;">{{dataSource.value}}</span>
                    <span *ngIf="dataSource.count" class='e-badge e-badge-success'>{{dataSource.count}}</span>
                </div>
                <div *ngIf="dataSource.about" tabindex="0" class="e-card">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-header-title">About Us</div>
                        </div>
                    </div>
                    <div class="e-card-content">
                        {{dataSource.about.value}}
                    </div>
                    <div class="e-card-actions">
                        <button class="e-btn e-outline" style="pointer-events: auto;">
                            Read More
                        </button>
                    </div>
                </div>
            </ng-template>            
        </ejs-menu>
    </div>
</div>
<div id="action-description">
    <p>
        This sample demonstrates the template functionalities of the <code>menu</code> component. Interact with <code>menu</code> using hover / click to display sub menu pop-up items with its customized templates.
    </p>
</div>
<div id="description">
    <p>
        The menu component has an option to customize menu items using the <code>template</code> property, so that the menu items can be rendered according to the requirement.
    </p>
    <p>In this demo, the below customization are demonstrated.</p>
    <ul>
        <li>Header menu items and the 'Products' sub menu items represents the customization of default rendering of li elements i.e. <b>dataSource.category</b> in template.</li>
        <li>Services sub menu item represent the customization of li element with <code>badge</code> component.</li>
        <li>'About Us' sub menu item showed with <code>card</code> component in a single li.</li>
    </ul>
    <p>
        For more information, refer to the 
        <a target="_blank" href="https://ej2.syncfusion.com/angular/documentation/menu/data-source-binding-and-custom-menu-items/#custom-menu-items">
        templates</a> section in the documentation.
    </p>
</div>
