#draggableTab .e-content .e-item {
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}
#draggableTab .e-upload {
    width: 300px;
}
#TabContainer .property-panel-header {
    text-align: center;
}
.treeview-external-drag-tab .e-list-item,
.e-bigger .treeview-external-drag-tab .e-list-item {
    border: 0.5px solid #E1E7EC;
    line-height: 15px;
    padding: 0 5px;
}
.treeview-external-drag-tab.e-treeview .e-ul  {
    padding: unset;
}
#TabContainer {
    display: flex;
}
@media (max-width: 550px) {
    #TabContainer {
        display: block;
    }
}

#TabContainer .content-wrapper {
    min-width: 100px;
}