.e-pivotview {
    width: 100%;
    height:100%;
}
.pivotgrid-property-section table tr td:first-child {
    width: 25%;
}
.pivotgrid-property-section .text1cls,
.pivotgrid-property-section .text2cls {
    font-weight: bold;
    margin-top: 20px;
}
.pivotgrid-property-section {
    overflow: auto;
}

#EventLog b {
    color: #388e3c;
}

.pivotgrid-property-section hr {
    margin: 1px 10px 10px 0px;
    border-top: 1px solid #eee;
}

#EventLog hr {
    margin-bottom: 1px;
}

.e-custom-class {
    text-decoration: underline;
}

.e-custom-class:hover {
    color: red;
    text-decoration: none;
}