 .e-baseline-bar {
        height: 6px !important;
        margin-top: -12px !important;
    }
    .fluent2-highcontrast .e-custom-parent, .e-dark-mode .e-custom-parent {
        background: #232937 !important;
        border: 1px solid #2F3542 !important;
    }
    .fluent2-highcontrast .e-custom-progress, .e-dark-mode .e-custom-progress {
        background: #2F3542 !important;
    }