#Indicators .okIcon::before {
    content: '\ea84';
    }
    #Indicators .description::before {
    content: '\e30d';
    }   
    .bootstrap4 #Indicators .okIcon::before {
    content: '\e7d9';
    }
    .bootstrap4 #Indicators .description::before {
    content: '\e7cb';
    }
    .fabric #Indicators .description::before {
    content: '\e310';
    }
    .highcontrast #Indicators .description::before {
    content: '\e310';
    }