#Indicators .okIcon::before {
    content: '\ea84';
    }
    #Indicators .description::before {
    content: '\e30d';
    }   
    .bootstrap4 #Indicators .okIcon::before {
    content: '\e7d9';
    }
    .bootstrap4 #Indicators .description::before {
    content: '\e7cb';
    }
    .bootstrap5-dark #Indicators .okIcon::before {
    content: '\e72b';
    }
    .bootstrap5-dark #Indicators .description::before {
    content: '\e7c0';
    }
    .bootstrap5 #Indicators .okIcon::before {
    content: '\e72b';
    }
    .bootstrap5 #Indicators .description::before {
    content: '\e7c0';
    }
    .fabric #Indicators .description::before {
    content: '\e310';
    }
    .highcontrast #Indicators .description::before {
    content: '\e310';
    }
	.tailwind #Indicators .okIcon::before, .tailwind-dark #Indicators .okIcon::before {
		content: '\e7b0';
	}
	.tailwind #Indicators .description::before, .tailwind-dark #Indicators .description::before {
		content: '\e7b6';
	}
	.tailwind-dark #Indicators .okIcon::before, .tailwind-dark #Indicators .okIcon::before {
    content: '\e7b0';
    }
    .tailwind-dark #Indicators .description::before, .tailwind-dark #Indicators .description::before {
    content: '\e7b6';
    }