#ganttUnscheduled .e-add-icon:before {
    content: "\e506"
}
.bootstrap4 #ganttUnscheduled .e-add-icon:before {
    content: "\e783"
}

.tailwind #ganttUnscheduled .e-add-icon:before,.tailwind-dark #ganttUnscheduled .e-add-icon:before {
    content: "\e7dd"
}

.bootstrap5 #ganttUnscheduled .e-add-icon:before,.bootstrap5-dark #ganttUnscheduled .e-add-icon:before {
    content: "\e836"
}
