#ganttUnscheduled .e-add-icon:before {
    content: "\e506"
}
.bootstrap4 #ganttUnscheduled .e-add-icon:before {
    content: "\e783"
}

.bootstrap5 #ganttUnscheduled .e-add-icon:before,.bootstrap5-dark #ganttUnscheduled .e-add-icon:before,
.tailwind #ganttUnscheduled .e-add-icon:before,.tailwind-dark #ganttUnscheduled .e-add-icon:before,
.fluent #ganttUnscheduled .e-add-icon:before, .fluent-dark #ganttUnscheduled .e-add-icon:before,
.material3-dark #ganttUnscheduled .e-add-icon:before ,.material3 #ganttUnscheduled .e-add-icon:before,
.fluent2 #ganttUnscheduled .e-add-icon:before,.fluent2-highcontrast #ganttUnscheduled .e-add-icon:before,
.fluent2-dark #ganttUnscheduled .e-add-icon:before,
.bootstrap5\.3 #ganttUnscheduled .e-add-icon:before,
.bootstrap5\.3-dark-lite #ganttUnscheduled .e-add-icon:before,
.bootstrap5\.3-dark #ganttUnscheduled .e-add-icon:before, 
.bootstrap5\.3-lite #ganttUnscheduled .e-add-icon:before,
.tailwind3 #ganttUnscheduled .e-add-icon:before,
.tailwind3-dark #ganttUnscheduled .e-add-icon:before {
    content: "\e836";
    font-size: '16px';
    font-family: 'e-icons';
}
