.control_wrapper {
  max-width: 500px;
  min-width: 245px;
  margin: auto;
}
.address-field {
resize: none;
}

.e-error {
  padding-top: 7px;
}

#control_wrapper {
max-width: 500px;
margin: auto;
border: 0.5px solid #BEBEBE;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
padding: 1% 4% 0%;
background: #f9f9f9;
}
.highcontrast #control_wrapper {
background: #000000;
}
#template_driven .upload-area {
width: 100%;
}
#template_driven .form-group .submit-btn {
margin-top: 15px;
position: relative;            
}
#template_driven .form-group .desc {
margin: 2% 23% 0% 18%;
}
@media only screen and (max-width: 500px) {
  #template_driven .form-group .submitBtn .desc {
  margin: 12px;
}
}
#template_driven .form-group .submitBtn {
position: relative;        
text-align: center;
}
.bootstrap #template_driven .form-group .submit-btn {
margin-left: 8px;          
}
.e-bigger.material #template_driven .form-group .submit-btn {
margin-left: -7px;          
}
.fabric #template_driven .form-group .submit-btn, .highcontrast #template_driven .form-group .submit-btn {
margin-left: -11px;          
}
.e-bigger.fabric #template_driven .form-group .submit-btn, .e-bigger.highcontrast #template_driven .form-group .submit-btn {
margin-left: -25px;          
}
.e-bigger.bootstrap #template_driven .form-group .submit-btn {
margin-left: -8px;          
}
.success .successmsg {
border: 0.5px solid green;
padding: 10%;
color: green;
}
form#template_driven {
position: relative;
top: 14%;
}
.material #template_driven .form-group .e-upload, #template_driven .form-group .e-upload {
display: none;
}
#template_driven .upload-area button#browse {
float: right;
margin-top: -28px;
}
.fabric #template_driven .upload-area button#browse,
.highcontrast #template_driven .upload-area button#browse {
  float: right;
  margin-top: -32px;
  }
  .bootstrap #template_driven .upload-area button#browse {
  float: right;
  margin-top: -35px;
  }
  .fabric.e-bigger #template_driven .upload-area button#browse,
.highcontrast.e-bigger #template_driven .upload-area button#browse,
.bootstrap.e-bigger #template_driven .upload-area button#browse {
    margin-top: -40px;
  }
  .material.e-bigger #template_driven .upload-area button#browse {  
    margin-top: -36px;
    }
  .b
#template_driven .form-group .e-float-input.upload-area .e-float-line, .material .e-float-input.upload-area .e-float-line {  
  width: 70%;
  margin-top: initial;
}
#template_driven .form-group .upload-area input {
width: 70%;
}

@media (min-width: 250px) and (max-width: 500px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 12%;
}
}
@media (max-width: 300px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 15%;
}
}
.bootstrap #template_driven .form-group .upload-area {
 background: transparent;
}
.form-title {
text-align: center;
}

.e-float-input.e-success label.e-float-text{ 
  color: #22b24b;
}
.e-float-input.e-success input:focus ~ label.e-float-text{ 
  color: #22b24b;
}
.e-float-input.e-success input:valid ~ label.e-float-text { 
  color: #22b24b;
}
.form-group.template {
  padding-top: 8px;
}
.form-group #mobile-no input[type=number]::-webkit-inner-spin-button,
.form-group #mobile-no input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}