  .e-input-picture:before {
    content: '\e335';
    font-family: e-icons;
  }

  .bootstrap4 .e-input-picture:before {
    content: '\e776';
  }

  .tailwind .e-input-picture:before {
    content: '\e7da';
  }

  .tailwind .e-input-calendar:before {
    content:'\e7b2';
  }

  .e-input-calendar:before {
    content: '\e901';
    font-family: e-icons;
    font-size: 13px;
  }

  .fabric .e-input-calendar:before,
  .highcontrast .e-input-calendar:before {
    content:'\e93a';
  }

  .bootstrap .e-input-calendar:before {
    content:'\e960';
  }

  .bootstrap4 .e-input-calendar:before {
    content:'\e7be';
  }

  .content-wrapper {
    width: 90%;
    margin: 0 auto;
    min-width: 185px;
  }

  .content-wrapper div.row {
    padding: 15px 0px;
  }
    
  .control-label {
    padding: 24px 0px 0px 0px;
    font-size: 12px;
    opacity: 0.54;
  }
    
  @media only screen and (max-width: 480px) {
    .content-wrapper {
      width: 92%;
    }
    .e-input-section .col-xs-6,
    .e-input-section .col-xs-4,
    .e-input-section .col-xs-12 {
      padding: 10px 5px;
      width: 100%;
    }
    .content-wrapper div.row {
      padding: 0px;
    }
  }

  ejs-textbox .e-outline.e-float-input,
  ejs-textbox .e-outline.e-float-input.e-control-wrapper {
      margin-top: 0;
  }

  .fabric .row.material2,
  .bootstrap .row.material2,
  .bootstrap4 .row.material2,
  .highcontrast .row.material2,
  .tailwind .row.material2 {
      display: none;
  }
  
  #description td {
    vertical-align: top;
  }
