#control_wrapper {
    margin: 0 auto;
    max-width: 300px;
}

.control-section {
    margin: 25px auto;
}

#control_wrapper #container {
    min-height: 300px;
}

.e-bigger #control_wrapper #container {
    min-height: 380px;
}

#selected {
    height: 50px;
    width: 248px;
    display: block;
    font-weight: inherit;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.58);
}

span.e-icons.highlight {
    margin-top: -13px;
    display: block;
    margin-left: 4px;
}

span.e-icons.highlight,
span.e-icons.highlight:before {
    color: rgb(0, 0, 255);
}

span.e-icons.highlight:before {
    content: "\e865";
    vertical-align: middle;
    margin-right: 3px;
    font-size: 4px;
    position: relative;
    top: -1px;
    font-weight: normal;
}

.e-selected span.e-icons.highlight:before {
    color: #fff;
}

span.e-icons.highlight {
    margin-top: -11px;
    display: block;
    margin-left: 4px;
}

.e-calendar .e-content span.special,
.e-calendar .e-content span.daycell {
    font-weight: bold;
}

.e-calendar .e-content span.special {
    color: red;
}

.e-calendar .e-content span.daycell {
    color: #ff9e00;
}

#start,
#end {
    line-height: normal;
    height: 36px;
    width: 100%;
    border: 1px solid rgba(158, 158, 158, 0.45);
    text-indent: .857em;
    font-size: 13px;
    font-family: Segoe UI;
    margin-bottom: 10px;
}

.form-group .content-wrapper {
    float: left;
    padding: 0 10px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
    font-size: 14px;
    opacity: 0.5;
    font-style: oblique;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    font-size: 14px;
    opacity: 0.5;
    font-style: oblique;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    font-size: 14px;
    opacity: 0.5;
    font-style: oblique;
}

:-ms-input-placeholder {
    color: black;
    font-size: 14px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-style: oblique;
}