.e-input-group .e-spinner-icon {
    background-image: url(./styles/images/Medium-36px-spin.gif) !important;
    background-size: 14px 14px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.e-input-group .e-spinner-icon::before {
    content: '';
}

.e-popup .e-input-group .e-spinner-icon {
    padding: 12px 12px;
}

.e-bigger .e-ddl-device .e-spinner-icon {
    background-image: url(./styles/images/Medium-36px-spin.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 30px 30px !important;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.e-bigger .e-popup .e-input-group .e-spinner-icon {
    padding: 15px 15px 14px;
}
