.control_wrapper {
  max-width: 500px;
  min-width: 245px;
  margin: auto;
}
.address-field {
resize: none;
}

.e-error {
  padding-top: 7px;
}

#control_wrapper {
max-width: 500px;
margin: auto;
border: 0.5px solid #BEBEBE;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
padding: 1% 4% 0%;
background: #f9f9f9;
}
.highcontrast #control_wrapper {
background: #000000;
}
#template_driven .upload-area {
width: 75%;
}
#template_driven .form-group .submit-btn {
margin-top: 15px;
position: relative;            
}
#template_driven .form-group .desc {
margin: 2% 23% 0% 18%;
}
@media only screen and (max-width: 500px) {
  #template_driven .form-group .submitBtn .desc {
  margin: 12px;
}
}
#template_driven .form-group .submitBtn {
position: relative;        
text-align: center;
}
.bootstrap #template_driven .form-group .submit-btn {
margin-left: 8px;          
}
.e-bigger.material #template_driven .form-group .submit-btn {
margin-left: -7px;          
}
.fabric #template_driven .form-group .submit-btn, .highcontrast #template_driven .form-group .submit-btn {
margin-left: -11px;          
}
.e-bigger.fabric #template_driven .form-group .submit-btn, .e-bigger.highcontrast #template_driven .form-group .submit-btn {
margin-left: -25px;          
}
.e-bigger.bootstrap #template_driven .form-group .submit-btn {
margin-left: -8px;          
}
.success .successmsg {
border: 0.5px solid green;
padding: 10%;
color: green;
}
form#template_driven {
position: relative;
top: 14%;
}
.material #template_driven .form-group .e-upload, #template_driven .form-group .e-upload {
display: none;
}
.bootstrap5 #template_driven .e-float-input input[readonly],
.bootstrap5-dark #template_driven .e-float-input input[readonly],
.bootstrap4 #template_driven .e-float-input input[readonly] {
  background: none;
}
#template_driven .upload-area button#browse {
float: right;
margin-top: -32px;
margin-right: -106px;
}
.material3 #template_driven .upload-area button#browse,
.material3-dark #template_driven .upload-area button#browse,
.material #template_driven .upload-area button#browse,
.material-dark #template_driven .upload-area button#browse {
  float: right;
  margin-top: -27px;
  margin-right: - 105px
  }
.bootstrap #template_driven .upload-area button#browse,
.bootstrap-dark #template_driven .upload-area button#browse {
  float: right;
  margin-top: -35px;
  margin-right: -105px;
  }
.fluent-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.fluent .e-bigger #template_driven .e-float-input.upload-area button#browse,
.bootstrap5-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.bootstrap5 .e-bigger #template_driven .e-float-input.upload-area button#browse,
.tailwind-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.tailwind3-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.tailwind .e-bigger #template_driven .e-float-input.upload-area button#browse, 
.tailwind3 .e-bigger #template_driven .e-float-input.upload-area button#browse, 
.fabric-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.fabric .e-bigger #template_driven .e-float-input.upload-area button#browse,
.highcontrast .e-bigger #template_driven .e-float-input.upload-area button#browse  {
    margin-right: -120px;
    margin-top: -40px;
  }
.material3 .e-bigger #template_driven .e-float-input.upload-area button#browse,
.material3-dark .e-bigger #template_driven .e-float-input.upload-area button#browse, 
.material .e-bigger #template_driven .e-float-input.upload-area button#browse,
.material-dark .e-bigger #template_driven .e-float-input.upload-area button#browse {
    margin-top: -36px;
    margin-right: -106px;
}
.bootstrap4 .e-bigger #template_driven .e-float-input.upload-area button#browse{
  margin-top: -38px;
}
.bootstrap-dark .e-bigger #template_driven .e-float-input.upload-area button#browse,
.bootstrap .e-bigger #template_driven .e-float-input.upload-area button#browse {
	margin-top: -40px;
}
  
#template_driven .form-group .e-float-input.upload-area .e-float-line, .material .e-float-input.upload-area .e-float-line {  
  width: 70%;
  margin-top: initial;
}

.fabric #template_driven .form-group .upload-area input, .bootstrap #template_driven .form-group .upload-area input {
background: #ffffff;
}

@media (min-width: 250px) and (max-width: 500px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 12%;
}
}
@media (max-width: 300px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 15%;
}
}
.bootstrap #template_driven .form-group .upload-area {
 background: transparent;
}
.form-title {
text-align: center;
}
.highcontrast #control_wrapper.control_wrapper,
.material-dark #control_wrapper.control_wrapper,
.material3-dark #control_wrapper.control_wrapper,
.fabric-dark #control_wrapper.control_wrapper,
.bootstrap-dark #control_wrapper.control_wrapper,
.bootstrap5-dark #control_wrapper.control_wrapper {
    background: #393939;
}
.tailwind-dark #control_wrapper.control_wrapper,
.tailwind3-dark #control_wrapper.control_wrapper { 
    background: #6c757d;
}
.fluent .e-bigger .e-dialog .e-dlg-header-content,
.fluent-dark .e-bigger .e-dialog .e-dlg-header-content,
.tailwind .e-bigger .e-dialog .e-dlg-header-content,
.tailwind3 .e-bigger .e-dialog .e-dlg-header-content,
.tailwind-dark .e-bigger .e-dialog .e-dlg-header-content,
.tailwind3-dark .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 2%;
}
.material3-dark .e-bigger .e-dialog .e-dlg-header-content,
.material3 .e-bigger .e-dialog .e-dlg-header-content,
.material-dark .e-bigger .e-dialog .e-dlg-header-content,
.material .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 3%;
}