.control_wrapper {
  max-width: 500px;
  min-width: 245px;
  margin: auto;
}
.address-field {
resize: none;
}
#control_wrapper {
max-width: 500px;
margin: auto;
border: 0.5px solid #BEBEBE;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
padding: 1% 4% 0%;
background: #f9f9f9;
}
.highcontrast #control_wrapper {
background: #000000;
}
#reactive .form-group .upload-area {
width: 75%;
}
.fabric #reactive .form-group .upload-area {
  background: transparent;
}

.bootstrap #reactive .form-group .upload-area input, .fabric #reactive .form-group .upload-area input {
  background: #ffffff;
}
.e-error {
padding-top:3px;
}
#reactive .form-group .submit-btn {
margin-top: 15px;
position: relative;            
}
#reactive .form-group .submitBtn .desc {
margin: 2% 23% 0% 18%;
}
@media only screen and (max-width: 500px) {
#reactive .form-group .submitBtn .desc {
  margin: 12px;
}
}
#reactive .form-group .submitBtn {
position: relative;        
text-align: center;
}
.bootstrap #reactive .form-group .submit-btn {
margin-left: 8px;          
}
.e-bigger.material #reactive .form-group .submit-btn {
margin-left: -7px;          
}
.fabric #reactive .form-group .submit-btn, .highcontrast #reactive .form-group .submit-btn {
margin-left: -11px;          
}
.e-bigger.fabric #reactive .form-group .submit-btn, .e-bigger.highcontrast #reactive .form-group .submit-btn {
margin-left: -25px;          
}
.e-bigger.bootstrap #reactive .form-group .submit-btn {
margin-left: -8px;          
}
.success .successmsg {
border: 0.5px solid green;
padding: 10%;
color: green;
}
form#reactive {
position: relative;
top: 14%;
}
.material #reactive .form-group .e-upload, #reactive .form-group .e-upload {
display: none;
}
.bootstrap5 #reactive .e-float-input input[readonly],
.bootstrap5-dark #reactive .e-float-input input[readonly],
.bootstrap4 #reactive .e-float-input input[readonly] {
  background: none;
}
#reactive .upload-area button#browse {
float: right;
margin-top: -32px;
margin-right: -106px;

}
.material3.e-bigger #reactive .upload-area button#browse,
.material3-dark.e-bigger #reactive .upload-area button#browse,
.material.e-bigger #reactive .upload-area button#browse,
.material-dark.e-bigger #reactive .upload-area button#browse {  
  margin-top: -27px;
  margin-right: -105px;
  }
.bootstrap #reactive .upload-area button#browse,
.bootstrap-dark #reactive .upload-area button#browse {
  float: right;
  margin-top: -35px;
  margin-right: -105px;
  }
.fluent-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.fluent .e-bigger #reactive .e-float-input.upload-area button#browse,
.bootstrap5-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.bootstrap5 .e-bigger #reactive .e-float-input.upload-area button#browse,
.tailwind-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.tailwind3-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.tailwind .e-bigger #reactive .e-float-input.upload-area button#browse,
.tailwind3 .e-bigger #reactive .e-float-input.upload-area button#browse,
.fabric-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.fabric .e-bigger #reactive .e-float-input.upload-area button#browse,
.highcontrast .e-bigger #reactive .e-float-input.upload-area button#browse  {
    margin-right: -120px;
    margin-top: -40px;
}
.material3 .e-bigger #reactive .e-float-input.upload-area button#browse,
.material3-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.material .e-bigger #reactive .e-float-input.upload-area button#browse,
.material-dark .e-bigger #reactive .e-float-input.upload-area button#browse {
    margin-top: -36px;
    margin-right: -106px;
}
.bootstrap4 .e-bigger #reactive .e-float-input.upload-area button#browse{
    margin-top: -38px;
}
.bootstrap-dark .e-bigger #reactive .e-float-input.upload-area button#browse,
.bootstrap .e-bigger #reactive .e-float-input.upload-area button#browse {
	margin-top: -40px;
}
#reactive .form-group .e-float-input.upload-area .e-float-line, .material .e-float-input.upload-area .e-float-line {  
  width: 70%;
  margin-top: initial;
}

.bootstrap4 button#browse {
  margin-top: -33px;
}  

@media (min-width: 250px) and (max-width: 500px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 12%;
}
}
@media (max-width: 300px) {
#control_wrapper.control_wrapper {
  padding: 1% 4% 15%;
}
}
.bootstrap #reactive .form-group .upload-area {
 background: transparent;
}
.form-title {
text-align: center;
}
#mobileno::-webkit-inner-spin-button, 
#mobileno::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.highcontrast #control_wrapper.control_wrapper,
.material-dark #control_wrapper.control_wrapper,
.fabric-dark #control_wrapper.control_wrapper,
.bootstrap-dark #control_wrapper.control_wrapper,
.bootstrap5-dark #control_wrapper.control_wrapper {
    background: #393939;
}
.tailwind-dark #control_wrapper.control_wrapper,
.tailwind3-dark #control_wrapper.control_wrapper { 
    background: #6c757d;
}
.fluent .e-bigger .e-dialog .e-dlg-header-content,
.fluent-dark .e-bigger .e-dialog .e-dlg-header-content,
.tailwind .e-bigger .e-dialog .e-dlg-header-content,
.tailwind3 .e-bigger .e-dialog .e-dlg-header-content,
.tailwind-dark .e-bigger .e-dialog .e-dlg-header-content,
.tailwind3-dark .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 2%;
}
.material3-dark .e-bigger .e-dialog .e-dlg-header-content,
.material3 .e-bigger .e-dialog .e-dlg-header-content,
.material-dark .e-bigger .e-dialog .e-dlg-header-content,
.material .e-bigger .e-dialog .e-dlg-header-content{
    padding-bottom: 3%;
}