/* custom code start*/
.e-query-builder {
    margin: 0 auto;
}

ejs-querybuilder {
    display: block;
}

.e-query-builder .query-template-control .cndtnbtn.e-control.e-dropdownlist.e-lib.e-input {
    padding-left: 10px;
}

.e-query-builder .query-template-control span.e-custom-group-btn {
    max-width: 100px;
    border-radius: 5px !important;
    border-width: 1px !important; 
}

.e-query-builder .query-template-control .e-custom-group-btn.e-input-focus::before, .e-custom-group-btn.e-input-focus::after {
    background: transparent !important;
}

.e-query-builder .query-template-control .e-custom-group-btn{
    padding-left: 10px;
    height: 32px;
}

.e-bigger .e-query-builder .e-custom-group-btn {
    padding-left: 10px; 
    height: 36px;
}

.e-query-builder .query-template-control .e-header {
    display: inline-block;
    float: right;
}

.e-query-builder .query-template-control .e-qb-hdr-content {
    display: inline-block;
    padding: 5px;
}

.e-query-builder .query-template-control .e-grp-btn {
    background-color: #6c757d !important;
}

.e-query-builder .query-template-control .e-cond-btn {
    background-color: #6c757d !important;
}

.e-query-builder .query-template-control .e-grp-btn:hover {
    background-color: #545c63 !important;
}

.e-query-builder .query-template-control .e-cond-btn:hover {
    background-color: #545c63 !important;
}

.e-query-builder .e-custom-hdr {
    display: inline-block;
}

.e-query-preview {
        margin-top: 20px !important;
        border: 1px solid #e5e7eb;
        border-radius: 4px;
        height: 300px;
    }

.e-query-preview .e-tab {
    height: 200px;
}

.preview {
    margin-top: 20px;
}

.control-section {
    margin-top: 50px;
}

.content {
    margin: 10px;
}

.e-text-area-content {
    margin: 10px;
    overflow: auto;
    border: none;
    height: 300px;
    width: 98%;
}

.e-text-area-content:focus-visible {
    outline: none;
}

.e-sql-content,
.e-mongo-content,
.e-json-content {
    margin: 10px;
    border: none;
    height: 200px;
    width: 98%;
}

.e-mongo-content,
.e-json-content {
    height: 220px;
}
