/* custom code start*/
#querybuilder .e-slider-container.e-control-wrapper {
  height: 0;
}

.e-query-builder {
    margin: 0 auto;
    display: block;
}

#ruleContent {
  border: 1px solid #d3d3d3;
  width: 100%;
  height: 500px;
  overflow: auto;
  background-color: #fff;
}

.template-property td div.row {
  margin: 0 0 10px;
}

.highcontrast textarea#ruleContent {
  background-color: #000;
}
/* custom code end*/