.adaptive-rows.e-schedule .e-timeline-view .e-resource-left-td {
  width: 120px;
}

.adaptive-rows.e-schedule .e-timeline-view .e-resource-text {
  padding-left: 20px;
}

.adaptive-rows.e-schedule .e-timeline-view .e-block-appointment {
  align-items: center;
  display: flex;
  justify-content: center;
}