.schedule-context-menu .e-menu-item .new::before {
  content: '\e7f9';
}

.schedule-context-menu .e-menu-item .edit::before {
  content: '\ea9a';
}

.schedule-context-menu .e-menu-item .recurrence::before {
  content: '\e308';
  font-weight: bold;
}

.schedule-context-menu .e-menu-item .today::before {
  content: '\e322';
}

.tailwind .schedule-context-menu .e-menu-item .today::before {
  content: '\e742';
}

.schedule-context-menu .e-menu-item .delete::before {
  content: '\e94a';
}

.tailwind .schedule-context-menu .e-menu-item .delete::before {
  content: '\e78d';
}

.e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 14px;
}

.schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 12px;
}

/* custom code start*/
.highcontrast .schedule-context-menu .e-menu-item .today::before,
.fabric .schedule-context-menu .e-menu-item .today::before {
    content: '\e321';
}

.bootstrap .schedule-context-menu .e-menu-item .today::before {
    content: '\e312';
}

.highcontrast .schedule-context-menu .e-menu-item .delete::before,
.fabric .schedule-context-menu .e-menu-item .delete::before {
    content: '\eb00';
}

.highcontrast .schedule-context-menu .e-menu-item .new::before,
.fabric .schedule-context-menu .e-menu-item .new::before {
    content: '\e823';
}

.tailwind .schedule-context-menu .e-menu-item .new::before {
  content: '\e78a';
}

.bootstrap4 .schedule-context-menu .e-menu-item .today::before {
  content: '\e7be';
}

.bootstrap4 .schedule-context-menu .e-menu-item .edit::before {
  content: '\e78f';
}

.tailwind .schedule-context-menu .e-menu-item .edit::before {
  content: '\e7d2';
}

.bootstrap4 .schedule-context-menu .e-menu-item .delete::before {
  content: '\e773';
}

.bootstrap4 .schedule-context-menu .e-menu-item .new::before {
  content: '\e759';
}

.bootstrap4 .schedule-context-menu .e-menu-item .recurrence::before {
  content: '\e7c8';
}

.highcontrast .schedule-context-menu .e-menu-item .recurrence::before,
.fabric .schedule-context-menu .e-menu-item .recurrence::before {
    content: '\e309';
    font-weight: bold;
}

.tailwind .schedule-context-menu .e-menu-item .recurrence::before {
  content: '\e71d';
}
/* custom code end*/
