.schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.willsmith,
.schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.willsmith {
    background-color: #faebd7;
}

.schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.alice,
.schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.alice {
    background-color: #deecfc;
}

.schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.robson,
.schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.robson {
    background-color: #deeeac;
}

.schedule-group-custom-work-days.e-schedule .e-vertical-view .e-resource-cells {
    height: 62px;
}

.schedule-group-custom-work-days.e-schedule .template-wrap {
    display: flex;
    text-align: left;
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-image {
    background-repeat: no-repeat;
    background-size: 45px;
    height: 45px;
    width: 45px;
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-details {
    padding-left: 10px;
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-details .resource-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.schedule-group-custom-work-days.e-schedule.e-device .template-wrap .resource-details .resource-name {
    font-size: inherit;
    font-weight: inherit;
}

.schedule-group-custom-work-days.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
    height: 50px;
}

.schedule-group-custom-work-days.e-schedule.e-device .template-wrap .resource-details .resource-designation {
    display: none;
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-image.will-smith {
    background-image: url('~/assets/schedule/images/will-smith.png');
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-image.alice {
    background-image: url('~/assets/schedule/images/alice.png');
}

.schedule-group-custom-work-days.e-schedule .template-wrap .resource-image.robson {
    background-image: url('~/assets/schedule/images/robson.png');
}