 .material .e-schedule-clock::before {
   content: "\e20c";
 }

 .fabric .e-schedule-clock::before,
 .highcontrast .e-schedule-clock::before {
   content: "\e97f";
 }

 .bootstrap .e-schedule-clock::before {
   content: "\e93e";
 }

 .bootstrap4 .e-schedule-clock::before {
   content: "\e7c7";
 }

 .material .e-schedule-timezone::before,
 .bootstrap .e-schedule-timezone::before {
   content: "\e30e";
 }

 .fabric .e-schedule-timezone::before,
 .highcontrast .e-schedule-timezone::before {
   content: "\e311";
 }

 .bootstrap4 .e-schedule-timezone::before {
   content: "\e7c9";
 }

 .material .e-schedule-print::before {
   content: "\e813";
 }

 .fabric .e-schedule-print::before,
 .bootstrap .e-schedule-print::before,
 .highcontrast .e-schedule-print::before {
   content: "\e7df";
 }

 .bootstrap4 .e-schedule-print::before {
   content: "\e743";
 }

 .bootstrap4 .e-schedule-import::before {
   content: "\e77a";
 }

 .material .e-schedule-ical-export::before,
 .fabric .e-schedule-ical-export::before {
   content: "\e711";
 }

 .bootstrap .e-schedule-ical-export::before {
   content: "\e702";
 }

 .bootstrap4 .e-schedule-ical-export::before {
   content: "\e780";
 }

 .highcontrast .e-schedule-ical-export::before {
   content: "\e712";
 }

 .material .e-schedule-excel-export::before {
   content: "\e700";
 }

 .fabric .e-schedule-excel-export::before,
 .highcontrast .e-schedule-excel-export::before {
   content: "\e242";
 }

 .bootstrap .e-schedule-excel-export::before {
   content: "\e70b";
 }

 .bootstrap4 .e-schedule-excel-export::before {
   content: "\e74e";
 }

 .material .e-schedule-add-event::before,
 .fabric .e-schedule-add-event::before,
 .bootstrap .e-schedule-add-event::before,
 .highcontrast .e-schedule-add-event::before {
   content: "\e823";
 }

 .bootstrap4 .e-schedule-add-event::before {
   content: "\e759";
 }

 .material .e-schedule-add-recurrence-event::before,
 .bootstrap .e-schedule-add-recurrence-event::before {
   content: "\e308";
 }

 .fabric .e-schedule-add-recurrence-event::before,
 .highcontrast .e-schedule-add-recurrence-event::before {
   content: "\e309";
 }

 .bootstrap4 .e-schedule-add-recurrence-event::before {
   content: "\e7c8";
 }

 .material .e-schedule-day-view::before {
   content: "\e31b";
 }

 .fabric .e-schedule-day-view::before,
 .highcontrast .e-schedule-day-view::before {
   content: "\e317";
 }

 .bootstrap .e-schedule-day-view::before {
   content: "\e318";
 }

 .bootstrap4 .e-schedule-day-view::before {
   content: "\e7b8";
 }

 .material .e-schedule-week-view::before {
   content: "\e315";
 }

 .fabric .e-schedule-week-view::before,
 .highcontrast .e-schedule-week-view::before {
   content: "\e31f";
 }

 .bootstrap .e-schedule-week-view::before {
   content: "\e320";
 }

 .bootstrap4 .e-schedule-week-view::before {
   content: "\e7c0";
 }

 .material .e-schedule-workweek-view::before {
   content: "\e314";
 }

 .fabric .e-schedule-workweek-view::before,
 .highcontrast .e-schedule-workweek-view::before {
   content: "\e323";
 }

 .bootstrap .e-schedule-workweek-view::before {
   content: "\e319";
 }

 .bootstrap4 .e-schedule-workweek-view::before {
   content: "\e7c0";
 }

 .material .e-schedule-month-view::before,
 .material .e-schedule-year-view::before {
   content: "\e93c";
 }

 .fabric .e-schedule-month-view::before,
 .fabric .e-schedule-year-view::before,
 .highcontrast .e-schedule-month-view::before,
 .highcontrast .e-schedule-year-view::before {
   content: "\ea90";
 }

 .bootstrap .e-schedule-month-view::before,
 .bootstrap .e-schedule-year-view::before {
   content: "\ea8f";
 }

 .bootstrap4 .e-schedule-month-view::before,
 .bootstrap4 .e-schedule-year-view::before {
   content: "\e7c4";
 }

 .material .e-schedule-agenda-view::before {
   content: "\e31d";
 }

 .fabric .e-schedule-agenda-view::before,
 .highcontrast .e-schedule-agenda-view::before {
   content: "\e316";
 }

 .bootstrap .e-schedule-agenda-view::before {
   content: "\e31a";
 }

 .bootstrap4 .e-schedule-agenda-view::before {
   content: "\e7bd";
 }

 .e-schedule-toolbar-settings::before {
   content: "\e679";
   font-size: 14px;
 }

 .material .schedule-overview .overview-toolbar .e-toolbar {
   border-style: solid;
 }

 .material .schedule-overview .overview-header .overview-titlebar .e-upload.calendar-import .e-upload-browse-btn {
   text-transform: capitalize;
 }

 .highcontrast .schedule-overview .overview-header .overview-titlebar {
   background-color: #ffd939;
 }

 .highcontrast .schedule-overview .overview-header,
 .highcontrast .schedule-overview .overview-content {
   border: 1px solid #969696;
 }

 .highcontrast .schedule-overview .overview-content {
   border-top: 0;
 }

 .highcontrast .schedule-overview .overview-toolbar .e-toolbar,
 .highcontrast .schedule-overview .overview-toolbar .e-toolbar .e-toolbar-items .e-toolbar-item.e-separator,
 .highcontrast .schedule-overview .overview-toolbar .e-toolbar .e-hscroll .e-scroll-nav.e-scroll-left-nav,
 .highcontrast .schedule-overview .overview-toolbar .e-toolbar .e-hscroll .e-scroll-nav.e-scroll-right-nav {
   border-color: #969696;
 }

 .material .schedule-overview .overview-toolbar .overview-toolbar-settings,
 .material .schedule-overview .overview-content .right-panel .control-panel {
   background-color: #fafafa;
   text-transform: capitalize;
 }

 .fabric .schedule-overview .overview-toolbar .overview-toolbar-settings,
 .fabric .schedule-overview .overview-content .right-panel .control-panel {
   background-color: #ffffff;
 }

 .bootstrap .schedule-overview .overview-toolbar .overview-toolbar-settings,
 .bootstrap .schedule-overview .overview-content .right-panel .control-panel {
   background-color: #f8f8f8;
 }

 .highcontrast .schedule-overview .overview-toolbar .overview-toolbar-settings,
 .highcontrast .schedule-overview .overview-content .right-panel .control-panel {
   background-color: #000000;
   border-color: #969696;
   color: #ffffff;
 }

 .schedule-overview .overview-header {
   border: 1px solid #007bff;
 }

 .schedule-overview .overview-header .overview-titlebar {
   background-color: #007bff;
   color: #ffffff;
   height: 40px;
   line-height: 40px;
   width: 100%;
   font-size: 12px;
   padding: 0 10px;
   font-family: inherit;
   display: flex;
   justify-content: space-between;
 }

 .schedule-overview .overview-header .overview-titlebar .right-panel {
   display: flex;
   justify-content: space-between;
 }

 .schedule-overview .overview-header .overview-titlebar .e-upload.calendar-import {
   line-height: 40px;
 }

 .schedule-overview .overview-header .overview-titlebar .e-upload.calendar-import button,
 .schedule-overview .overview-header .overview-titlebar .e-upload.calendar-import button:focus,
 .schedule-overview .overview-header .overview-titlebar .e-upload.calendar-import button:hover {
   background-color: transparent;
   border-color: transparent;
   box-shadow: none;
   color: #ffffff;
   font-size: 12px;
   font-weight: normal;
   text-transform: capitalize;
 }

 .schedule-overview .overview-header .overview-titlebar .title-bar-btn,
 .schedule-overview .overview-header .overview-titlebar .title-bar-btn:hover,
 .schedule-overview .overview-header .overview-titlebar .title-bar-btn:focus,
 .schedule-overview .overview-header .overview-titlebar .e-dropdown-btn,
 .schedule-overview .overview-header .overview-titlebar .e-dropdown-btn.e-btn {
   background: transparent;
   box-shadow: none;
   font-family: inherit;
   border-color: transparent;
   border-radius: 2px;
   color: inherit;
   font-size: 12px;
   text-transform: capitalize;
   height: 40px;
   font-weight: 400;
 }

 .schedule-overview .overview-toolbar {
   display: flex;
   height: 70px;
 }

 .schedule-overview .overview-toolbar .e-toolbar {
   border-radius: 0;
 }

 .schedule-overview .overview-toolbar .e-toolbar .e-toolbar-item .e-tbar-btn.e-tbtn-txt {
   display: inline-grid;
 }

 .schedule-overview .overview-toolbar .e-toolbar .e-toolbar-item.e-template {
   margin: 0 5px;
 }

 .schedule-overview .overview-toolbar .overview-toolbar-settings {
   border-radius: 0;
   background-color: #f8f9fa;
   border-color: rgba(0, 0, 0, 0.15);
   border-left-width: 0;
   border-top-width: 0;
   box-shadow: none;
   color: #495057;
   height: 72px;
   line-height: 1.6;
   outline: none;
   width: 100%;
 }

 .schedule-overview .overview-content {
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-top: 0;
   display: flex;
 }

 .schedule-overview .overview-content .left-panel {
   height: 600px;
   width: 100%;
 }

 .schedule-overview .overview-content .right-panel {
   display: block;
   height: 600px;
   transform: translateX(0%);
   transition: transform .5s ease, width 500ms;
   width: 500px;
 }

 .schedule-overview .overview-content .right-panel.hide {
   display: none;
   transform: translateX(100%);
   transition: transform .5s ease, width 500ms;
   width: 0;
 }

 .schedule-overview .overview-content .right-panel .control-panel {
   background: rgba(248, 249, 250, 1);
   border-left: 1px solid rgba(0, 0, 0, 0.15);
   font-size: 14px;
   height: 100%;
   overflow: auto;
   padding: 15px;
   width: 100%;
 }

 .schedule-overview .overview-content .right-panel .control-panel .col-row {
   display: flex;
   flex-wrap: wrap;
 }

 .schedule-overview .overview-content .right-panel .control-panel label {
   font-weight: 500;
 }

 .schedule-overview .overview-content .right-panel .control-panel .col-left {
   flex: 0 0 41.666667%;
   max-width: 41.666667%;
   margin-bottom: 1rem;
 }

 .schedule-overview .overview-content .right-panel .control-panel .col-right {
   flex: 0 0 58.333333%;
   max-width: 58.333333%;
   margin-bottom: 1rem;
 }

 .schedule-overview .overview-scheduler {
   height: 100%;
   padding: 10px;
   width: 100%;
 }

 .schedule-overview .e-schedule .e-vertical-view .e-header-cells {
   text-align: center !important;
 }

 .schedule-overview .e-schedule .date-text {
   font-size: 14px;
 }

 .schedule-overview .e-schedule.e-device .date-text {
   font-size: 12px;
 }

 .schedule-overview .e-schedule .weather-image {
   width: 20px;
   height: 20px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .schedule-overview .e-schedule .weather-text {
   font-size: 11px;
 }

 .schedule-overview .e-schedule-toolbar .e-views,
 .schedule-overview .e-schedule-toolbar .e-schedule-seperator,
 .schedule-workweek.e-multi-select-list-wrapper.e-checkbox .e-filter-parent,
 .schedule-resource.e-multi-select-list-wrapper.e-checkbox .e-filter-parent {
   display: none;
 }

 .schedule-overview .e-timeline-view .e-resource-left-td,
 .schedule-overview .e-timeline-month-view .e-resource-left-td {
   width: 120px;
 }

 .schedule-resource.e-multi-select-list-wrapper.e-checkbox .e-list-parent:first-child li:first-child {
   background-image: none;
   opacity: .5;
   pointer-events: none;
   user-select: none;
 }

 .schedule-overview .quick-info-header {
   background-color: white;
   padding: 8px 18px;
 }

 .schedule-overview .quick-info-header-content {
   justify-content: flex-end;
   display: flex;
   flex-direction: column;
   padding: 5px 10px 5px;
 }

 .schedule-overview .quick-info-title {
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.48px;
   height: 22px;
 }

 .schedule-overview .duration-text {
   font-size: 11px;
   letter-spacing: 0.33px;
   height: 14px;
 }

 .schedule-overview .content-area {
   margin: 0;
   padding: 10px;
   width: auto;
 }

 .schedule-overview .event-content {
   height: 90px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 15px;
 }

 .schedule-overview .meeting-type-wrap,
 .schedule-overview .meeting-subject-wrap,
 .schedule-overview .notes-wrap {
   font-size: 11px;
   color: #666;
   letter-spacing: 0.33px;
   height: 24px;
   padding: 5px;
 }

 .schedule-overview .event-content div label {
   display: inline-block;
   min-width: 45px;
   color: #666;
 }

 .schedule-overview .event-content div span {
   font-size: 11px;
   color: #151515;
   letter-spacing: 0.33px;
   line-height: 14px;
   padding-left: 8px;
 }

 .schedule-overview .cell-footer.e-btn {
   background-color: #ffffff;
   border-color: #878787;
   color: #878787;
 }

 .schedule-overview .cell-footer {
   padding-top: 10px;
 }

 .schedule-overview .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
   padding: 0 14px;
 }

 .schedule-overview .e-quick-popup-wrapper .e-event-popup .e-popup-footer {
   display: block;
 }

 .schedule-overview .e-quick-popup-wrapper .e-popup-footer button:first-child {
   margin-right: 5px;
 }

 .schedule-overview .calendar-import.e-upload {
   border: 0;
   padding-left: 0 !important;
 }

 .schedule-overview .calendar-import.e-upload .e-file-select-wrap {
   padding: 0
 }

 .schedule-overview .calendar-import.e-upload .e-file-select-wrap .e-file-drop,
 .calendar-import .e-upload-files {
   display: none;
 }

 .schedule-context-menu .e-menu-item .new::before {
   content: '\e7f9';
 }

 .schedule-context-menu .e-menu-item .edit::before {
   content: '\ea9a';
 }

 .schedule-context-menu .e-menu-item .recurrence::before {
   content: '\e308';
   font-weight: bold;
 }

 .schedule-context-menu .e-menu-item .today::before {
   content: '\e322';
 }

 .schedule-context-menu .e-menu-item .delete::before {
   content: '\e94a';
 }

 .e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
   font-size: 14px;
 }

 .schedule-context-menu ul .e-menu-item .e-menu-icon {
   font-size: 12px;
 }

 .highcontrast .schedule-context-menu .e-menu-item .today::before,
 .fabric .schedule-context-menu .e-menu-item .today::before {
   content: '\e321';
 }

 .bootstrap .schedule-context-menu .e-menu-item .today::before {
   content: '\e312';
 }

 .highcontrast .schedule-context-menu .e-menu-item .delete::before,
 .fabric .schedule-context-menu .e-menu-item .delete::before {
   content: '\eb00';
 }

 .highcontrast .schedule-context-menu .e-menu-item .new::before,
 .fabric .schedule-context-menu .e-menu-item .new::before {
   content: '\e823';
 }

 .highcontrast .schedule-context-menu .e-menu-item .recurrence::before,
 .fabric .schedule-context-menu .e-menu-item .recurrence::before {
   content: '\e309';
   font-weight: bold;
 }

 .bootstrap4 .schedule-context-menu .e-menu-item .today::before {
   content: '\e7be';
 }

 .bootstrap4 .schedule-context-menu .e-menu-item .edit::before {
   content: '\e78f';
 }

 .bootstrap4 .schedule-context-menu .e-menu-item .delete::before {
   content: '\e773';
 }

 .bootstrap4 .schedule-context-menu .e-menu-item .new::before {
   content: '\e759';
 }

 .bootstrap4 .schedule-context-menu .e-menu-item .recurrence::before {
   content: '\e7c8';
 }

 .schedule-overview.e-schedule .e-vertical-view .e-header-cells,
 .schedule-overview.e-schedule .e-timeline-month-view .e-header-cells {
   padding: 0;
   text-align: center !important;
 }

 .schedule-overview.e-schedule .date-text {
   font-size: 14px;
 }

 .schedule-overview.e-schedule.e-device .date-text {
   font-size: 12px;
 }

 .schedule-overview.e-schedule .weather-image {
   width: 20px;
   height: 20px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .schedule-overview.e-schedule .weather-text {
   font-size: 11px;
 }

 .schedule-overview.e-schedule .e-month-view .weather-image {
   float: right;
   margin: -20px 2px 0 0;
   width: 20px;
   height: 20px;
 }
