.property-panel-table td {
  padding-bottom: 1rem;
}

.schedule-print.e-schedule .e-schedule-toolbar .e-toolbar-item.e-today,
.e-hide-row {
  display: none;
}

.schedule-print.e-schedule .e-schedule-toolbar .e-toolbar-items .e-toolbar-item.e-separator {
  display: none;
}
