.content-wrapper.multiple-schedulers .schedule-container {
    display: flex;
}

.multiple-schedulers .e-drag-clone,
.multiple-schedulers .e-schedule-event-clone {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#first-schedule {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .content-wrapper.multiple-schedulers .schedule-container {
        flex-direction: column;
    }

    #first-schedule {
        margin-right: 0;
    }

    #second-schedule {
        margin-top: 10px;
    }
}