.e-schedule-event-tooltip .tooltip-wrap {
  display: flex;
  align-items: center;
}

.e-schedule-event-tooltip .tooltip-wrap .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.tailwind-dark .e-schedule-event-tooltip .tooltip-wrap .image,
.tailwind3-dark .e-schedule-event-tooltip .tooltip-wrap .image,
.bootstrap5-dark .e-schedule-event-tooltip .tooltip-wrap .image,
.bootstrap5\.3-dark .e-schedule-event-tooltip .tooltip-wrap .image {
  background-color: #1F294A;
}

.bootstrap-dark .e-schedule-event-tooltip .tooltip-wrap .image {
  background-color: #1a1a1a;
}

.fabric-dark .e-schedule-event-tooltip .tooltip-wrap .image,
.material-dark .e-schedule-event-tooltip .tooltip-wrap .image,
.highcontrast .e-schedule-event-tooltip .tooltip-wrap .image {
  background-color: #000;
}

.material3-dark .e-schedule-event-tooltip .tooltip-wrap .image {
  background-color: #313033;
}

.fabric .e-schedule-event-tooltip .tooltip-wrap .image,
.fluent .e-schedule-event-tooltip .tooltip-wrap .image,
.fluent2 .e-schedule-event-tooltip .tooltip-wrap .image {
  background-color: #242424;
}

.e-schedule-event-tooltip .tooltip-wrap .content-area {
  padding-left: 6px;
  font-size: 12px;
  margin: 0px;
}

.e-schedule-event-tooltip .tooltip-wrap .name {
  font-weight: 500;
  font-size: 14px;
}
