.e-schedule .template-wrap .subject {
  padding: 10px 25px;
}

.e-schedule .e-more-event-popup .template-wrap .subject {
  padding: 0px 25px;
}

.e-schedule .template-wrap {
  width: 100%;
}

.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 150px;
}
