

#properties_Container{
    float: left;
    height: 600px;
    margin-top: 30px;
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row-header {
    font-size: 13px;
    font-weight: 500;
}

.col-xs-6 {
    padding-left: 0px;
    padding-right: 0px;
}

