.tagSection {
    float: left;
}

.likeAnswer span.e-icon {
    float: left;
}

img.e-icon {
    width: 13px;
    height: 25px;
}

span.questionSide {
    margin-left: 24px;
    float: left;
}

.e-dislike {
    margin-left: 16px;
    float: left;
}

.questionHeader {
    margin-top: 12px;
    margin-bottom: 5px;
}

.header {
    font-size: 16px;
    font-family: roboto-Semibold, SegoeUI-Semibold;
    color: #000000;
    font-weight: bold;
    clear: both;
}

.bootstrap-dark .forum .header, .bootstrap5-dark .forum .header, .fluent-dark .forum .header, .fluent2-dark .forum .header, .material3-dark .forum .header,
.fabric-dark .forum .header, .material-dark .forum .header, .tailwind-dark .forum .header, .tailwind3-dark .forum .header, .highcontrast .forum .header, .fluent2-highcontrast .forum .header, .bootstrap5\.3-dark .forum .header {
    color: #fff;
}

@media (max-width: 550px) {
    .forum {
        padding: 20px 20px 60px 20px;
    }
}

@media (min-width: 550px) {
    .forum {
        margin: 0 auto;
        width: 80%;
        border: 1px solid #d8d8c0;
        padding: 10px 90px 60px 90px;
        box-shadow: 2px 2px 2px 2px #f5f5ef;
    }
    .highcontrast .forum {
        border: 1px solid #fff;
    }
}

.e-like span {
    font-family: Helvetica, Times New Roman;
    color: #E3175A;
    font-size: 12px;
}

.bootstrap-dark .e-like span, .bootstrap5-dark .e-like span,.bootstrap5\.3-dark .e-like span, .fluent-dark .e-like span,.material3-dark .e-like span,
	.fabric-dark .e-like span, .material-dark .e-like span, .tailwind-dark .e-like span, .tailwind3-dark .e-like span, .highcontrast .e-like span {
        color: #ff4b86;
    }

.e-dislike span {
    font-family: Helvetica, Times New Roman;
    color: #717171;
    font-size: 12px;

}

.bootstrap-dark .e-dislike span, .bootstrap5-dark .e-dislike span,.bootstrap5\.3-dark .e-dislike span, .fluent-dark .e-dislike span,.material3-dark .e-dislike span,
	.fabric-dark .e-dislike span, .material-dark .e-dislike span, .tailwind-dark .e-dislike span, .tailwind3-dark .e-dislike span, .highcontrast .e-dislike span {
        color: #BFBFBF;
    }

.detailsQuestion {
    font-size: 12px;
    font-family: roboto, SegoeUI;
    color: #575757;
    margin-top: 8px;
}

.explain {
    margin-top: 16px;
    font-size: 13px;
    font-family: roboto, SegoeUI;
    color: #000000;
}

.bootstrap-dark .forum .explain, .bootstrap5-dark .forum .explain, .bootstrap5\.3-dark .forum .explain,.fluent-dark .forum .explain, .fluent2-dark .forum .explain,.material3-dark .forum .explain,
.fabric-dark .forum .explain, .material-dark .forum .explain, .tailwind-dark .forum .explain,  .tailwind3-dark .forum .explain, .highcontrast .forum .explain, .fluent2-highcontrast .forum .explain {
    color: #fff;
}

.bootstrap-dark .detailsQuestion, .bootstrap5-dark .detailsQuestion,.bootstrap5\.3-dark .detailsQuestion, .fluent-dark .detailsQuestion,.material3-dark .detailsQuestion,
	.fabric-dark .detailsQuestion, .material-dark .detailsQuestion, .tailwind-dark .detailsQuestion, .tailwind3-dark .detailsQuestion, .highcontrast .detailsQuestion {
        color: #BFBFBF;
    }

.separator {
    margin-top: 5px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 5px;
}

.tags td:first-child div {
    margin-left: 0px;
}

.bootstrap-dark .tag, 
.bootstrap5-dark .tag, 
.bootstrap5\.3-dark .tag, 
.fluent-dark .tag,
.fluent2-dark .tag,
.material3-dark .tag,
.fabric-dark .tag, 
.material-dark .tag, 
.tailwind-dark .tag,
.tailwind3-dark .tag, 
.highcontrast .tag {
    color: #fff;
    background: #484644;
}   

.tag {
    color: #000000;
    padding: 3px 14px;
    background-color: #DDDDDD;
    font-size: 13px;
    margin-left: 8px;
    border-radius: 6px;
    float: left;
    text-transform: lowercase;
    font-family: roboto, SegoeUI;
}

.answerCount {
    color: #575757;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: roboto-Semibold, SegoeUI-Semibold;
    width: 63px;
}

.bootstrap-dark .answerCount, .bootstrap5-dark .answerCount,.bootstrap5\.3-dark .answerCount, .fluent-dark .answerCount,.material3-dark .answerCount,
	.fabric-dark .answerCount, .material-dark .answerCount, .tailwind-dark .answerCount, .tailwind3-dark .answerCount, .highcontrast .answerCount {
        color: #BFBFBF;
    }

.likeAnswer {
    margin-top: 13px;
}

.tags {
    margin-top: 10px;
    margin-bottom: 24px;
}

.questionar {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/emp1.png");
}

.raiser {
    height: 34px;
}

.Questionarname {
    margin-top: 13px;
    float: left;
    font-weight: 500;
    margin-left: 10px;
}

.your-answer {
    color: #3b3b3b;
    font-weight: 300;
}

.rating {
    padding-left: 10px;
    margin-top: -95px;
}

.logos {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/emp2.png");
}

.logo {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/author.png") no-repeat scroll 0 0 transparent;
}

.emp1 {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/1.png") no-repeat scroll 0 0 transparent;
}

.emp2 {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/2.png") no-repeat scroll 0 0 transparent;
}

.emp3 {
    background: url("https://ej2.syncfusion.com/demos/src/rich-text-editor/images/3.png") no-repeat scroll 0 0 transparent;
}

.blog-avatar {
    height: 32px;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bcbcbc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    color: #fff;
    width: 32px;
}

.author {
    margin-bottom: 5px;
    height: 50px;
    margin-top: 5px;
}

.name {
    margin: 5px;
    float: left;
    color: blue;
}

.posting {
    clear: both;
    color: #000;
    line-height: 24px;
    margin-top: 12px;
    font-family: roboto, SegoeUI;
    font-size: 13px;
    overflow-wrap: break-word;
}

.bootstrap-dark .forum .posting, .bootstrap5-dark .forum .posting,.bootstrap5\.3-dark .forum .posting, .fluent-dark .forum .posting, .fluent2-dark .forum .posting, .material3-dark .forum .posting,
.fabric-dark .forum .posting, .material-dark .forum .posting, .tailwind-dark .forum .posting, .tailwind3-dark .forum .posting, .highcontrast .forum .posting, .fluent2-highcontrast .forum .posting {
    color: #fff;
}

.authorname {
    font-family: SegoeUI-Semibold;
    color: #000000;
    font-size: 13px;
}

.bootstrap-dark .forum .authorname, .bootstrap5-dark .forum .authorname,.bootstrap5\.3-dark .forum .authorname, .fluent-dark .forum .authorname,.fluent2-dark .forum .authorname, .material3-dark .forum .authorname,
.fabric-dark .forum .authorname, .material-dark .forum .authorname, .tailwind-dark .forum .authorname, .tailwind3-dark .forum .authorname, .highcontrast .forum .authorname, .fluent2-highcontrast .forum .authorname {
    color: #fff;
}

.detailsAnswer {
    color: #575757;
    font-size: 12px;
    font-family: roboto, SegoeUI;
    margin-top: 7px;
}

#buttonSection {
    float: right;
    margin-top: 11px;

}

.bootstrap-dark .detailsAnswer, .bootstrap5-dark .detailsAnswer,.bootstrap5\.3-dark .detailsAnswer, .fluent-dark .detailsAnswer,.material3-dark .detailsAnswer,
.fabric-dark .detailsAnswer, .material-dark .detailsAnswer, .tailwind-dark .detailsAnswer, .tailwind3-dark .detailsAnswer, .highcontrast .detailsAnswer {
    color: #BFBFBF;
}

#buttonSection button {
    margin-right: 11px;
}

.authorname,
.detailsAnswer {
    margin-left: 11px;
}

.answerCount {
    color: #76766f;
    margin-top: 20px;
    margin-bottom: 12px;
}

.questDesc {
    min-height: 120px;
    width: 100%;
}

.answerHeader {
    border-bottom: 1px solid #ced1d1;
    margin-bottom: 20px;
    margin-top: -40px;
}

.answer {
    margin-top: 15px;
}

.editorholder h4 {
    padding: 15px 0;
}

#createpostholder {
    margin-top: 25px;
}
