.tagSection {
    float: left;
}

.likeAnswer span.e-icon {
    float: left;
}

img.e-icon {
    width: 13px;
    height: 25px;
}

span.questionSide {
    margin-left: 24px;
    float: left;
}

.e-dislike {
    margin-left: 16px;
    float: left;
}

.questionHeader {
    margin-top: 12px;
    margin-bottom: 5px;
}

.header {
    font-size: 16px;
    font-family: roboto-Semibold, SegoeUI-Semibold;
    color: #000000;
    font-weight: bold;
    clear: both;
}

.highcontrast .header {
    color: #fff;
}

@media (max-width: 550px) {
    .forum {
        padding: 20px 20px 60px 20px;
    }
}

@media (min-width: 550px) {
    .forum {
        margin: 0 auto;
        width: 80%;
        border: 1px solid #d8d8c0;
        padding: 10px 90px 60px 90px;
        box-shadow: 2px 2px 2px 2px #f5f5ef;
    }
    .highcontrast .forum {
        border: 1px solid #fff;
    }
}

.e-like span {
    font-family: Helvetica, Times New Roman;
    color: #E3175A;
    font-size: 12px;
}

.e-dislike span {
    font-family: Helvetica, Times New Roman;
    color: #717171;
    font-size: 12px;

}

.detailsQuestion {
    font-size: 12px;
    font-family: roboto, SegoeUI;
    color: #575757;
    margin-top: 8px;
}

.explain {
    margin-top: 16px;
    font-size: 13px;
    font-family: roboto, SegoeUI;
    color: #000000;
}

.highcontrast .explain {
    color: #fff;
}

.separator {
    margin-top: 5px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 5px;
}

.tags td:first-child div {
    margin-left: 0px;
}

.tag {
    color: #000000;
    padding: 3px 14px;
    background-color: #DDDDDD;
    font-size: 13px;
    margin-left: 8px;
    border-radius: 6px;
    float: left;
    text-transform: lowercase;
    font-family: roboto, SegoeUI;
}

.answerCount {
    color: #575757;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: roboto-Semibold, SegoeUI-Semibold;
    width: 63px;
}

.likeAnswer {
    margin-top: 13px;
}

.tags {
    margin-top: 10px;
    margin-bottom: 24px;
}

.questionar {
    width: 32px;
    background: url(~/assets/rich-text-editor/images/emp1.png);
    height: 32px;
    float: left;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bcbcbc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    color: #fff;
    margin-top: 2px;
}

.raiser {
    height: 34px;
}

.Questionarname {
    margin-top: 13px;
    float: left;
    font-weight: 500;
    margin-left: 10px;
}

.your-answer {
    color: #3b3b3b;
    font-weight: 300;
}

.rating {
    padding-left: 10px;
    margin-top: -95px;
}

.logos {
    background: url(~/assets/rich-text-editor/images/emp2.png);
    height: 32px;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bcbcbc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    color: #fff;
    width: 32px;
}

.logo {
    background: url(~/assets/rich-text-editor/images/author.png) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
}

.emp1 {
    background: url(~/assets/rich-text-editor/images/1.png) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
}

.emp2 {
    background: url(~/assets/rich-text-editor/images/2.png) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
}

.emp3 {
    background: url(~/assets/rich-text-editor/images/3.png) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
}

.author {
    margin-bottom: 5px;
    height: 50px;
    margin-top: 5px;
}

.name {
    margin: 5px;
    float: left;
    color: blue;
}

.posting {
    clear: both;
    color: #000;
    line-height: 24px;
    margin-top: 12px;
    font-family: roboto, SegoeUI;
    font-size: 13px;
}

.highcontrast .posting {
    color: #fff;
}

.authorname {
    font-family: SegoeUI-Semibold;
    color: #000000;
    font-size: 13px;
}

.highcontrast .authorname {
    color: #fff;
}

.detailsAnswer {
    color: #575757;
    font-size: 12px;
    font-family: roboto, SegoeUI;
    margin-top: 7px;
}

#buttonSection {
    float: right;
    margin-top: 11px;

}

#buttonSection button {
    margin-right: 11px;
}

.authorname,
.detailsAnswer {
    margin-left: 11px;
}

.answerCount {
    color: #76766f;
    margin-top: 20px;
    margin-bottom: 12px;
}

.questDesc {
    min-height: 120px;
    width: 100%;
}

.answerHeader {
    border-bottom: 1px solid #ced1d1;
    margin-bottom: 20px;
    margin-top: -40px;
}

.answer {
    margin-top: 15px;
}

.editorholder h4 {
    padding: 15px 0;
}

#createpostholder {
    margin-top: 25px;
}