.api {
    width: 75%;
}
.api td {
    padding-right: 100px;
    margin-top: 3px;
}
@media only screen and (max-width: 600px) {
    .api {
        width: 100%;
    }
    .api td {
        display: block;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .api {
        width: 100%;
    }
}
.control-section {
    padding: 20px;
}
.codeView {
    border: 1px solid rgba(0,0,0,0.12);
    height: 200px;
    width: 100%;
}
.CodeMirror {
    height: 190px;
}
.codeViewContent {
    padding-left: 16px;
}
