.e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e341";
}

.e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e354";
}

.bootstrap4 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e752";
}

.bootstrap4 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e778";
}

.tailwind-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.tailwind .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e7bd";
}

.tailwind-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.tailwind .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e7b9";
}

.bootstrap5 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.bootstrap5-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e713";
}

.bootstrap5 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.bootstrap5-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e755";
}

.property-panel-content td {
    width: 50%;
}

.property-panel-content td div {
    padding-left: 10px;
    padding-top: 10px;
}