.e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e341";
}

.e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e354";
}

.bootstrap4 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e752";
}

.bootstrap4 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e778";
}

.bootstrap5 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.bootstrap5-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.fluent .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.fluent-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.material3 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.material3-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.tailwind .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before,
.tailwind-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-left::before {
    content: "\e713";
}

.bootstrap5 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.bootstrap5-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.fluent .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.fluent-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.material3 .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.material3-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.tailwind .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before,
.tailwind-dark .e-rte-quick-popup .e-rte-quick-toolbar .e-rotate-right::before {
    content: "\e755";
}

.property-panel-content td {
    width: 50%;
}

.property-panel-content td div {
    padding: 10px;
}