    /* csslint ignore:start */
    #mdPreview.e-richtexteditor textarea.e-content {
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    #mdPreview.e-richtexteditor .e-rte-content .e-content{
        min-height: 150px;
    }

    #mdPreview.e-richtexteditor .e-rte-content {
        overflow: hidden;
    }

    .e-icon-btn.e-active .e-md-preview::before {
        content: '\e350';
    }

    .e-icon-btn .e-md-preview::before {
        content: '\e345';
    }
   .bootstrap4 .e-icon-btn.e-active .e-md-preview::before {
        content: '\e790';
    }

    .bootstrap4 .e-icon-btn .e-md-preview::before {
        content: '\e787';
    }

    #mdPreview .e-rte-content .e-content.e-pre-source {
        width: 100%;
    }

    .highcontrast #mdPreview.e-richtexteditor textarea.e-content {
        border-right: 1px solid #fff;
    }
/* csslint ignore:end */