    /* csslint ignore:start */
    #mdPreview.e-richtexteditor textarea.e-content {
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    #mdPreview.e-richtexteditor .e-rte-content .e-content{
        min-height: 150px;
    }

    #mdPreview.e-richtexteditor .e-rte-content {
        overflow: hidden;
    }

    .e-icon-btn.e-active .e-md-preview::before {
        content: '\e350';
    }

    .e-icon-btn .e-md-preview::before {
        content: '\e345';
    }
   .bootstrap4 .e-icon-btn.e-active .e-md-preview::before {
        content: '\e790';
    }

    .bootstrap4 .e-icon-btn .e-md-preview::before {
        content: '\e787';
    }

    .tailwind .e-icon-btn .e-md-preview::before,
    .tailwind-dark .e-icon-btn .e-md-preview::before
    .bootstrap5 .e-icon-btn .e-md-preview::before,
    .bootstrap5-dark .e-icon-btn .e-md-preview::before,
    .fluent .e-icon-btn .e-md-preview::before,
    .fluent-dark .e-icon-btn .e-md-preview::before {
        content: '\e7de';
    }
    
    .fluent .e-icon-btn.e-active .e-md-preview::before,
    .fluent-dark .e-icon-btn.e-active .e-md-preview::before,
    .bootstrap5 .e-icon-btn.e-active .e-md-preview::before,
    .bootstrap5-dark .e-icon-btn.e-active .e-md-preview::before,
    .tailwind .e-icon-btn.e-active .e-md-preview::before,
    .tailwind-dark .e-icon-btn.e-active .e-md-preview::before {
        content: '\e80e';
    }

    #mdPreview .e-rte-content .e-content.e-pre-source {
        width: 100%;
    }

    .highcontrast #mdPreview.e-richtexteditor textarea.e-content {
        border-right: 1px solid #fff;
    }

    .sb-content.e-view.hide-header {
        top: 0 !important;
    }
    
    .sb-header.e-view.hide-header {
        display: none;
    }
/* csslint ignore:end */
