.online-editor #defaultRTE {
    overflow: hidden;
    border: none;
}

.online-editor .e-splitter .CodeMirror {
    height: 447px;
}

.center {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}

.online-editor .heading {
    margin-top: 10px;
    float: left;
    width: 50%;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
}

.title {
    color: #a0aabf;
    letter-spacing: 1px;
    padding-left: 10px;
}

.online-editor .title-head {
    text-align: center
}

.online-editor .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-last-bar {
    margin: 0;
}

.online-editor .button-content {
    display: none;
}

.sb-content-section .online-editor .button-content {
    display: block;
}

.sb-content-section .online-editor .sample-view {
    display: none;
}

.online-editor .sample-view {
    display: block;
    padding: 15px;
}

body {
    margin: 0;
}

.online-editor table {
    width: 100%
}

.online-editor table,
.online-editor th,
.online-editor td {
    border: 1px solid black;
    border-collapse: collapse;
}

.ej2-new .sb-bread-crumb,
.ej2-new .sb-bread-crumb-text,
.ej2-new app-root > div > p,
.ej2-new #action-description,
.ej2-new #description-section,
.ej2-new .sb-header,
.ej2-new #description {
    display: none !important;
}

.ej2-new .container-fluid {
    padding: 0 !important;
}

.ej2-new .content {
    top : 0px;
}

.ej2-new .e-splitter .content {
    height: 100%;
}

.ej2-new .control-section {
    padding-left: 0px;
}