.online-editor #defaultRTE {
  overflow: hidden;
  border: none;
}
.online-editor .CodeMirror.cm-s-default.CodeMirror-wrap {
    height: 405px;
  }
.online-editor .heading {
  float: left;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  padding-left:0px;
  padding-right:0px;
}

.online-editor .title {
  color: #333333;
  letter-spacing: 1px;
  padding-left: 10px;
  text-align: center;
  margin: 15px 0;
}
.online-editor .title-head {
  text-align: center
}

.online-editor .e-control.e-splitter .e-split-bar.e-split-bar-horizontal.e-last-bar {
  margin: 0;
}
.online-editor .sb-content-section {
 border-bottom: none;
 border-right: none;  
}

.online-editor .sample-head {
  height: 48px;
  background: #ffffff;
  box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
  z-index: 1001;
  opacity: 100;
  display: none;
}

.online-editor .head-content {
  padding: 15px 0 0 35px;
  font-weight: 499;
  line-height: 18px;
  font-size: 15px;
  color: #000000;
  font-family: sans-serif;
}

.online-editor table {
  width: 100%;
}

.online-editor table,
.online-editor th,
.online-editor td {
  border: 1px solid black;
  border-collapse: collapse;
}

.online-editor .content{
  border: 1px solid #dddddd
}

.ej2-new .container-fluid {
  padding-right: 0px; 
  padding-left: 0px;
}
.e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical {
border-left: none;
}
.ej2-new  .control-section {
  padding-top: 0px;
  padding-bottom: 0px;
}
.online-editor .e-tab .e-tab-header:not(.e-vertical)::before {
  border-bottom: none;
  border-right: 1px solid #dee2e6;
}
.online-editor .e-richtexteditor.e-rte-tb-expand .e-rte-content, .e-richtexteditor.e-rte-tb-expand .e-source-content
.sb-content-section .e-lib .e-tab .e-control .e-template .e-keyboard .e-nested .sb-content-header  {
  border-bottom: none;
}
.online-editor .e-toolbar.e-control[class*='e-toolbar']
{
  border-bottom: none;
}
.online-editor .CodeMirror-scroll
{
  border-top: 1px solid #e8e8e8 !important;
}
.online-editor .heading .right .e-pane .e-pane-horizontal .e-scrollable
{
  padding:0px;
}
.sb-content-section .sb-content-tab-header {
  border-right: 1px solid #D7D7D7;
}
.online-editor .e-richtexteditor.e-rte-tb-expand {
   border: none;
}
.fabric-dark .CodeMirror-gutters, .fabric-dark .CodeMirror {
  background-color: #201F1F;
  color: #fff;
}
.fluent-dark .CodeMirror-gutters, .fluent-dark .CodeMirror,
.fluent2-dark .CodeMirror-gutters, .fluent2-dark .CodeMirror, .fluent2-highcontrast .CodeMirror {
  background-color: #1B1A19;
  color: #fff;
}
.material3-dark .CodeMirror-gutters, .material3-dark .CodeMirror {
  background-color: #1C1B1F;
  color: #fff;
}
.bootstrap-dark .CodeMirror-gutters, .bootstrap-dark .CodeMirror {
  background-color: #1A1A1A;
  color: #fff;
}
.bootstrap5-dark .CodeMirror-gutters, .bootstrap5-dark .CodeMirror,
.bootstrap5\.3-dark .CodeMirror-gutters, .bootstrap5\.3-dark .CodeMirror {
  background-color: #212529;
  color: #fff;
}
.material-dark .CodeMirror-gutters, .material-dark .CodeMirror {
  background-color: #303030;
  color: #fff;
}
.tailwind-dark .CodeMirror-gutters, .tailwind-dark .CodeMirror,
.tailwind3-dark .CodeMirror-gutters, .tailwind3-dark .CodeMirror {
  background-color: #1F2937;
  color: #fff;
}
.highcontrast .CodeMirror-gutters, .highcontrast .CodeMirror,
.fluent2-highcontrast .CodeMirror-gutters, .fluent2-highcontrast .CodeMirror {
  background-color: #000000;
  color: #fff;
}

.fabric-dark .title, .bootstrap5-dark .title,.bootstrap5\.3-dark .title, .bootstrap-dark .title, .fluent-dark .title, .fluent2-dark .title, .material3-dark .title
.material-dark .title, .tailwind-dark .title, .tailwind3-dark .title, .highcontrast .title, .fluent2-highcontrast .title {
  color: #fff;
}
