.e-icons.block-view:before{
    content: open-quote;
    font-size: 30px;
    line-height: 20px;
}
.e-icons.h1-view:before{
    content: 'H1';
}
.e-icons.h2-view:before{
    content: 'H2';
}
.e-icons.h3-view:before{
    content: 'H3';
}
.e-icons.h4-view:before{
    content: 'H4';
}
.e-icons.e-text:before{
    content: 'T';
}

.format-table #icons {
    padding: 15px 15px;
    display: inline-block;
    width: 55px;
    font-size: 20px;
    line-height: 0px;
}

.format-table #icons.e-icons.e-image, .format-table #icons.e-icons.e-audio, .format-table #icons.e-icons.e-table, 
.format-table #icons.e-icons.e-video, .format-table #icons.e-list-unordered, .format-table #icons.e-list-ordered{
    line-height: 10px !important;
}

.format-table .description {
    display: block;
    line-height: 20px;
    font-size: 12px;
    padding: 1px 0px 5px 0px;
}
.format-table .font {
    font-size: 16px;
    display: block;
    line-height: 20px;
    padding: 5px 0px 1px 0px;
}

#MentionInlineFormat .e-mention-chip{
    cursor: pointer;
}

  .e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-left::before {
        content: "\e76e";
    }

    .e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-right::before {
        content: "\e726";
    }

    .e-richtexteditor textarea.e-content {
      float: left;
    }
    .e-richtexteditor .e-rte-content {
      overflow: hidden;
    }
    .e-rte-content .e-content.e-pre-source{
      width: 100%;
    }

    .property-panel-content td{
        width: 50%;
    }
    .property-panel-content td div {
        padding-left: 10px;
        padding-top: 10px;
    }

    .e-icon-btn.e-active .e-md-preview::before {
        content: '\e350';
    }

	.e-icon-btn .e-md-preview.e-icons::before {
		content: '\e345';
	}

    .bootstrap4 .e-icon-btn.e-active .e-md-preview::before {
        content: '\e790';
    }

    .bootstrap4 .e-icon-btn .e-md-preview::before {
        content: '\e787';
    }

    .e-icon-btn.e-active .e-md-preview::before,
    #mdCustom .e-icon-btn.e-active .e-md-preview.e-icons::before {
		content: '\e350';
	}
	#mdCustom .e-icon-btn .e-md-preview.e-icons::before {
		content: '\e345';
    }
  .material3 .e-rte-emoticon-tbar-section .char_block.e-active,
  .material3-dark .e-rte-emoticon-tbar-section .char_block.e-active {
        outline: 1px solid #D0BCFF;
        border-color: #D0BCFF;
    }
