    .tribute-container {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        max-height: 300px;
        max-width: 500px;
        overflow: auto;
        display: block;
        z-index: 999999;
    }
    
    .tribute-container ul {
        margin: 0;
        margin-top: 2px;
        padding: 0;
        list-style: none;
        background: #efefef;
    }
    
    .tribute-container li {
        padding: 5px 5px;
        cursor: pointer;
    }
    
    .tribute-container li.highlight {
        background: #ddd;
    }
    
    .tribute-container li span {
        font-weight: bold;
    }
    
    .tribute-container li.no-match {
        cursor: default;
    }
    
    .tribute-container .menu-highlighted {
        font-weight: bold;
    }
    
    .fluent-dark .tribute-container li.highlight{	
        background-color:#4c4b4b;
    }

    .fluent-dark .tribute-container ul{
        background-color:#252423; 
    }

    .bootstrap5-dark .tribute-container li.highlight{
        background-color:#494e51;
    }

    .bootstrap5-dark .tribute-container ul{
        background-color:#282D31; 
    }

    .tailwind-dark .tribute-container li.highlight{
        background-color:#5f666f;
    }

    .tailwind-dark .tribute-container ul{
        background-color:#374151; 
    }

    .material-dark .tribute-container li.highlight{
        background-color:#494949;
    }

    .material-dark .tribute-container ul{
        background-color:#212121; 
    }

    .fabric-dark .tribute-container li.highlight{
        background-color:#676565;
    }

    .fabric-dark .tribute-container ul{
        background-color:#333232; 
    }

    .bootstrap-dark .tribute-container li.highlight{
        background-color:#515050;
    }
    .bootstrap-dark .tribute-container ul{
        background-color:#131313; 
    }

    .highcontrast .tribute-container li.highlight{
        background-color:#515050;
    }

    .highcontrast .tribute-container ul{
        background-color:#2d2a2a; 
    }