/* custom code start*/
.content-wrapper {
    width: 90%;
    margin: 0 auto;
    min-width: 85px;
}

.e-breadcrumb {
    display: block;
}

.content-wrapper div.row {
    padding: 15px 0px;
}

.reset-btn {
    float: right;
    margin: 5px 2px 5px 0;
}

.bootstrap .e-breadcrumb-chips,
.bootstrap .e-custom-breadcrumb,
.bootstrap4 .e-breadcrumb-chips,
.bootstrap4 .e-custom-breadcrumb,
.bootstrap-dark .e-breadcrumb-chips,
.bootstrap-dark .e-custom-breadcrumb {
    margin-left: -16px;
}

.tailwind .e-breadcrumb,
.tailwind-dark .e-breadcrumb {
    margin-left: -12px;
}

.tailwind .e-custom-breadcrumb,
.tailwind-dark .e-custom-breadcrumb {
    margin-left: 0;
}

.material .e-breadcrumb:not(.e-custom-breadcrumb),
.material-dark .e-breadcrumb:not(.e-custom-breadcrumb) {
    margin-left: -8px
}

.fabric .e-breadcrumb:not(.e-custom-breadcrumb),
.fabric-dark .e-breadcrumb:not(.e-custom-breadcrumb) {
    margin-left: -4px
}

@media only screen and (max-width: 480px) {
    .content-wrapper {
        width: 92%;
    }

    .col-xs-12,
    .col-xs-4,
    .col-xs-12 {
        padding: 10px 5px;
        width: 100%;
    }

    .content-wrapper div.row {
        padding: 0px;
    }
}
/* custom code end*/

@font-face {
    font-family: 'e-bicons';
    src:
    url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMj1wSfkAAAEoAAAAVmNtYXDnHOdpAAABmAAAAD5nbHlmSRvkRAAAAegAAANoaGVhZB2Xb78AAADQAAAANmhoZWEIUQQHAAAArAAAACRobXR4GAAAAAAAAYAAAAAYbG9jYQSCAv4AAAHYAAAADm1heHABFwEfAAABCAAAACBuYW1lXj/4/wAABVAAAAIlcG9zdE4LDloAAAd4AAAAegABAAAEAAAAAFwEAAAAAAAD9AABAAAAAAAAAAAAAAAAAAAABgABAAAAAQAA6q1k4F8PPPUACwQAAAAAAN1ClWcAAAAA3UKVZwAAAAAD9AP0AAAACAACAAAAAAAAAAEAAAAGARMABwAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA5wPnBwQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAqAAAABAAEAAEAAOcH//8AAOcD//8AAAABAAQAAAABAAIABQADAAQAAAAAAAABTgFqAYABlAG0AAAABwAAAAADdwP0AB8AXwCfAOMA5gDsARIAAAEVDwUrAS8FPQE/BTsBHwUHFR8OPw8vDisBDw0XDw8jLw4/Dx8OJxUPAycHFw8EJwcfBAcXNx8EBxc3HwE/Ahc3Jz8DFzcnPwUnBy8DNycHLwQ1JyM/ASERIREzJREVHwgzITM/CDURNS8IIyECGAICAwQEBAUFBQQDAwMBAQMDAwQFBQUEBAQDAgJvAgIDAwUFBQcGBwgICAkJCQgJCAcHBwYGBQQEAwIBAQEBAgMEBAUGBgcHBwgJCAkJCQgICAcGBwUFBQMDAgLeAQIDBQUHCAkJCwsMDA0NDg4ODQwMCwoKCQgGBgUDAgEBAgMFBgYICQoKCwwMDQ4ODg0NDAwLCwkJCAcFBQMCohYTEhIiKyIOBQoIBDQJNAEDBQYvHDANDg8IDBQ0FBQUDw8IFDQTEg8NEDAcLwUFBAEBNAo0BwgKECIqIg0RERMLuHFxPgGW/ZDa/ucBAgUGCQoLBgYHAnAHBgYLCgkGBQIBAQIFBgkKCwYGB/4+AaIFBAQEAwICAgIDBAQEBQUFBAMDAwEBAwMDBAUFCQgJCAcHBwYGBQQEAwIBAQEBAgMEBAUGBgcHBwgJCAkJCQgICAcGBwUFBQMDAgICAgMDBQUFBwYHCAgICQkODQ0MDAsLCQkIBwYEAwIBAwMEBgcICAoLCwwMDQ0ODg0NDQwLCgoJBwcGBAQCAQECAwUGBwcJCgoLDA0NDew2BQUICikkKRIIERILCTcKGBQTEhwwHA8MDAUGOBM4AwEBAQI4EzcLCwwRHTEcDRETEw0JOAkUEBAUKSQpBwgGBQI2fHEt/JQCkC39QwYGBgsKCQYFAgEBAgUGCQoLBgYGA2wGBgYLCgkGBQIBAAACAAAAAAPzA0wAAwALAAA3IRMhAzMTITUhJyFSAuq4/QPrDrgCaf4uOv7dtAG9/kMB8Sh/AAAAAAEAAAAAAxcD9AAFAAATCQEXCQHpAcn+NzMB+/4FA8H+P/4/MwH0AfQAAAAAAQAAAAAD9AOAAAUAAAEnBwkBJwFZ52YBTQKbZwFM52b+sgKbZwAAAAIAAAAAA/QDngAIAA4AABMRMzUhFTMRJQUVCQE1AYzuAQnx/pL+BgH6Ae7+EgHT/o/09AFx84NwAVv+rnEBUQAAABIA3gABAAAAAAAAAAEAAAABAAAAAAABAAcAAQABAAAAAAACAAcACAABAAAAAAADAAcADwABAAAAAAAEAAcAFgABAAAAAAAFAAsAHQABAAAAAAAGAAcAKAABAAAAAAAKACwALwABAAAAAAALABIAWwADAAEECQAAAAIAbQADAAEECQABAA4AbwADAAEECQACAA4AfQADAAEECQADAA4AiwADAAEECQAEAA4AmQADAAEECQAFABYApwADAAEECQAGAA4AvQADAAEECQAKAFgAywADAAEECQALACQBIyBlLWJjb25zUmVndWxhcmUtYmNvbnNlLWJjb25zVmVyc2lvbiAxLjBlLWJjb25zRm9udCBnZW5lcmF0ZWQgdXNpbmcgU3luY2Z1c2lvbiBNZXRybyBTdHVkaW93d3cuc3luY2Z1c2lvbi5jb20AIABlAC0AYgBjAG8AbgBzAFIAZQBnAHUAbABhAHIAZQAtAGIAYwBvAG4AcwBlAC0AYgBjAG8AbgBzAFYAZQByAHMAaQBvAG4AIAAxAC4AMABlAC0AYgBjAG8AbgBzAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAHUAcwBpAG4AZwAgAFMAeQBuAGMAZgB1AHMAaQBvAG4AIABNAGUAdAByAG8AIABTAHQAdQBkAGkAbwB3AHcAdwAuAHMAeQBuAGMAZgB1AHMAaQBvAG4ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYBAgEDAQQBBQEGAQcAE2RvY3VtZW50LXNldHRpbmctd2YOZm9sZGVyLW9wZW4tMDERY2hldnJvbi1yaWdodF8wMy0KY2hlY2stbWFyawhob3VzZS0wNAAAAAA=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.e-bicons {
    font-family: 'e-bicons' !important;
    font-size: 14px;
}

.e-breadcrumb-chips .e-chip-list {
    padding: 0px;
}

.e-breadcrumb-chips .e-chip-list .e-chip {
    margin: 0px !important;
}

.e-breadcrumb-chips .e-breadcrumb-separator {
    font-size: 20px;
}

.e-arrow:before {
    content: "\e706";
    font-weight: 800;
    font-size: 12px;
}

.e-folder:before {
    content: "\e704";
}

.e-file:before {
    content: "\e703";
}

.e-custom-breadcrumb .e-custom-separator {
    width: 5px;
    background-color: #fff;
}

.e-custom-breadcrumb li + li {
    padding-left: 0;
}

.e-custom-breadcrumb .e-custom-item {
    width: auto;
    height: 40px;
    position: relative;
    background: #938bf6;
    padding: 10px 12px 10px 30px;
    color: white;
    cursor: pointer;
}

.e-custom-breadcrumb .e-breadcrumb-item:last-child .e-custom-item {
    cursor: default;
}

.e-custom-breadcrumb .e-custom-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.e-custom-breadcrumb .e-custom-item:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #938bf6;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}

.e-custom-breadcrumb li:first-child .e-custom-item:after {
    border-left: 0;
}

.e-custom-breadcrumb li:first-child .e-custom-item {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px 12px;
}

.e-custom-breadcrumb .e-custom-item:hover,
.e-custom-breadcrumb .e-custom-item:active{
    background-color: #7b74ce;
}

.e-custom-breadcrumb .e-custom-item:hover::before,
.e-custom-breadcrumb .e-custom-item:active::before{
    border-left: 20px solid #7b74ce;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.e-custom-breadcrumb .e-custom-icon .e-frame {
    border-radius: 100%;
    background-color: #7dd284;
    border-color: #7dd284;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.e-custom-breadcrumb .e-custom-item .e-label {
    vertical-align: top;
    padding-left: 10px;
    line-height: 1.5;
}

.e-custom-breadcrumb .e-custom-icon .e-frame::before {
    content: "\e707";
    font-size: 10px;
    vertical-align: text-bottom;
    margin-left: 4px
}

.e-custom-breadcrumb li:last-child .e-custom-icon .e-frame {
    background-color: #c9c5fb;
    border-color: #c9c5fb;
    color: #938bf6;
}

.e-custom-breadcrumb .e-breadcrumb-item,
.e-custom-breadcrumb .e-breadcrumb-separator
 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.e-custom-breadcrumb .e-custom-icon {
    display: flex;
    align-items: center;
}

.tailwind .e-custom-breadcrumb .e-custom-icon {
    line-height: 1;
}

.e-searchfor-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
}

.e-searchfor-text .e-breadcrumb-text {
    padding-left: 0;
}

.e-bigger .e-searchfor-text {
    font-size: 16px
}

.fabric .e-searchfor-text,
.fabric-dark .e-searchfor-text,
.highcontrast .e-searchfor-text {
    font-size: 18px;
}

.e-bigger.fabric .e-searchfor-text,
.e-bigger.fabric-dark .e-searchfor-text,
.e-bigger.highcontrast .e-searchfor-text {
    font-size: 21px;
}

.e-specific-item-template .e-breadcrumb-item:last-child a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'e-bicons';
    src:
    url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMj1wSfkAAAEoAAAAVmNtYXDnHOdpAAABmAAAAD5nbHlmSRvkRAAAAegAAANoaGVhZB2Xb78AAADQAAAANmhoZWEIUQQHAAAArAAAACRobXR4GAAAAAAAAYAAAAAYbG9jYQSCAv4AAAHYAAAADm1heHABFwEfAAABCAAAACBuYW1lXj/4/wAABVAAAAIlcG9zdE4LDloAAAd4AAAAegABAAAEAAAAAFwEAAAAAAAD9AABAAAAAAAAAAAAAAAAAAAABgABAAAAAQAA6q1k4F8PPPUACwQAAAAAAN1ClWcAAAAA3UKVZwAAAAAD9AP0AAAACAACAAAAAAAAAAEAAAAGARMABwAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA5wPnBwQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAqAAAABAAEAAEAAOcH//8AAOcD//8AAAABAAQAAAABAAIABQADAAQAAAAAAAABTgFqAYABlAG0AAAABwAAAAADdwP0AB8AXwCfAOMA5gDsARIAAAEVDwUrAS8FPQE/BTsBHwUHFR8OPw8vDisBDw0XDw8jLw4/Dx8OJxUPAycHFw8EJwcfBAcXNx8EBxc3HwE/Ahc3Jz8DFzcnPwUnBy8DNycHLwQ1JyM/ASERIREzJREVHwgzITM/CDURNS8IIyECGAICAwQEBAUFBQQDAwMBAQMDAwQFBQUEBAQDAgJvAgIDAwUFBQcGBwgICAkJCQgJCAcHBwYGBQQEAwIBAQEBAgMEBAUGBgcHBwgJCAkJCQgICAcGBwUFBQMDAgLeAQIDBQUHCAkJCwsMDA0NDg4ODQwMCwoKCQgGBgUDAgEBAgMFBgYICQoKCwwMDQ4ODg0NDAwLCwkJCAcFBQMCohYTEhIiKyIOBQoIBDQJNAEDBQYvHDANDg8IDBQ0FBQUDw8IFDQTEg8NEDAcLwUFBAEBNAo0BwgKECIqIg0RERMLuHFxPgGW/ZDa/ucBAgUGCQoLBgYHAnAHBgYLCgkGBQIBAQIFBgkKCwYGB/4+AaIFBAQEAwICAgIDBAQEBQUFBAMDAwEBAwMDBAUFCQgJCAcHBwYGBQQEAwIBAQEBAgMEBAUGBgcHBwgJCAkJCQgICAcGBwUFBQMDAgICAgMDBQUFBwYHCAgICQkODQ0MDAsLCQkIBwYEAwIBAwMEBgcICAoLCwwMDQ0ODg0NDQwLCgoJBwcGBAQCAQECAwUGBwcJCgoLDA0NDew2BQUICikkKRIIERILCTcKGBQTEhwwHA8MDAUGOBM4AwEBAQI4EzcLCwwRHTEcDRETEw0JOAkUEBAUKSQpBwgGBQI2fHEt/JQCkC39QwYGBgsKCQYFAgEBAgUGCQoLBgYGA2wGBgYLCgkGBQIBAAACAAAAAAPzA0wAAwALAAA3IRMhAzMTITUhJyFSAuq4/QPrDrgCaf4uOv7dtAG9/kMB8Sh/AAAAAAEAAAAAAxcD9AAFAAATCQEXCQHpAcn+NzMB+/4FA8H+P/4/MwH0AfQAAAAAAQAAAAAD9AOAAAUAAAEnBwkBJwFZ52YBTQKbZwFM52b+sgKbZwAAAAIAAAAAA/QDngAIAA4AABMRMzUhFTMRJQUVCQE1AYzuAQnx/pL+BgH6Ae7+EgHT/o/09AFx84NwAVv+rnEBUQAAABIA3gABAAAAAAAAAAEAAAABAAAAAAABAAcAAQABAAAAAAACAAcACAABAAAAAAADAAcADwABAAAAAAAEAAcAFgABAAAAAAAFAAsAHQABAAAAAAAGAAcAKAABAAAAAAAKACwALwABAAAAAAALABIAWwADAAEECQAAAAIAbQADAAEECQABAA4AbwADAAEECQACAA4AfQADAAEECQADAA4AiwADAAEECQAEAA4AmQADAAEECQAFABYApwADAAEECQAGAA4AvQADAAEECQAKAFgAywADAAEECQALACQBIyBlLWJjb25zUmVndWxhcmUtYmNvbnNlLWJjb25zVmVyc2lvbiAxLjBlLWJjb25zRm9udCBnZW5lcmF0ZWQgdXNpbmcgU3luY2Z1c2lvbiBNZXRybyBTdHVkaW93d3cuc3luY2Z1c2lvbi5jb20AIABlAC0AYgBjAG8AbgBzAFIAZQBnAHUAbABhAHIAZQAtAGIAYwBvAG4AcwBlAC0AYgBjAG8AbgBzAFYAZQByAHMAaQBvAG4AIAAxAC4AMABlAC0AYgBjAG8AbgBzAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAHUAcwBpAG4AZwAgAFMAeQBuAGMAZgB1AHMAaQBvAG4AIABNAGUAdAByAG8AIABTAHQAdQBkAGkAbwB3AHcAdwAuAHMAeQBuAGMAZgB1AHMAaQBvAG4ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYBAgEDAQQBBQEGAQcAE2RvY3VtZW50LXNldHRpbmctd2YOZm9sZGVyLW9wZW4tMDERY2hldnJvbi1yaWdodF8wMy0KY2hlY2stbWFyawhob3VzZS0wNAAAAAA=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.e-bicons {
    font-family: 'e-bicons' !important;
    font-size: 14px;
}

.e-breadcrumb-chips .e-chip-list {
    padding: 0px;
}

.e-breadcrumb-chips .e-chip-list .e-chip {
    margin: 0px !important;
}

.e-breadcrumb-chips .e-breadcrumb-separator {
    font-size: 20px;
}

.e-arrow:before {
    font-weight: 800;
    font-size: 12px;
}

.e-arrow:before {
    content: "\e85f";
}

.bootstrap4 .e-arrow:before {
    content: "\e7ce";
}

.bootstrap5 .e-arrow:before,
.bootstrap5-dark .e-arrow:before,
.fluent .e-arrow:before,
.fluent-dark .e-arrow:before,
.tailwind .e-arrow:before,
.tailwind-dark .e-arrow:before {
    content: "\e7f9";
}

.e-folder:before {
    content: "\e704";
}

.e-file:before {
    content: "\e703";
}

.e-breadcrumb-chips ol,
.e-custom-breadcrumb ol {
    background-color: transparent !important;
}

.e-breadcrumb-chips .e-breadcrumb-item,
.e-breadcrumb-chips .e-breadcrumb-separator,
.e-custom-breadcrumb .e-breadcrumb-item,
.e-custom-breadcrumb .e-breadcrumb-separator {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.e-breadcrumb-chips .e-breadcrumb-item:not(:last-child):not(.e-breadcrumb-separator):active,
.e-breadcrumb-chips .e-breadcrumb-item:not(:last-child):not(.e-breadcrumb-separator):hover,
.e-custom-breadcrumb .e-breadcrumb-item:not(:last-child):not(.e-breadcrumb-separator):active,
.e-custom-breadcrumb .e-breadcrumb-item:not(:last-child):not(.e-breadcrumb-separator):hover {
    background-color: transparent;
}

.e-breadcrumb-chips .e-breadcrumb-item:last-child .e-chip {
    cursor: default;
}

.e-custom-breadcrumb .e-custom-separator {
    width: 5px;
    background-color: #fff;
}

.e-custom-breadcrumb li+li {
    padding-left: 0;
}

.e-custom-breadcrumb .e-custom-item {
    width: auto;
    height: 40px;
    position: relative;
    background: #938bf6;
    padding: 10px 12px 10px 30px;
    color: white;
    cursor: pointer;
}

.e-custom-breadcrumb .e-custom-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.bootstrap5\.3-dark .e-custom-breadcrumb .e-custom-item:after,
.highcontrast .e-custom-breadcrumb .e-custom-item:after,
.material-dark .e-custom-breadcrumb .e-custom-item:after,
.fabric-dark .e-custom-breadcrumb .e-custom-item:after,
.bootstrap-dark .e-custom-breadcrumb .e-custom-item:after,
.tailwind-dark .e-custom-breadcrumb .e-custom-item:after,
.fluent2-dark .e-custom-breadcrumb .e-custom-item:after,
.fluent2-highcontrast .e-custom-breadcrumb .e-custom-item:after {
    border-left: 20px solid black;
}

.e-custom-breadcrumb .e-custom-item:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #938bf6;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}

.e-custom-breadcrumb li:first-child .e-custom-item:after {
    border-left: 0;
}

.e-custom-breadcrumb li:first-child .e-custom-item {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px 12px;
}

.e-custom-breadcrumb .e-custom-item:hover,
.e-custom-breadcrumb .e-custom-item:active {
    background-color: #7b74ce;
}

.e-custom-breadcrumb .e-custom-item:hover::before,
.e-custom-breadcrumb .e-custom-item:active::before {
    border-left: 20px solid #7b74ce;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.e-custom-breadcrumb .e-custom-icon .e-frame {
    border-radius: 100%;
    background-color: #7dd284;
    border-color: #7dd284;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.e-custom-breadcrumb .e-custom-item .e-bc-label {
    vertical-align: top;
    padding-left: 10px;
    line-height: 1.5;
}

.e-custom-breadcrumb .e-custom-icon .e-frame::before {
    content: "\e707";
    font-size: 10px;
    vertical-align: text-bottom;
    margin-left: 4px
}

.e-custom-breadcrumb li:last-child .e-custom-icon .e-frame {
    background-color: #c9c5fb;
    border-color: #c9c5fb;
    color: #938bf6;
}

.e-custom-breadcrumb .e-breadcrumb-item,
.e-custom-breadcrumb .e-breadcrumb-separator {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.e-custom-breadcrumb .e-custom-icon {
    display: flex;
    align-items: center;
}

.tailwind .e-custom-breadcrumb .e-custom-icon {
    line-height: 1;
}

