/* custom code start*/
#api-control {
    width: 45%;
    margin: 30px auto;
    padding-top: 50px;
    text-align: center;
}

#api-control h4 {
    margin-bottom: 20px;
}

.e-bigger #api-control h4 {
    font-size: 20px;
}

.property-panel-content {
    padding: 0 10px 10px 0;
    overflow: auto;
}
/* custom code end*/