/* custom code start*/
#default-control {
    margin: 30px auto;
    padding-top: 50px;
    text-align: center;
}

#default-control .row {
    width: 100%;
}

#default-control h4 {
    margin-bottom: 20px;
}

.highcontrast #default-control h4 {
    color: rgba(255, 255, 255, 0.64);
}

.material-dark #default-control h4 {
    color: #fff;
}

.fabric-dark #default-control h4 {
    color: #fff;
}

.bootstrap-dark #default-control h4 {
    color: #fff;
}

.tailwind-dark #default-control h4 {
    color: #fff;
}

.fluent-dark #colorpicker-control h4 {
    color: #fff;
}

.e-bigger #default-control h4 {
    font-size: 20px;
}
/* custom code end*/