
.control-section {
    margin: 30px;
}

#control_wrapper #container {
    min-height: 300px;
}

.e-bigger #control_wrapper #container {
    min-height: 380px;
}

#description{
    clear: both;
}

.form-group .content-wrapper {
    float: left;
    padding: 0 10px;
}

.property-panel-content {
    padding: 0 10px 10px 0;
}

.culture .property-section{
    padding: 4% 4%;
}

.property-section{
    margin:0 auto;
}