.msg-variant-section .content-section {
    margin: 0 auto;
    max-width: 520px;
    padding-top: 10px;
}

.msg-variant-section .e-message {
    margin: 10px 0;
}
.msg-variant-section .content-wrapper {
    max-width: 1560px; 
    margin: 0 auto;
}