#defaulttoast .e-meeting::before {
  content: "\e705";
  font-size: 17px;
}
.bootstrap4 #defaulttoast .e-meeting::before {
  content: "\e763";
  font-size: 20px;
}
.tailwind #defaulttoast .e-meeting::before,
.tailwind-dark #defaulttoast .e-meeting::before,
.tailwind3 #defaulttoast .e-meeting::before,
.tailwind3-dark #defaulttoast .e-meeting::before,
.bootstrap5 #defaulttoast .e-meeting::before,
.bootstrap5-dark #defaulttoast .e-meeting::before {
  content: "\e7e9";
  font-size: 18px;
}
#toastBtnHide{
  margin-left: 10px;
}