    /* custom code start*/
   .toast-pos-section #toast_pos_property {
       height: 500px;
       border: none;
       margin: auto;
   }
   /* custom code end*/
   
   #toast_pos_property td {
       width: 50%;
   }
   
   .e-toast-icon.e-laura.e-icons {
       border-radius: 50%;
       background-image: url('/assets/toast/resource/laura.png');
       background-repeat: no-repeat;
       background-size: cover;
       height: 50px !important;
       width: 68px !important;
       background-size: 50px 50px;
       margin: 0;
   }
   
   @media (min-width: 740px) {
       #toast_pos_property {
           width: 450px;
       }
   }

   .bootstrap5 .e-toast-icon.e-laura.e-icons,
   .bootstrap5-dark .e-toast-icon.e-laura.e-icons,
   .bootstrap5.3 .e-toast-icon.e-laura.e-icons,
   .bootstrap5.3-dark .e-toast-icon.e-laura.e-icons {
       margin-top: 13px;
       margin-right: 14px;
   }

   .bootstrap5 #toastpos.e-toast-container .e-toast .e-toast-icon,
   .bootstrap5-dark #toastpos.e-toast-container .e-toast .e-toast-icon,
   .bootstrap5.3 #toastpos.e-toast-container .e-toast .e-toast-icon,
   .bootstrap5.3-dark #toastpos.e-toast-container .e-toast .e-toast-icon {
       position: relative;
   }

   .bootstrap5 #toastpos.e-toast-container .e-toast .e-toast-message,
   .bootstrap5-dark #toastpos.e-toast-container .e-toast .e-toast-message,
   .bootstrap5.3 #toastpos.e-toast-container .e-toast .e-toast-message,
   .bootstrap5.3-dark #toastpos.e-toast-container .e-toast .e-toast-message {
       padding-left: 10px;
   }

   .bootstrap5 #toastpos.e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child,
   .bootstrap5-dark #toastpos.e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child,
   .bootstrap5.3 #toastpos.e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child,
   .bootstrap5.3-dark #toastpos.e-toast-container .e-toast.e-toast-header-icon .e-toast-message .e-toast-title:first-child {
       padding-left: 12px;
   }