.upload-dialog {
    height: 550px !important;
}
.sample-container {
    margin: 10px 10px 10px 10px;
}

.fileupload {
    max-width: 500px;
    margin: auto;
}

#openBtn {
    position: absolute;
    top: 24px;
    left: 43%;
}

#dialog {
    top: 20px !important;
    max-height: 500px !important;
}

#uploadFileManager .e-file-drop, #uploadFileManager .e-css.e-btn {
    display: none;
}

.tailwind #openBtn,
.tailwind-dark #openBtn {
    top: 40px;
}

.bootstrap #openBtn,
.bootstrap-dark #openBtn {
    top: 30px;
}

.bootstrap5 #openBtn,
.bootstrap5-dark #openBtn {
    top: 26px;
}
