#control_wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}
.control-section {
    margin: 25px auto;
}
.content {
    width:60% !important;
}
.property-panel-header{
    padding-top: 0 !important;
}