#custom-control {
    margin: auto 0;
    text-align: center;
}

#custom-control #e-shirt-preview {
    background: transparent url('./src/color-picker/images/shirt.png') no-repeat;
    height: 320px;
    margin: 20px auto;
    display: inline-block;
    width: 400px;
    background-color: rgb(244, 67, 54);
}

#custom-control.e-mobile-control #e-shirt-preview {
    margin-left: -21%;
    width: 320px;
}

.highcontrast #custom-control #e-shirt-preview {
    background: transparent url('./src/color-picker/images/shirt_highcontrast.png') no-repeat;
    background-color: rgb(244, 67, 54);
}

#custom-control .col-lg-6 {
    margin-bottom: 20px;
}

#custom-control .col-lg-6.e-circle-wrap {
    width: 26%;
}

#custom-control .col-lg-6.e-square-wrap {
    margin-top: 37px;
    width: 22%;
}

#custom-control .col-lg-6.e-rounded-wrap {
    margin-top: 35px;
    width: 20%;
}

#custom-control .col-lg-6.e-scroll-wrap {
    width: 32%;
}

#custom-control.e-mobile-control .col-lg-6 {
    width: 55%;
}

@media only screen and (min-width: 768px) {
    #custom-control.e-mobile-control .col-sm-12 {
        width: 25%;
    }
}

#custom-control.e-mobile-control #custom-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#custom-control.e-mobile-control #custom-content .col-xs-12 {
    flex: 0 0 auto;
}

#custom-control h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.64);
}

.e-bigger #custom-control h4 {
    font-size: 20px;
}

.e-container .e-palette .e-circle-palette {
    border: 0;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    margin: 4px;
}

.e-bigger .e-container .e-palette .e-circle-palette {
    height: 32px;
    width: 32px;
}

.e-container .e-palette .e-circle-palette:hover {
    box-shadow: none;
    transform: scale(1.2);
    transition: transform .2s ease-out;
}

.e-circle-palette .e-circle-selection {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    display: inline-block;
    transform: scale(0);
    transition: transform 1.2s ease-in;
}

.e-circle-palette.e-selected .e-circle-selection {
    transform: scale(0.8);
    background-color: #fff;
    transition: transform .2s ease-out;
}

#circle-palette+.e-container,
#scroll-palette+.e-container {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

#scroll-palette+.e-container .e-custom-palette.e-palette-group,
.e-bigger #scroll-palette+.e-container .e-custom-palette.e-palette-group {
    height: 125px;
}

.e-container .e-palette .e-scroll-palette {
    border: 0;
    color: #fff;
    line-height: 24px;
    font-size: 16px;
    height: 24px;
    width: 35px;
    margin-top: 2px;
    margin-left: 10px;
}

.e-bigger .e-container .e-palette .e-scroll-palette {
    height: 24px;
    width: 35px;
}

.e-container .e-palette .e-scroll-palette.e-selected::before {
    content: '\e933';
}

.highcontrast .e-container .e-palette {
    border-bottom-color: transparent;
}

#square-palette+.e-container .e-custom-palette .e-palette,
#rounded-palette+.e-container .e-custom-palette .e-palette {
    padding: 5px;
}

.e-container .e-palette .e-square-palette,
.e-bigger .e-container .e-palette .e-square-palette {
    width: 20px;
    height: 20px;
}

.e-container .e-palette .e-rounded-palette {
    border-radius: 4px;
    margin: 3px;
    height: 16px;
    width: 16px;
}

.e-bigger .e-container .e-palette .e-rounded-palette {
    height: 16px;
    width: 16px;
}

.e-container .e-palette .e-rounded-palette:hover,
.e-container .e-palette .e-scroll-palette:hover {
    box-shadow: none;
}

.e-container .e-palette .e-circle-palette.e-selected,
.e-container .e-palette .e-rounded-palette.e-selected,
.e-container .e-palette .e-square-palette.e-selected,
.e-container .e-palette .e-scroll-palette.e-selected {
    outline: none;
}
