#inline-control {
    width: 100%;
    text-align: center;
}

#inline-control .col-xs-12 {
    margin: 10px 0;
}

#inline-control #preview {
    background: transparent url('./src/color-picker/images/pen.png') no-repeat;
    display: inline-block;
    height: 80px;
    margin: 10px 0;
    width: 600px;
    background-color: #008000;
}

#inline-control.e-mobile-control #preview {
    background: transparent url('./src/color-picker/images/pen_mobile.png') no-repeat;
    background-color: #008000;
    height: 35px;
    width: 300px;
}

.highcontrast #inline-control #preview {
    background: transparent url('./src/color-picker/images/pen_highcontrast.png') no-repeat;
    background-color: #008000;
}

.highcontrast #inline-control.e-mobile-control #preview {
    background: transparent url('./src/color-picker/images/pen_mobile_highcontrast.png') no-repeat;
    background-color: #008000;
}

#inline-control h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.64);
}

.highcontrast #inline-control h4 {
    color: #fff;
}

.e-bigger #inline-control h4 {
    font-size: 20px;
}

#inline-control.e-mobile-control h4 {
    margin-bottom: 15px;
}

#inline-control.e-mobile-control #inline-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#inline-control.e-mobile-control #inline-content .col-xs-12 {
    flex: 0 0 auto;
    margin-top: 5px;
}