.sb-mobile-prop-pane #all-option-table #desktop-checkbox-row-1,
    .sb-mobile-prop-pane #all-option-table #desktop-checkbox-row-2 {
        display: none;

    }

    .sb-mobile-prop-pane #all-option-table #mobie-checkbox-row-1,
    .sb-mobile-prop-pane #all-option-table #mobile-checkbox-row-2,
    .sb-mobile-prop-pane #all-option-table #mobile-checkbox-row-3,
    .sb-mobile-prop-pane #all-option-table #mobile-checkbox-row-4 {
        display: table-row;

    }

    #all-option-table #mobie-checkbox-row-1,
    #all-option-table #mobile-checkbox-row-2,
    #all-option-table #mobile-checkbox-row-3,
    #all-option-table #mobile-checkbox-row-4 {
        display: none;

    }

    #all-option-table.property-section table#property tr {
        height: 50px;
    }

    #all-option-sample .e-slider-container.e-horizontal {
        margin-top: 160px;
    }

    #all-option-sample .e-slider-container.e-vertical {
        margin-left: 40%;
    }

    #all-option-sample.content-wrapper {
        height: 463px;
        width: 50%;
        margin: 0 auto;
        min-width: 185px;
    }

    .api.sliderwrap {
        height: 340px;
    }

    .e-bigger .content-wrapper {
        width: 50%;
    }

    .api.sliderwrap label {
        padding-bottom: 26px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
        text-align: left;
        width: 100%;
    }

    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
    }