.control_wrapper {
        max-width: 320px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
}
.e-treeview .e-list-text {
        width: 100%;
}
.treeCount.e-badge {
        padding: 0.4em;
        vertical-align: text-bottom;
}
.bootstrap5.e-bigger .treeCount.e-badge,
.bootstrap5-dark.e-bigger .treeCount.e-badge,
.tailwind.e-bigger .treeCount.e-badge,
.tailwind-dark.e-bigger .treeCount.e-badge {
        line-height: 10px;
}
.bootstrap4 .treeviewdiv .treeCount.e-badge,
.bootstrap5 .treeviewdiv .treeCount.e-badge,
.bootstrap5-dark .treeviewdiv .treeCount.e-badge,
.bootstrap5\.3 .treeviewdiv .treeCount.e-badge,
.bootstrap5\.3-dark .treeviewdiv .treeCount.e-badge,
.bootstrap .treeviewdiv .treeCount.e-badge,
.bootstrap-dark .treeviewdiv .treeCount.e-badge,
.highcontrast .treeviewdiv .treeCount.e-badge {
        background-color: #008800;
}
.highcontrast .treeviewdiv .treeCount.e-badge {
        color: white;
}
.material .treeCount.e-badge {
        vertical-align: middle;
}
.nodetext {
        float: left;
}
.e-rtl .nodetext {
        float: right;
}
.nodebadge {
        float: right;
        margin-right: 5px
}
.e-rtl .nodebadge {
        float: left;
        margin-left: 5px
}
.e-treeview.e-interaction.e-fullrow-wrap .e-text-content {
        pointer-events: none;
}