.schedule-context-menu .e-menu-item .new::before {
  content: '\e7f9';
}
  
.schedule-context-menu .e-menu-item .edit::before {
  content: '\ea9a';
}
  
.schedule-context-menu .e-menu-item .recurrence::before {
  content: '\e308';
  font-weight: bold;
}
  
.schedule-context-menu .e-menu-item .today::before {
  content: '\e322';
}
  
.schedule-context-menu .e-menu-item .delete::before {
  content: '\e94a';
}

.e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 14px;
}

.schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 12px;
}
