.overview-blockeditor {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .overview-blockeditor table {
        width: 100%;
        table-layout: fixed;
        overflow-x: auto;
    }
}

.overview-blockeditor .e-blockeditor {
    min-height: 400px;
}
