.e-btngrp-watch::before {
    content: '\e7cb';
}

.e-btngrp-star::before {
    content: '\e81a';
}

.e-btngrp-download::before {
    content: '\e752';
}

.e-btngrp-bold::before {
    content: '\e73b'
}

.e-btngrp-italic::before {
    content: '\e709';
}

.e-btngrp-underline::before {
    content: '\e70b';
}

.button-group-section {
    width: 320px;
    margin: 0 auto;
    margin-top: 1.7%;
    margin-bottom: 1.7%;
}

.e-bigger .button-group-section {
    width: 350px;
}

.button-group-section .row {
    margin: 0 0 30px 0;
}

.button-group-section .row:last-child {
    margin-bottom: 0;
}

.button-group-section .row .p:first-child {
    margin-top: 0;
}

@media only screen and (max-width: 500px) {
    .button-group-section {        
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .button-group-container {
        overflow-y: scroll;
    }
}
