#button-control {
        width: 100%;
        margin: 8% 0;
        text-align: center;
}
    
    @media only screen and (max-width: 500px) {
        #button-control {
            margin-left: -3%;
        }
    }
    
    .button-section {
        width: 80%;
        margin: auto;
    }
    
    #button-control .col-xs-12 {
        margin: 15px 0;
    }
    
    .e-play-icon::before {
        content: '\e798';
    }
    
    .e-pause-icon::before {
        content: '\e753';
    }
    
    .e-open-icon::before {
        content: '\e782';
    }

    .e-add-icon::before {
        content: '\e823';
    }