    #progress-button-control {
        width: 100%;
        margin: 8% 0;
        text-align: center;
    }

    @media only screen and (max-width: 500px) {
        #progress-button-control {
            margin-left: -11%;
        }
    }

    .progress-button-section {
        width: 80%;
        margin: auto;
    }

    #progress-button-control .col-xs-12 {
        margin: 18px 0;
    }

    #contract.e-progress-active .e-btn-content {
        display: none;
    }

    #zoomin {
        outline: none;
    }

    .e-btn.e-small.e-round .e-btn-icon.e-play-icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='#fff' d='M6 0l36 24L6 48z'/%3E%3C/svg%3E") no-repeat;
        width: 12px;
        height: 12px;
    }

    .e-bigger .e-btn.e-small.e-round .e-btn-icon.e-play-icon {
        width: 14px;
        height: 14px;
    }

    .e-round.e-progress-btn .e-btn-content {
        display: inline-flex;
        height: 100%;
        align-items: center;
    }

    .e-btn .e-btn-icon.e-icon-left.e-download-icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='#000' d='M13 35H35v2H12.999zm9.999-24h2v20.457l7.8-7.257 1.4 1.601-10 9.2-9.8-9.2 1.2-1.6 7.4 6.883z'/%3E%3C/svg%3E") no-repeat;
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    .e-bigger .e-btn .e-btn-icon.e-icon-left.e-download-icon {
        width: 19px;
        height: 19px;
    }

    .highcontrast .e-btn .e-btn-icon.e-icon-left.e-download-icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='#fff' d='M13 35H35v2H12.999zm9.999-24h2v20.457l7.8-7.257 1.4 1.601-10 9.2-9.8-9.2 1.2-1.6 7.4 6.883z'/%3E%3C/svg%3E") no-repeat;
    }