/* custom code start*/
#magnificationToolbar {
    background: transparent;
    height: auto;
    min-height: 56px;
    width: 200px;
    border: none;
    position: absolute;
    z-index: 1001;
    bottom: 58px;
    right: 16px;
    transform: rotate(90deg);
}

.e-pv-fit-page-icon::before {
    content: '\e91b';
    font-family: "e-icons";
}

#magnificationToolbar.e-toolbar .e-toolbar-items {
    background: transparent;
}

#magnificationToolbar.e-toolbar .e-tbar-btn {
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid #c8c8c8;
}

#topToolbar {
    top: 0px;
    z-index: 1001;
}

.e-tbar-section .e-sample-resize-container {
    height: 46px;
}

.e-bookmark-popup {
    height: 200px;
    max-width: 250px;
}

.e-text-search-popup {
    height: 104px;
    max-width: 348px;
}

.e-custom-search-input {
    width: 234px;
}

.e-text-search-popup .e-footer-content, .e-bookmark-popup .e-footer-content {
    padding: 0;
    height: 0;
}

.search-button, .search-button:disabled, .search-button:focus, .search-button:hover  {
    background: transparent;
    box-shadow: none;
}

#popup .e-dlg-content {
    padding-left: 0;
    padding-bottom: 0;
}

.e-pv-bookmarks {
    min-width: 234px;
}

.e-pv-current-page-number {
    width: 46px;
    height: 28px;
    text-align: center;
}

.material .e-pv-current-page-number {
    border-width: 1px;
}
.e-pv-zoom-out-sample {    
    transform: rotate(90deg);
    padding-right: 2px;
}
.customtoolbar.e-toolbar {
 background-color: #3f51b5;
width: 50px;
}
.customtoolbar.e-toolbar .e-toolbar-items{
    background-color: #3f51b5;
    height: 40px;  
    display: flex;
    flex-wrap: wrap;
    
}
.e-pv-icon-search::before {
    font-size: 12px;
}
.e-pv-search-input.e-input-group .e-input-search-group-icon.e-input-group-icon {
    background: rgba(0,0,0,0);
}

/* custom code end*/

/* style for slider button*/

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.render-mode-info {
    background: none;
    border: none;
    padding-left: 0px;
}

.render-mode-info .render-mode-info-icon {
    height: 16px;
    width: 16px;
}

.switchLabel {
    font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif;        
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-align: right;
    font-size: 14px;
}

.render-mode-info .render-mode-info-icon::before {
    line-height: 0.5rem;
}

.buttonSwitch {
    Width: 40px;
    Height: 24px;
}

.pdfviewer-property-section{
    padding: 20px 15px;
}

.pdfviewer-contextmenu-checkbox-label{
    padding: 10px;
}

.pdfviewer-control-section {
    border-right: 1px solid #D7D7D7;
}

.pdfviewer-property-container{
    padding-bottom: 30px;
}

.header-pdfviewer {
    font-weight: 600;
    padding: 20px 2px;
}
/*redaction style*/
#e-pv-redact-sb-panel.control-section .e-appbar {
    height: 36px;
    font-size: 14px !important;
}

#e-pv-redact-sb-toolbar.e-toolbar .e-toolbar-item .e-tbar-btn {
    flex-direction: column;
}  
#e-pv-redact-sb-toolbar.e-toolbar .e-toolbar-item .e-tbar-btn .e-icons.e-btn-icon 
{
    font-size: 18px;
}
#e-pv-redact-sb-toolbar
{
    padding: 0 9px;
}
#e-pv-redact-sb-toolbar .e-toolbar-items
{
    gap: 5px;
}

#e-pv-redact-sb-toolbar .e-toolbar-item.e-separator
{
    height: 48px !important;
}
#e-pv-redact-sb-toolbar , .e-toolbar
{
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

#e-pv-redact-sb-toolbar-secondary .e-toolbar
{
    border-top-width: 1px !important;
    border: 0 solid var(--color-sf-border-light);
    --color-sf-border-light: #e0e0e0;
}

#e-pv-redact-sb-currentPage
{
    font-size: 12px;
}
#e-pv-redact-sb-totalPage 
{
    font-weight: 400;
} 

.e-pv-redact-sb-black-out-container .black-out {
    background-color: black;
    width: 18px !important;
    height: 18px !important;
    border: 1px solid white;
    border-radius: 3px;
    margin:4px !important;
    }
.e-pv-redact-sb-white-out-container .white-out {
    background-color: white;
    width: 18px !important;
    height: 18px !important;
    border: 1px solid black;
    border-radius: 3px;
    margin:4px !important;
}
.e-bigger .e-pv-redact-sb-black-out-container .black-out,
    .e-bigger .e-pv-redact-sb-white-out-container.white-out {
        position: relative;
        top: -4px;
}
.e-bigger .e-toolbar .e-toolbar-item.e-pv-redact-sb-black-out-container .e-tbar-btn.e-btn,
    .e-bigger .e-toolbar .e-toolbar-item.e-pv-redact-sb-white-out-container .e-tbar-btn.e-btn {
        padding-top : 5px !important;
}
.e-bigger .e-pv-redact-sb-black-out-container .e-tbar-btn .e-tbar-btn-text,
     .e-bigger .e-pv-redact-sb-white-out-container .e-tbar-btn .e-tbar-btn-text{
         padding: 2px 4px 7px 4px !important;
}
/*upload image*/
#e-pv-redact-sb-dialog.e-dialog #e-pv-redact-sb-defaultfileupload.e-upload-files {
        border: none !important;
    }
#e-pv-redact-sb-panel.control-section #file-uploader
{
    display: flex;
    border: 1px dashed #c8c6c4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-radius: 6px;
}
#e-pv-redact-sb-dialog.e-dialog .e-dlg-header-content
{
    border-bottom:1px solid #C4C7C5 !important;
    padding: 15px !important;
}

#e-pv-redact-sb-dialog.e-dialog .e-footer-content
{
    border-top:1px solid #C4C7C5 !important;
    padding: 10px !important;
}

#e-pv-redact-sb-dialog.e-dialog .e-dlg-header-content+.e-dlg-content
{
    padding: 20px !important;
}

#e-pv-redact-sb-panel.control-section .e-file-select-wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#e-pv-redact-sb-dialog.e-dialog .e-footer-content .e-btn
{
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #242424;
}

#e-pv-redact-sb-drop-area-wrap .e-upload-file-list {
    display: none;
}
#e-pv-redact-sb-defaultfileupload .e-upload-files {
    border: none !important;
}
.e-pv-redact-sb-image-source {
    width: 70px;
    height: 70px;
}
.e-pv-redact-sb-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    gap: 5px;
    border-radius: 4px;
    position: relative;
}

.e-pv-redact-sb-image-list {
    display: flex;
    justify-content: center;
    padding: 24px 15px;
    gap: 35px;
}

.e-pv-redact-sb-image-container-selected {
    border: 1px solid #757575 !important;
}

#e-pv-redact-sb-drop-area-wrap {
    display: flex;
    border: 1px dashed #c8c6c4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-radius: 6px;
}

#e-pv-redact-sb-defaultfileupload .e-upload {
    border: none;
    margin-top: 10px;
    width: 100%;
    height:100%;
}

#e-pv-redact-sb-panel .e-dlg-container
{
    --color-sf-overlay-bg-color: none !important;
}

.e-icons.e-redaction:before
{
  content:"\e740";
}

#e-pv-redact-sb-defaultfileupload .e-file-drop
{
    position: relative;
    left: 9rem;
    bottom: 17px;
    color: #616161;
}

#e-pv-redact-sb-panel.control-section .e-dlg-overlay
{
    background: none;
    backdrop-filter: blur(2px) !important;
}

#e-pv-redact-sb-dialog
{
    top: -152px;
}

#e-pv-redact-sb-panel .control-section
{
    min-height: 0px !important;
}

#e-pv-redact-sb-toolbar-secondary .e-input-group {
    border: none !important;
}

#e-pv-redact-sb-toolbar #e-pv-redact-sb-toolbar_popup
{
    max-height: 500px !important;
}

#e-pv-redact-sb-toolbar #e-pv-redact-sb-toolbar_popup .e-toolbar-item
{
    min-height: 70px !important;
}

#e-pv-redact-sb-toolbar-secondary .e-toolbar-items .e-template 
{
    min-width: 0px !important;
}

#e-pv-redact-sb-dialog
{
    max-height: 600px !important;
}