<div class="col-lg-12 control-section">
    <div class="content-wrapper">
            <div class="main">
                <div class="db-toolbar-editor">
                    <div id="aiMindMap" class="menu-control">
                        <ejs-menu #menu id="menu" [items]="menuItems" (select)="menuClick($event)">
                        </ejs-menu>
                    </div>
                    <div class="db-toolbar-container">
                        <ejs-toolbar #toolbarObj id="toolbarEditor" (clicked)="toolbarClick($event)" width="100%" height="46">
                            <e-items>
                                <e-item prefixIcon="sf-icon-undo" tooltipText="Undo" [disabled]="true"></e-item>
                                <e-item prefixIcon="sf-icon-redo" tooltipText="Redo" [disabled]="true"></e-item>
                                <e-item type="Separator"></e-item>
                                <e-item prefixIcon="sf-icon-pointer tb-icons" tooltipText="Select Tool"
                                    cssClass="tb-item-selected"></e-item>
                                <e-item prefixIcon="sf-icon-pan tb-icons" tooltipText="Pan Tool"></e-item>
                                <e-item type="Separator"></e-item>
                                <e-item prefixIcon="sf-icon-add-child" tooltipText="Add Child" [disabled]="true"></e-item>
                                <e-item prefixIcon="sf-icon-add-sibling" tooltipText="Add Sibling" [disabled]="true"></e-item>
                                <e-item type="Separator"></e-item>
                                <e-item cssClass="tb-item-end tb-zoom-dropdown-btn" align="Right">
                                    <ng-template #template>
                                        <button ejs-dropdownbutton id="btnZoomIncrement" [items]="zoomMenuItems"
                                            [content]="zoomContent" (select)="zoomChange($event)">
                                        </button>
                                    </ng-template>
                                </e-item>
                            </e-items>
                        </ejs-toolbar>
                    </div>
                </div>
                <div class="diagram-upload-file">
                    <ejs-uploader id="fileupload" name="UploadFiles" [asyncSettings]="asyncSettings"
                        (success)="onUploadSuccess($event)" [showFileList]="false">
                    </ejs-uploader>
                </div>
                <div id="shortcutDiv" style="
                        width: 400px;
                        height: 480px;
                        padding: 10px;
                        background-color: #fff7b5;
                        border: 1px solid #fff7b5;
                        position: absolute;
                        margin: 27px;
                        font-size: 14px;;
                        visibility: hidden;
                        z-index: 1000;
                      ">
                    <div id="closeIconDiv" style="
                          float: right;
                          width: 16px;
                          height: 16px;
                          border: 1px solid #fff7b5;
                        " (click)="onHideNodeClick()">
                        <span class="sf-icon-close" style="font-size: 14px; cursor: pointer"></span>
                    </div>
                    <div><span class="db-html-font-medium">Quick shortcuts</span></div>
                    <div style="padding-top: 10px">
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Tab : </span><span class="db-html-font-normal">Add a subtopic to the
                                    left</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Shift + Tab : </span><span class="db-html-font-normal">Add a subtopic
                                    to the right</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Enter : </span><span class="db-html-font-normal">Add a new sibling
                                    child</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Delete / Backspace : </span><span class="db-html-font-normal">Delete a
                                    topic</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Arrow(Up, Down, Left, Right) : </span><span
                                    class="db-html-font-normal">Navigate between topics</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">F2 : </span><span class="db-html-font-normal">Edit a topic</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Esc : </span><span class="db-html-font-normal">End text editing</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Ctrl + B : </span><span class="db-html-font-normal">To make text
                                    bold</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Ctrl + I : </span><span class="db-html-font-normal">To make text
                                    Italic </span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Ctrl + U : </span><span class="db-html-font-normal">Underline the
                                    text</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Space : </span><span class="db-html-font-normal">Expand / Collapse the
                                    selected node</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">Ctrl + E :</span><span class="db-html-font-normal">Expand / Collapse
                                    the whole diagram</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">F8 : </span><span class="db-html-font-normal">To Fit the diagram into
                                    the viewport</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <span class="db-html-font-medium">F1 : </span><span class="db-html-font-normal">Show/Hide shortcut
                                    Key</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="margin-top: 5px; margin-left: 5px; margin-right: 5px; border: 1px solid #b0b0b0;">
                    <ejs-diagram #diagram id="diagram" width="100%" height="900px" [tool]="diagramToolDefaults"
                        (selectionChange)="selectionChange($event)" (historyChange)="historyChange()"
                        (scrollChange)="onScrollChange($event)" (onUserHandleMouseDown)="onUserHandleMouseDown($event)"
                        [snapSettings]="{ horizontalGridlines: gridlines, verticalGridlines: gridlines }"
                        [scrollSettings]="{ scrollLimit: 'Infinity' }" [layout]="layout" [selectedItems]="selectedItems" [dataSourceSettings]="{
                id: 'id',
                parentId: 'parentId',
                dataSource: items,
                root: '1'
              }" [rulerSettings]="{ showRulers: true }" [getNodeDefaults]="getNodeDefaults"
                        [getConnectorDefaults]="getConnectorDefaults" (dragEnter)="dragEnter($event)">
                    </ejs-diagram>
                </div>

            </div>
            <div id='container'>
                <ejs-dialog #dialog id="dialog"
                    header='<span class="e-icons e-aiassist-chat" style="color: black; width:20px; font-size: 16px;"></span> AI Assist'
                    [showCloseIcon]="true" [isModal]="true" target='#container' width="540px" height="310px" [visible]="false">
                    <p style="margin-bottom: 10px; font-weight: bold;">Suggested Prompts</p>

                    <button ejs-button id="btn2"
                        (click)="onBtnClick('Mindmap for top tourist places in the world')"
                        style="flex: 1; overflow: visible; border-radius: 8px; margin-bottom: 10px">
                        Mindmap for top tourist places in the world
                    </button>

                    <button ejs-button id="btn1"
                        (click)="onBtnClick('Mindmap for categories of topics in science')"
                        style="flex: 1; overflow: visible; border-radius: 8px; margin-bottom: 10px">
                        Mindmap for categories of topics in science
                    </button>

                    <button ejs-button id="btn3"
                        (click)="onBtnClick('Mindmap for different components in syncfusion')"
                        style="flex: 1; overflow: visible; border-radius: 8px; margin-bottom: 10px">
                        Mindmap for different components in syncfusion
                    </button>

                    <div style="display: flex; align-items: center; margin-top: 20px;">
                        <ejs-textbox #textBox id="textBox" placeholder="Please enter your prompt here..." style="flex: 1;"
                            (input)="onTextBoxChange($event)"></ejs-textbox>

                        <button #dbSend ejs-button id="dbSend" (click)="onSendClick()" iconCss='e-icons e-send' cssClass="e-primary"
                            style="margin-left: 5px; height: 32px; width: 32px; padding-top: 4px;padding-left: 6px;"></button>
                    </div>
                </ejs-dialog>

            </div>
            <button ejs-fab id="ai-assist" position='BottomRight' iconCss="e-icons e-assistview-icon" (click)="showDialog()"
                target="#diagram">AI Assist</button>
            <div id="loadingContainer" class="loading-container">
                <div class="loading-indicator"></div>
                <div class="loading-text">Generating Mindmap...</div>
            </div>
    </div>
    <div id="action-description">
        <p>This demo sample showcases the creation of a dynamic mindmap diagram using the Angular Diagram component with
            the assistance of AI. The AI-powered diagram features nodes and connectors arranged in a mindmap layout, designed to
            visually organize and represent ideas and concepts. This sample is ideal for brainstorming, organizing thoughts,
            and visually mapping out complex information. The context menu allows for quick actions such as adding, editing,
            or deleting nodes, making it a powerful tool for interactively managing and expanding mindmaps.
        </p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
            href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/' aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
            repository</a>.</p>
    </div>
    <div id="description">
        <p>
            This sample leverages a specialized AI prompt, allowing users to generate the content of the diagram by
            submitting a prompt to OpenAI. The AI's response is parsed and transformed into nodes and connectors, visually
            representing the generated ideas or concepts in a mindmap format. Users can also manually add child nodes using
            user handles to further expand and customize the mindmap, creating an interactive and personalized experience.
        </p>
    </div>
     <app-ai-toast></app-ai-toast>
</div>