<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <img src='./assets/ai-diagram/text-to-flowchart.gif' width='100%' height='100%' alt="Showcase Diagram Gif" />
    </div>
    <div id="action-description">
        <p>
            This demo illustrates the creation of a flowchart diagram using the Angular Diagram component with the
            assistance
            of AI. The AI-powered flowchart is structured with nodes and connectors arranged in a flowchart layout,
            designed
            to visually represent processes and workflows. This sample is particularly effective for visualizing
            step-by-step procedures, workflows, and decision-making paths in a clear and interactive manner.
        </p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
                href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/'
                aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
                repository</a>.</p>
    </div>
    <div id="description">
        <p>
            This sample leverages a specialized AI prompt to create a dynamic flowchart diagram by submitting a request
            to
            OpenAI. The AI-generated response is parsed to produce nodes and connectors arranged in a flowchart layout,
            visually representing the defined processes or workflows. Users can generate and visualize the flowchart
            content
            based on their input prompt, creating an interactive and organized depiction of processes and
            decision-making
            paths.
        </p>
    </div>
</div>