.control-section {
  overflow: auto;
}

/* Media Quries for various devices */

@media only screen and (max-width: 965px) {
  .sample_container.avatar-default {
    max-width: 332px;
    margin: auto;
    margin-top: 0;
  }
  .circleAvatar {
    margin-top: 15px;
  }
  .e-avatar-showcase.e-card {
    width: 300px;
  }
}

@media only screen and (min-width: 965px) {
  .sample_container.avatar-default {
    max-width: 825px;
    margin: auto;
    margin-top: 70px;
  }
  .e-avatar-showcase.e-card {
    width: 400px;
  }
}

.sample_container.avatar-default .avatar-block {
  display: inline-block;
  vertical-align: top;
}

/* Assinging image for avatar in 'background-image' property */

.e-avatar.image {
  background-image: url(./src/avatar/images/pic01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Card Customization */

.e-avatar-showcase.e-card {
  height: 140px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.e-avatar-showcase.e-card .e-card-header .e-card-header-title {
  align-self: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: #eaeaea 1px 1px 2px;
}

.e-avatar-showcase.e-card .e-card-header .e-card-sub-title {
  color: rgba(0, 0, 0, 0.75);
  white-space: pre-line;
  font-size: 14px;
  text-shadow: #eaeaea 1px 1px 2px;
}

.e-avatar-showcase.e-card .e-card-header .e-card-sub-title p {
  margin: 0;
}

.e-avatar-showcase.e-card .e-card-content {
  align-self: center;
  padding: 10px 0 10px 0;
  overflow: visible;
}
