.control-section {
  overflow: auto;
}

/* Listview Customization */

#letterAvatarList {
  max-width: 350px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#letterAvatarList .listWrapper {
  width: inherit;
  height: inherit;
  position: relative;
}

#letterAvatarList .e-list-header {
  height: 54px;
}

.material #letterAvatarList .e-list-header .e-text {
  line-height: 22px;
}

.fabric #letterAvatarList .e-list-header .e-text {
  line-height: 22px;
}

.bootstrap #letterAvatarList .e-list-header .e-text {
  line-height: 13px;
}

.highcontrast #letterAvatarList .e-list-header .e-text {
  line-height: 20px;
}

#letterAvatarList .e-list-item {
  cursor: pointer;
  height: 50px;
  line-height: 44px;
  border: 0;
}

/* Badge Positioning */

#letterAvatarList .e-badge {
  margin-top: 12px;
}

#letterAvatarList .listWrapper .list-text {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px;
}

/* Avatar Positioning */

#letterAvatarList .listWrapper .e-avatar {
  position: absolute;
  top: calc(100% - 40px);
  font-size: 10px;
  left: 5px;
}

/* Avatar Background Customization */

#letterAvatarList .blue {
    background-color: #039BE5;
}

#letterAvatarList .red {
    background-color: #E91E63;
}

#letterAvatarList .green {
    background-color: #009688;
}

/* Avatar images using 'background-image' property */

.pic01 {
  background-image: url('./src/avatar/images/pic01.png');
}

.pic02 {
  background-image: url('./src/avatar/images/pic02.png');
}

.pic03 {
  background-image: url('./src/avatar/images/pic03.png');
}

.pic04 {
  background-image: url('./src/avatar/images/pic04.png');
}
