#listview-scrolling {
  margin: auto;
  max-width: 800px;
}

#listview-scrolling.e-listview.e-list-template .e-list-wrapper.e-list-multi-line.e-list-avatar .e-avatar {
  background: transparent;
  width: 85px;
  height: 85px;
  top: 50%;
  transform: translateY(-50%);
}

.displayText {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bootstrap5 #listview-scrolling .rating-content .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon,
.bootstrap5-dark #listview-scrolling .rating-content .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon,
.bootstrap5\.3  #listview-scrolling .rating-content .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon,
.bootstrap5\.3-dark #listview-scrolling .rating-content .e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon {
    background: darkblue;
    background-clip: text;
}
