   .toast-pos-section #toast_pos_property {
        height: 500px;
        border: none;
        margin: auto;
    }

    #toast_pos_property td {
        width: 50%;
    }

    body > ejs-toast {
        z-index: 100000 !important;
      }

    .e-toast-icon.e-laura.e-icons {
        border-radius: 50%;
        background-image: url('./src/toast/resource/laura.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 50px !important;
        width: 100px !important;
        background-size: 50px 50px;
        margin: 0;
    }


    @media (min-width: 740px) {
        #toast_pos_property {
            width: 450px;
        }
    }