    .e-treeview .e-list-img {
        width: 25px;
        height: 25px;
    }
    .e-treeview .e-list-icon {
        background-repeat: no-repeat;
        background-image: url('src/images/icons/file_icons.png');
        height: 20px;
    }
    .e-treeview .e-list-icon.folder { background-position: -10px -552px }
    .e-treeview .e-list-icon.docx { background-position: -10px -20px }
    .e-treeview .e-list-icon.ppt { background-position: -10px -48px }
    .e-treeview .e-list-icon.pdf { background-position: -10px -104px }
    .e-treeview .e-list-icon.images { background-position: -10px -132px }
    .e-treeview .e-list-icon.zip { background-position: -10px -188px }
    .e-treeview .e-list-icon.audio { background-position: -10px -244px }
    .e-treeview .e-list-icon.video { background-position: -10px -272px }
    .e-treeview .e-list-icon.exe { background-position: -10px -412px }