.control-wrapper {
    margin: 0 auto;
    width: 325px;
}

#employee {
    display: inline-block;
}

.e-control.e-dropdownlist .inlinecss.e-ddl .e-input-group-icon.e-ddl-icon {
    display: none;
}

.e-control.e-dropdownlist .inlinecss.e-ddl .e-input {
    font-size: 17px;
    font-weight: 500;
    margin: -8px 0px 0px 0px;
    padding: 0px;
}

.bootstrap .e-control.e-dropdownlist .inlinecss.e-ddl .e-input {
    margin: -2px 0px 0px 0px;
}

.material3 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.material3-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.material .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.material-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
    margin: 0px;
}

.tailwind .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.tailwind-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.tailwind3 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.tailwind3-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
    margin: -4px 0 0 0;
}

.bootstrap4 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.bootstrap-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
    margin: -4px 0 0 0;
}

.bootstrap5 .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.bootstrap5-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.fabric .inlinecss.e-ddl .e-control.e-dropdownlist.e-input,
.fabric-dark .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
    margin: -6px 0 0 0;
}

.e-bigger .inlinecss.e-ddl .e-control.e-dropdownlist.e-input {
    padding: 0px;
}  

#contentText .e-input-group.e-control-wrapper.e-ddl::before,
#contentText .e-input-group.e-control-wrapper.e-ddl::after {
    content: none;
}

#contentText .e-input-group.e-control-wrapper.e-ddl,
#contentText .e-input-group.e-control-wrapper.e-ddl:hover,
#contentText .e-input-group.e-ddl.e-input-focus,
#contentText .e-input-group.e-ddl.e-input-focus::before,
#contentText .e-input-group.e-ddl.e-input-focus::after {
    border-width: 0px;
    border: none;
    border-bottom: 1px dashed black;
    box-shadow: none;
    margin-top: 1px;
}
.highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl,
.highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.highcontrast #contentText .e-input-group.e-ddl.e-input-focus,
.highcontrast #contentText .e-input-group.e-ddl.e-input-focus::before,
.highcontrast #contentText .e-input-group.e-ddl.e-input-focus::after {
    border-bottom: 1px dashed #f0f0f0;
}
.material-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.material-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.material-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.material-dark #contentText .e-input-group.e-ddl.e-input-focus,
.material-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.material-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.material3-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.material3-dark #contentText .e-input-group.e-ddl.e-input-focus,
.material3-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.material3-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.fabric-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.fabric-dark #contentText .e-input-group.e-ddl.e-input-focus,
.fabric-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.fabric-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.bootstrap-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus,
.bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.bootstrap-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.bootstrap5-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus,
.bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.bootstrap5-dark #contentText .e-input-group.e-ddl.e-input-focus::after {
    border-bottom: 1px dashed #f0f0f0;
}
.tailwind-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.tailwind-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus,
.tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.tailwind-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.tailwind3-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.tailwind3-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.tailwind3-dark #contentText .e-input-group.e-ddl.e-input-focus,
.tailwind3-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.tailwind3-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.fluent-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.fluent-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.fluent-dark #contentText .e-input-group.e-ddl.e-input-focus,
.fluent-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.fluent-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.fluent2-dark #contentText .e-input-group.e-control-wrapper.e-ddl,
.fluent2-dark #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.fluent2-dark #contentText .e-input-group.e-ddl.e-input-focus,
.fluent2-dark #contentText .e-input-group.e-ddl.e-input-focus::before,
.fluent2-dark #contentText .e-input-group.e-ddl.e-input-focus::after,
.fluent2-highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl,
.fluent2-highcontrast #contentText .e-input-group.e-control-wrapper.e-ddl:hover,
.fluent2-highcontrast #contentText .e-input-group.e-ddl.e-input-focus,
.fluent2-highcontrast #contentText .e-input-group.e-ddl.e-input-focus::before,
.fluent2-highcontrast #contentText .e-input-group.e-ddl.e-input-focus::after {
    border-bottom: 1px dashed #f0f0f0;
}

