html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#pricing-slider #cloud-right-pane .btn-size {
    padding-top: 16px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

#pricing-slider .e-slider-container.e-horizontal {
    height: 56px;
}

#pricing-slider .row {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 4px;
    opacity: 100;

    border-radius: 4px;
}

.discount .e-label,
.discount .e-label {
    white-space: initial;
}

#pricing-slider .sub-heading {
    margin-top: -8px;
    font-size: 13px;
    color: #808080;
}

#pricing-slider .label-text.right-text {
    padding-top: 16px;
    padding-bottom: 20px;
}

#pricing-slider .label-text {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

span.e-label .offer {
    color: #4A90E2;
}

.cloud-slider {
    display: block;
    position: relative;
}


#processor {
    background-color: #A06AFF;
}

#memory {
    background-color: #7ED321;
}

#storage {
    background-color: #4A90E2;
}

#memory,
#storage,
#processor {
    font-size: 14px;
    height: 24px;
    width: 70px;
    text-align: center;
    line-height: 24px;
    float: right;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 18px;
}

#cloud-slider-text #value {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

#suffix {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.text {
    font-size: 13px;
    padding-top: 26px;
    width: 190px;
}

#cloud-right-pane {
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    padding: 20px;
    height: 443px;
}

.pricing-slider {
    margin-top: 40px;
    min-height: 20px;
    margin-bottom: 20px;
}

.cloud-slider-right {
    color: #000000;
    font-size: 14px;
}

.cloud-slider-right.discount-pay {
    padding-top: 20px;
}

#cloud-left-pane {
    height: 443px;
    padding: 40px;
    background-color: #FAFAFA;
}

.discount {
    padding-top: 20px;
    padding-bottom: 35px;
}

@media (max-width: 1010px) {
    #cloud-right-pane {
        border-top: 1px solid #d5d7d8 !important;
        border-left: none !important;
        border-width: 1px 0 0!important;
        padding-top: 15px !important;
        padding-left: 0!important;
    }
    .cloud-right-content {
        padding-left: 24px !important;
    }
    #cloud-left-pane {
        width: 100%;
    }
    #cloud-right-pane {
        width: 100%;
    }
}

#cloud-slider-text {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

#dollar {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -7px;
}


#btn {
    text-transform: uppercase;
    width: -webkit-fill-available;
}

.cloud-left-slider {
    margin-top: 40px;
}

.azure.control-section {
    padding-top: 0px;
    margin-left: 75px;
    overflow: hidden;
}

@media screen and (max-width: 1199px) {
    .azure.control-section {
        margin-left: 0px;
    }
}

.cloud-right-content .e-btn.e-info {
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: inherit;
    margin: 2px;
}

.highcontrast .pricing-slider,
.highcontrast #pricing-slider .label-text,
.highcontrast #pricing-slider .sub-heading,
.material-dark .pricing-slider,
.material-dark #pricing-slider .label-text,
.material-dark #pricing-slider .sub-heading,
.material3-dark .pricing-slider,
.material3-dark #pricing-slider .label-text,
.material3-dark #pricing-slider .sub-heading,
.fabric-dark .pricing-slider,
.fabric-dark #pricing-slider .label-text,
.fabric-dark #pricing-slider .sub-heading,
.fluent-dark .pricing-slider,
.fluent-dark #pricing-slider .label-text,
.fluent-dark #pricing-slider .sub-heading,
.fluent2-dark .pricing-slider,
.fluent2-dark #pricing-slider .label-text,
.fluent2-dark #pricing-slider .sub-heading,
.fluent2-highcontrast .pricing-slider,
.fluent2-highcontrast #pricing-slider .label-text,
.fluent2-highcontrast #pricing-slider .sub-heading,
.tailwind-dark .pricing-slider,
.tailwind-dark #pricing-slider .label-text,
.tailwind-dark #pricing-slider .sub-heading,
.bootstrap5-dark .pricing-slider,
.bootstrap5-dark #pricing-slider .label-text,
.bootstrap5-dark #pricing-slider .sub-heading,
.bootstrap-dark .pricing-slider,
.bootstrap-dark #pricing-slider .label-text,
.bootstrap-dark #pricing-slider .sub-heading {
    color: white;
}

.fabric .cloud-right-content .e-btn.e-info,
.highcontrast .e-btn.e-info {
    line-height: 2px;
}

.highcontrast #dollar,
.highcontrast #cloud-slider-text #value,
.highcontrast #dialog-header,
.highcontrast #StorgeDialog,
.highcontrast #CloudDialog,
.highcontrast #processorDialog,
.material-dark #dollar,
.material-dark #cloud-slider-text #value,
.material-dark #dialog-header,
.material-dark #StorgeDialog,
.material-dark #CloudDialog,
.material-dark #processorDialog,
.material3-dark #dollar,
.material3-dark #cloud-slider-text #value,
.material3-dark #dialog-header,
.material3-dark #StorgeDialog,
.material3-dark #CloudDialog,
.material3-dark #processorDialog,
.fabric-dark #dollar,
.fabric-dark #cloud-slider-text #value,
.fabric-dark #dialog-header,
.fabric-dark #StorgeDialog,
.fabric-dark #CloudDialog,
.fabric-dark #processorDialog,
.fluent-dark #dollar,
.fluent-dark #cloud-slider-text #value,
.fluent-dark #dialog-header,
.fluent-dark #StorgeDialog,
.fluent-dark #CloudDialog,
.fluent-dark #processorDialog,
.fluent2-dark #dollar,
.fluent2-dark #cloud-slider-text #value,
.fluent2-dark #dialog-header,
.fluent2-dark #StorgeDialog,
.fluent2-dark #CloudDialog,
.fluent2-dark #processorDialog,
.fluent2-highcontrast #dollar,
.fluent2-highcontrast #cloud-slider-text #value,
.fluent2-highcontrast #dialog-header,
.fluent2-highcontrast #StorgeDialog,
.fluent2-highcontrast #CloudDialog,
.fluent2-highcontrast #processorDialog,
.bootstrap-dark #dollar,
.bootstrap-dark #cloud-slider-text #value,
.bootstrap-dark #dialog-header,
.bootstrap-dark #StorgeDialog,
.bootstrap-dark #CloudDialog,
.bootstrap-dark #processorDialog,
.bootstrap5-dark #dollar,
.bootstrap5-dark #cloud-slider-text #value,
.bootstrap5-dark #dialog-header,
.bootstrap5-dark #StorgeDialog,
.bootstrap5-dark #CloudDialog,
.bootstrap5-dark #processorDialog,
.tailwind-dark #dollar,
.tailwind-dark #cloud-slider-text #value,
.tailwind-dark #dialog-header,
.tailwind-dark #StorgeDialog,
.tailwind-dark #CloudDialog,
.tailwind-dark #processorDialog,
.bootstrap5\.3-dark #dialog-header,
.bootstrap5\.3-dark #StorgeDialog,
.bootstrap5\.3-dark #CloudDialog,
.bootstrap5\.3-dark #processorDialog {
    color: white;
}

.highcontrast #pricing-slider .row,
.tailwind-dark #pricing-slider .row,
.bootstrap-dark #pricing-slider .row,
.bootstrap5-dark #pricing-slider .row,
.fabric-dark #pricing-slider .row,
.fluent-dark #pricing-slider .row,
.fluent2-dark #pricing-slider .row,
.fluent2-highcontrast #pricing-slider .row,
.material-dark #pricing-slider .row,
.material3-dark #pricing-slider .row {
    border: 1px solid #969696;
}

.highcontrast #cloud-right-pane,
.tailwind-dark #cloud-right-pane,
.bootstrap-dark #cloud-right-pane,
.bootstrap5-dark #cloud-right-pane,
.fabric-dark #cloud-right-pane,
.fluent-dark #cloud-right-pane,
.fluent2-dark #cloud-right-pane,
.fluent2-highcontrast #cloud-right-pane,
.material-dark #cloud-right-pane,
.material3-dark #cloud-right-pane
{
    border-left: 1px solid #969696;
}

.highcontrast #cloud-slider-text,
.highcontrast #pricing-slider #cloud-right-pane .btn-size,
.material-dark #cloud-slider-text,
.material-dark #pricing-slider #cloud-right-pane .btn-size,
.material3-dark #cloud-slider-text,
.material3-dark #pricing-slider #cloud-right-pane .btn-size,
.fabric-dark #cloud-slider-text,
.fabric-dark #pricing-slider #cloud-right-pane .btn-size,
.fluent-dark #cloud-slider-text,
.fluent-dark #pricing-slider #cloud-right-pane .btn-size,
.fluent2-dark #cloud-slider-text,
.fluent2-dark #pricing-slider #cloud-right-pane .btn-size,
.fluent2-highcontrast #cloud-slider-text,
.fluent2-highcontrast #pricing-slider #cloud-right-pane .btn-size,
.bootstrap-dark #cloud-slider-text,
.bootstrap-dark #pricing-slider #cloud-right-pane .btn-size,
.bootstrap5-dark #cloud-slider-text,
.bootstrap5-dark #pricing-slider #cloud-right-pane .btn-size,
.tailwind-dark #cloud-slider-text,
.tailwind-dark #pricing-slider #cloud-right-pane .btn-size {
    border-bottom: 1px solid #969696;
}

.highcontrast #processor,
.tailwind-dark #processor,
.bootstrap-dark #processor,
.bootstrap5-dark #processor,
.fabric-dark #processor,
.fluent-dark #processor,
.fluent2-dark #processor,
.fluent2-highcontrast #processor,
.material-dark #processor,
.material3-dark #processor {
    background-color: #AE80FF;
}

.highcontrast #memory,
.tailwind-dark #memory,
.bootstrap-dark #memory,
.bootstrap5-dark #memory,
.fabric-dark #memory,
.fluent-dark #memory,
.fluent2-dark #memory,
.fluent2-highcontrast #memory,
.material-dark #memory,
.material3-dark #memory {
    background-color: #7ED321;
}

.highcontrast #storage,
.tailwind-dark #storage,
.bootstrap-dark #storage,
.bootstrap5-dark #storage,
.fabric-dark #storage,
.fluent-dark #storage,
.fluent2-dark #storage,
.fluent2-highcontrast #storage,
.material-dark #storage,
.material3-dark #storage {
    background-color: #61A4EF;
}

.highcontrast #cloud-left-pane,
.tailwind-dark #cloud-left-pane,
.bootstrap-dark #cloud-left-pane,
.bootstrap5-dark #cloud-left-pane,
.fabric-dark #cloud-left-pane,
.fluent-dark #cloud-left-pane,
.fluent2-dark #cloud-left-pane,
.fluent2-highcontrast #cloud-left-pane,
.material-dark #cloud-left-pane,
.material3-dark #cloud-left-pane {
    background-color: #1a1a1a;
}

.highcontrast #cloud-right-pane,
.tailwind-dark #cloud-right-pane,
.bootstrap-dark #cloud-right-pane,
.bootstrap5-dark #cloud-right-pane,
.fabric-dark #cloud-right-pane,
.fluent-dark #cloud-right-pane,
.fluent2-dark #cloud-right-pane,
.fluent2-highcontrast #cloud-right-pane,
.material-dark #cloud-right-pane,
.material3-dark #cloud-right-pane {
    background-color: #000;
}

.highcontrast #processorPriceName,
.highcontrast #memoryPriceName,
.highcontrast #storgePriceName,
.highcontrast #cloudPriceName,
.tailwind-dark #processorPriceName,
.tailwind-dark #memoryPriceName,
.tailwind-dark #storgePriceName,
.tailwind-dark #cloudPriceName,
.bootstrap-dark #processorPriceName,
.bootstrap-dark #memoryPriceName,
.bootstrap-dark #storgePriceName,
.bootstrap-dark #cloudPriceName,
.bootstrap5-dark #processorPriceName,
.bootstrap5-dark #memoryPriceName,
.bootstrap5-dark #storgePriceName,
.bootstrap5-dark #cloudPriceName,
.fabric-dark #processorPriceName,
.fabric-dark #memoryPriceName,
.fabric-dark #storgePriceName,
.fabric-dark #cloudPriceName,
.fluent-dark #processorPriceName,
.fluent-dark #memoryPriceName,
.fluent-dark #storgePriceName,
.fluent-dark #cloudPriceName,
.fluent2-dark #processorPriceName,
.fluent2-dark #memoryPriceName,
.fluent2-dark #storgePriceName,
.fluent2-dark #cloudPriceName,
.fluent2-highcontrast #processorPriceName,
.fluent2-highcontrast #memoryPriceName,
.fluent2-highcontrast #storgePriceName,
.fluent2-highcontrast #cloudPriceName,
.material-dark #processorPriceName,
.material-dark #memoryPriceName,
.material-dark #storgePriceName,
.material-dark #cloudPriceName,
.material3-dark #processorPriceName,
.material3-dark #memoryPriceName,
.material3-dark #storgePriceName,
.material3-dark #cloudPriceName,
.bootstrap5\.3-dark #processorPriceName,
.bootstrap5\.3-dark #memoryPriceName,
.bootstrap5\.3-dark #storgePriceName,
.bootstrap5\.3-dark #cloudPriceName {
    color: white;
    opacity: 1;
}

.bootstrap5\.3-dark .discount .e-label, .bootstrap5\.3-dark #cloud-slider-text .suffix,
.tailwind3-dark .discount .e-label, .tailwind3-dark #cloud-slider-text .suffix {
    color: black;
}

#dialog-header {
    color: #000000;
    opacity: .87;
    font-weight: 600;
    font-size: 20px;
}

#CloudDialog {
    color: #000000;
    padding-top: 14px;
    padding-bottom: 24px;
    border-top: 1px solid #CCCCCC;
}

#processorPrice,
#memoryPrice,
#storgePrice {
    opacity: 0.9;
    font-weight: 600;
    font-size: 16px;
    float: right;
}

#alertDialog .e-footer-content {
    padding-top: 0;
}

#processorPriceName,
#memoryPriceName,
#storgePriceName,
#cloudPriceName {
    opacity: 0.9;
    color: #000000;
    font-size: 16px;
}

#cloudPrice {
    opacity: 0.9;
    font-weight: 600;
    font-size: 26px;
    float: right;
}

#processorDialog {
    color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
}

#StorgeDialog {
    color: #000000;
    padding-top: 12px;
    padding-bottom: 16px;
}

.bootstrap4 #pricing-slider .row {
    box-shadow: none;
}
