#control_wrapper {
    margin: 0 auto;
    max-width: 300px;    
}
#control_wrapper.multiselectWrapper{
    float: none;
}

.control-section {
    margin: 25px auto;
}

.e-bigger #wrapper,
.e-bigger#wrapper {
        max-width: 300px;
}
.content-value {
    padding: 10px;
    overflow: auto;
    max-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 15px;
    font-size: 12px;
}
.highcontrast .content-value,
.material-dark .content-value,
.material3-dark .content-value,
.fabric-dark .content-value,
.bootstrap-dark .content-value,
.bootstrap5-dark .content-value,
.bootstrap5\.3-dark .content-value,
.tailwind-dark .content-value,
.tailwind3-dark .content-value {
    border: 1px solid rgb(150, 150, 150);
}

body.fluent-dark #selected,
body.fluent2-dark #selected,
body.fluent2-highcontrast #selected,
body.bootstrap5-dark #selected,
body.bootstrap5\.3-dark #selected,
body.tailwind-dark #selected,
body.tailwind3-dark #selected,
body.material-dark #selected,
body.material3-dark #selected,
body.fabric-dark #selected,
body.bootstrap-dark #selected,
body.highcontrast #selected {
    color: white;
} 