#control_wrapper {
    margin: 0 auto;
    max-width: 300px;
}

.control-section {
    margin: 25px auto;
}
#selected {
    height: 50px;
    width: 248px;
    display: block;
    font-weight: inherit;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.58);
}
body.fluent-dark #selected,
body.bootstrap5-dark #selected,
body.tailwind-dark #selected,
body.material-dark #selected,
body.fabric-dark #selected,
body.bootstrap-dark #selected,
body.highcontrast #selected {
    color: white;
} 