<div id="action-description">
    <p>This sample demonstrates the Template functionalities of the Tooltip which will open by Hover or Touch-hold action on
        Toolbar option.</p>
</div>

<div class="control-section">

    <!-- Tooltip element -->
    <ejs-tooltip #tooltip target=".toolbarContainer [title]" (beforeRender)="onBeforeRender($event)" [showTipPointer]='false'
        [offsetX]='70' [width]='170'>
        <!-- Tooltip target container -->
        <div class="toolbarContainer">
            <!-- Toolbar element -->
            <ejs-toolbar id="Toolbar">
                <e-items>
                    <e-item *ngFor="let icon of toolbarIcons" id="{{icon.id}}" prefixIcon="e-{{ icon.name }}-icon tb-icons" tooltipText={{icon.name}}></e-item>
                </e-items>
            </ejs-toolbar>
        </div>

        <!-- Tooltip templates -->
        <ng-template #tooltip_template *ngFor="let data of tooltipData">
            <div>
                <h6>{{data.header}}</h6>
                <p>{{data.para}}</p>
            </div>
        </ng-template>
    </ejs-tooltip>
</div>

<div id="description">
    <p>This sample illustrates the way to display the template content on the tooltip. With the usage of Template, the user
        can format and structure the HTML content to be displayed on the tooltip as per their application needs.</p>
    <p>In this sample, the tooltip is integrated with toolbar component to display the respective icon’s information. Here,
        the HTML template design is compiled and then the resultant output display is directly assigned to the
        <code> content</code>property of the tooltip. The template compilation process needs to be done on the
        <code>beforeRender</code> event of the tooltip.</p>
    <p>More information about setting template content on the Tooltip can be found in the
        <a href="http://ej2.syncfusion.com/angular/documentation/tooltip/content.html#template-content" target="_blank"> documentation section</a>.
    </p>
</div>