.content-wrapper div.floatinglabel-row {
    margin: 30px 150px;
}

.floatinglabel-property .left-side {
    font-size: 14px;
    padding: 8px;
}

#textarea-float .e-multi-line-input {
    max-width: 100%;
}