<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div id="container">
            <ejs-tab id="tab_default" #tabDefault (created)="tabCreated()">
              <e-tabitems>
                <e-tabitem [header]="headerText[0]">
                  <ng-template #content>
                    <div id="prompt-ui">
                      <div id="customTbarDialog">
                        <span class="e-text">Query</span>
                        <textarea id="text-area" aria-label="ai assistant query box"
                          placeholder="find all users who lives in los angeles and have over 1000 credits"></textarea>
                      </div>
                    </div>
                  </ng-template>
                </e-tabitem>
                <e-tabitem [header]="headerText[1]">
                  <ng-template #content>
                    <div id="querybuilder-ui">
                      <ejs-querybuilder #querybuilder [dataSource]="users">
                        <e-columns>
                          <e-column field="id" label="ID" type="number"></e-column>
                          <e-column field="name" label="Name" type="string"></e-column>
                          <e-column field="email" label="Email" type="string"></e-column>
                          <e-column field="address" label="Address" type="string"></e-column>
                          <e-column field="city" label="City" type="string"></e-column>
                          <e-column field="state" label="State" type="string"></e-column>
                          <e-column field="credits" label="Credits" type="number"></e-column>
                        </e-columns>
                      </ejs-querybuilder>
                    </div>
                  </ng-template>
                </e-tabitem>
              </e-tabitems>
            </ejs-tab>

            <div class="e-custom-elem">
              <button ejs-button id="submit" (click)="generateQuery()" cssClass="e-control e-btn e-primary" iconCss="e-icons e-play">Run Query</button>
            </div>
            <div class="e-custom-elem">
              <span class="e-text">Results from your AI generated Query</span>
              <div style="margin-top: 10px;">
                <ejs-grid id="grid" #grid (created)="gridCreated()" [dataSource]="users" [allowSelection]="true"
                  [allowPaging]="true" [pageSettings]="{ pageSize: 10 }" width="100%">
                  <e-columns>
                    <e-column field="id" headerText="Task ID" width="120" textAlign="Right"></e-column>
                    <e-column field="name" headerText="Name" width="140"></e-column>
                    <e-column field="email" headerText="Email" width="140" textAlign="Right"></e-column>
                    <e-column field="address" headerText="Address" width="130"></e-column>
                    <e-column field="city" headerText="City" width="120"></e-column>
                    <e-column field="state" headerText="State" width="130"></e-column>
                    <e-column field="credits" headerText="Credits" width="130"></e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
    </div>
    <div id="action-description">
        <p>
            Natural Language Querying in the Query Builder allows users to construct complex queries using plain,
            everyday language. Instead of relying on technical query syntax, users can simply type their questions or requests as
            they would naturally speak them. This feature interprets the intent and generates the corresponding query,
            making data retrieval more accessible to non-technical users.
        </p>
        <p>To explore this and more Syncfusion Angular Smart AI integrations locally, check out our <a target='_blank'
                href='https://github.com/syncfusion/smart-ai-samples/tree/master/angular/'
                aria-label="Navigate to explore the syncfusion Angular AI Demos repository">GitHub
                repository</a>.</p>
    </div>
    <div id="description">
        <p>
            The Natural Language Querying feature enables users to input queries in plain language, which the system
            then
            interprets to automatically generate the appropriate database queries. This simplifies the process of data
            retrieval, allowing users to obtain insights without needing to understand complex query syntax.
        </p>
    </div>
    <app-ai-toast></app-ai-toast>
</div>