#container {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }

  #text-area{
      width: calc(100% - 22px);
      height: 100px;
      margin-top: 5px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
  }

  .e-tab .e-content {
      padding: 16px;
  }

  .e-text {
      font-weight: bold;
      font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
      font-size: 14px;
  }

  .e-custom-elem {
      margin-bottom: 16px;
      margin-left: 16px;
      width: calc(100% - 32px);
  }